[2015-10-14 15:53] topowright-zz opened #4 "Copy coordinates enhancement"
Having the ability to capture all coordinates that are being viewed in the tool dialog could be useful to the end user.

[2015-10-14 18:01] conklinbd opened #5 "Create history of coordinates entered"
As a user enters coordinates we should have a running log of those coordinates entered and allow for someone to go back and use a previously entered coordinate. When they select that coordinate it should display in the all the current outputs just like they had typed it in fresh.

This will allow for cases where someone changed the conversion properties or add new outputs after they already input

[2015-10-16 17:45] nfeuerstein opened #6 "Consider Batch Coordinate Notation Conversion"
Currently the "Convert Coordinate Notation" tool does batch conversion for tables or feature classes.  This new add-in is much more dynamic and a batch conversion that follows the user experience of this new add-in should be considered.  From a user perspective:  How would I best convert a list of twenty target coordinates that I received in an email?

[2015-10-20 14:25] jofraley opened #7 "Have coordinate update as you move cursor over map vs. just clicking on map"

[2015-10-20 14:27] jofraley opened #8 "Ability to copy a coordinate from one of the inputs and paste into coordinate dialog even if the coordinate has been altered so that you can update coordinate without typing the coordinate again."

[2015-11-06 18:49] topowright-zz opened #15 "Automatically read coordinates from user inputs"
I was working with a customer this week where they created a Java Applet that was very similar to what we are trying to do with this Addin.

One feature they had that I do not think we do is the ability to let the user enter any coordinates and the tool just understands what the coordinate type has been entered instead of having to choose the coordinate type.

[2015-11-18 18:36] #15 closed, assigned to nobody

[2015-11-18 18:43] #5 closed, assigned to conklinbd

[2015-11-20 21:56] #4 closed, assigned to topowright

[2015-11-25 14:23] JSibbald opened #17 "MGRS in Tool is wrong for GCS_WGS_1984"
![wrong mgrs](https://cloud.githubusercontent.com/assets/9469350/11399314/5c14f7d0-937e-11e5-9002-c73faecfed15.png)

[utm_basics_20070319.docx](https://github.com/ArcGIS/coordinate-tool-addin-dotnet/files/43912/utm_basics_20070319.docx)
Using the NGA Guide I plotted the suggested MGRS using the XY Tool on a map based on GCS_WGS_1984.  I also turned the Coordinate Frame to show MGRS in the bottom r

[2015-11-27 14:45] JSibbald opened #18 "Not using leading zeros in DD, DDM and DMS"
![leadingzerolat](https://cloud.githubusercontent.com/assets/9469350/11443481/72aca022-9515-11e5-88bd-06a2572b8077.png)
![leadingzerolong](https://cloud.githubusercontent.com/assets/9469350/11443483/72bfc350-9515-11e5-94e5-6ee5ea34e108.png)
![leadingzeroorigin](https://cloud.githubusercontent.com/assets/9469350/11443482/72b3b150-9515-11e5-93ac-30ce34ae00f9.png)
When the Lat or Long is zero there a

[2015-11-30 14:51] #18 closed, assigned to nobody

[2015-11-30 20:06] #17 closed, assigned to nobody

[2015-11-30 20:48] JSibbald opened #23 "Coord Tool reads local GCS and not GCS_WGS_1984 - issues for interoperability"
The Coord Tool assumes that the local GCS is GCS_WGS_1984 and makes no correction should the Data Frame be in another datum such as when the projection is British National Grid.  There is no indication to the user that the coordinates are not suitable for use with other systems which would be assuming GCS_WGS_1984.

Attached is a text CSV file which has the coordinates in GCS_OSGB_1936, BNG and GC

[2015-12-01 17:42] JSibbald opened #24 "MGRS and USNG Northings (and Eastings?) are truncated if 5 digits has leading zeros"
![truncated northing 01](https://cloud.githubusercontent.com/assets/9469350/11508707/158ff3ae-9852-11e5-883b-1933054578e6.png)
![truncated northing 02](https://cloud.githubusercontent.com/assets/9469350/11508706/158e9e82-9852-11e5-8d05-7d4c6efb67b4.png)
When the Northing (and Easting?) 5 digit has a leading zeros then it fails to put in the 5 digits
For instance using 51.412979931379638 0.00570224

[2015-12-01 17:50] JSibbald opened #25 "MGRS is reporting the wrong "S" = Grid Segment in Edit Output Coordinate preview but is correct in Tool"
![wrong segment 01](https://cloud.githubusercontent.com/assets/9469350/11509041/bad7ee38-9853-11e5-8081-0f3cf3884f00.png)
![wrong segment 02](https://cloud.githubusercontent.com/assets/9469350/11509042/baf2a1e2-9853-11e5-898c-dcadfaabcc32.png)

In the Sample of the Edit Output Coordinate tool it displays the incorrect Grid Segment ("FH" in the screenshot) but correctly shows the "FT" in the Tool

[2015-12-01 18:39] #25 closed, assigned to nobody

[2015-12-18 15:08] pshowalter opened #31 "Coordinate Tool - Edit Output Coordinate - Using example "+-Y0.0 +-X0.0" does not produce negative longitude in western hemisphere."
Coordinate Tool - Edit Output Coordinate - Advanced - the example indicates "+-Y0.0 +-X0.0" will show the sign of the X or Y, but it does not produce negative longitude in western hemisphere, unless you click south of the equator
![image](https://cloud.githubusercontent.com/assets/6842145/11899636/77567ec2-a56e-11e5-8ff1-731192ab76eb.png)

[2015-12-18 20:03] #31 closed, assigned to nobody

[2015-12-18 20:08] pshowalter opened #32 "Example for formating string is not correct. Example : "+-Y0.0 +-X0.0" will output "+41.1 -78.2""
An example for formatting string in README.md needs to be updated:

Example : "+-Y0.0 +-X0.0" will output "+41.1 -78.2"

Should read:
Example : "Y+-0.0 X+-0.0" will output "+41.1 -78.2"

[2015-12-18 20:50] #32 closed, assigned to nobody

[2015-12-21 23:33] topowright-zz opened #33 "Default name for adding coordinate types"
@jmccausland @mcalamito  When adding a new coordinate to the add-in the name should default to the name of the coordinate instead of Temp. As a user Temp does not make sense. We want to take as much of the leg work out of the add-in for the end user as possible.

I understand that all names have to be unique, but the default should be set to the coordinate type.

[2015-12-21 23:38] topowright-zz opened #34 "Incorrect format for UTM coordinates"
@jmccausland @mcalamito When adding the default coordinate format there is a m following the easting and northing. Here is an example:

50N 266013m 3826095m

This format should be done with a space not with a m.

[2015-12-22 13:41] csmoore opened #35 "Add Apache License Headers to source files"

[2015-12-22 14:55] pshowalter opened #36 "Coordinate tool stays active in ArcMap Layout mode, but returns page coordinates"
Coordinate tool stays active in ArcMap Layout mode, but returns layout page coordinates, rather than map coordinates.

[2015-12-22 15:04] pshowalter opened #37 "README.md - "Getting Started with the Coordinate Tool Addin (.NET)" - should mention Addin is available in Application folder."
README.md - "Getting Started with the Coordinate Tool Addin (.NET)" should mention AddIn is available in ArcGIS/coordinate-tool-addin-dotnet\application folder.  As it reads now, I thought it had to be compiled by user.

[2015-12-22 18:37] #35 closed, assigned to jmccausland

[2015-12-22 19:46] #37 closed, assigned to nobody

[2015-12-22 21:46] pshowalter opened #42 "Add Button not working"
With latest build, the Add button is not work on 2 systems that I have checked.
![addbuttonnotworking](https://cloud.githubusercontent.com/assets/6842145/11966728/85eea9ea-a8cb-11e5-8c40-43a7b8f837a2.JPG)

[2015-12-23 15:08] #36 closed, assigned to nobody

[2015-12-23 15:20] #42 closed, assigned to nobody

[2015-12-23 15:34] pshowalter opened #44 "Edit Output coordinate - does not keep "custom" name if additional "configure" is needed."
Edit Output coordinate - does not keep "custom" name if additional "configure" is needed.  I make a custom Output called DD_sign using: Y+-0.0 X+-0.0 and click Ok.  I decide that I want to tweek it a bit, so I click "configure".  "Name" defaults to DD, and DD_sign does not persist.  I have to remember to type in DD_sign, or other name, though a message reminds me that DD already exists, so it does

[2015-12-23 16:41] #44 closed, assigned to nobody

[2015-12-23 18:42] #33 closed, assigned to topowright

[2015-12-23 19:08] #34 closed, assigned to jmccausland

[2015-12-28 14:21] jmccausland opened #46 "Using Flash command in layout view results in an invalid layout"

[2015-12-28 14:26] #46 closed, assigned to nobody

[2015-12-31 05:00] topowright opened #53 "Adding new coordinate types in ArcGIS Pro add-in"
@jmccausland When adding the DD type in ArcGIS Pro the default label is Temp. It should be DD.

[2016-01-04 17:19] pshowalter opened #54 "README should indicate Pro 1.2 is required for latest Coordinate Tool"
README should indicate Pro 1.2 is required for latest Coordinate Tool, currently it references Pro 1.1 as being required.

[2016-01-04 20:05] jmccausland commented on #53
@topowright please verify

[2016-01-05 20:31] topowright opened #56 "Ability to use GEOREF coordinates"
Users might need to have the ability to use GEOREF coordinate type in both add-ins

[2016-01-05 21:13] jmccausland commented on #54
The readme will be updated when the application is updated, for now Pro 1.1 is correct

[2016-01-05 21:13] #54 closed

[2016-01-12 15:16] jmccausland opened #58 "Pro Addin outputs USNG to 8 digits instead of 5"

[2016-01-24 17:38] conklinbd opened #62 "Icon and UI on High Resolution Display"
I noticed that the icon size and text font/input size is extremely large in ArcMap on high resolution displays. I remember at one point we had to make high resolution icons for the toolbars, not sure if this is related.

This screenshot is from my laptop with a 3200X1800 resolution.
![image](https://cloud.githubusercontent.com/assets/2582674/12537820/227f69a4-c27e-11e5-8818-3ed0ff6a4e5c.png)

[2016-01-24 17:43] conklinbd commented on #62
After testing a little bit more, I seems this is actually caused by the option in Windows to scale text, apps and other items. I am guessing that the rest of the ArcMap UI is just not scaling but this .Net control is. I think that is expected behavior so I am closing.

[2016-01-24 17:43] #62 closed

[2016-02-05 15:02] mcalamito opened #63 "Remove "m" From Default UTM Format in CT Widget"
By default, UTM should not have "m" in the output. That should only be added if the user customizes it. This follows suit for the Map and Pro Add-ins.

[2016-02-05 15:02] mcalamito opened #64 "Create Ability to Have Custom Name for Each Coordinate Format in CT Widget"
If we are giving the user the ability to add multiple Coordinate Outputs of the same Coordinate Type, we should add the ability to have a custom name. Otherwise, there is not much of a use case. Why? If I add two DD Coordinates, and I customize one of them, the both DD coordinates update. Therefore, there is no unique benefit to having multiple coordinate outputs of the same type unless we can mak

[2016-02-05 15:37] MarkTorrey commented on #63
Moving this over to the CoordinateTool Widget [Repo](https://github.com/Esri/solutions-webappbuilder-widgets/issues/428).

[2016-02-05 15:37] #63 closed

[2016-02-05 15:40] MarkTorrey commented on #64
Moving this to widgets [repo](https://github.com/Esri/solutions-webappbuilder-widgets/issues/429)

[2016-02-05 15:40] #64 closed

[2016-02-05 19:29] pshowalter opened #65 "Coordinate Tool addin - custom format with DMS does not work with dashes."
Installed Add-in 2/5 9:30 AM est.

Format string:
**A0:B0:C0.0/X0:Y0:Z0.0**  produces: **34:1:2.4/117:12:45.7**
**A0-B0-C0.0/X0-Y0-Z0.0** produces: **3412.4/117-1245.7**

Dashes work fine in MGRS.

We have an Web Page Help example in the WAB CT widget for formatting DMS with dashes and a slash between lat/lon.  I tried to replicate in the desktop addin, and can't get it to work.  Other characters

[2016-02-12 15:33] pshowalter opened #66 "Image of Coordinate Tool in README does not match current version."
Current version - downloaded today:
![image](https://cloud.githubusercontent.com/assets/6842145/13011219/be73ce5a-d173-11e5-8e2a-cfc3826f698d.png)

README graphic on repo
![image](https://cloud.githubusercontent.com/assets/6842145/13011260/f2657a06-d173-11e5-98d8-8b6e64ff6b85.png)

[2016-02-19 23:11] joebayles opened #67 "Point Flash Graphic"
The Flash Tool works great in identifying the point on the map (Red Star in ArcGIS Pro, Green Diamond in ArcMap).

Attempting to remove the graphic, however, is proving difficult. In ArcMap, I have to clear graphics from the Draw toolbar. In ArcGIS Pro, I can't seem to clear the graphic.

I would suggest either engineering the flash to clear itself automatically, or add a "Flash Clear" button.

Th

[2016-02-22 20:51] mcalamito commented on #24
This was immediately noticed by the customer when demoed on-site on 18FEB2016. However, the analyst noticed this when he explored the "Expand" button in the output coordinate format. If the Easting or Northing starts with a 0, it is dropped from the expanded results. This cannot be truncated or dropped.

Could this have to do with the text box being an integer instead of a string?

[2016-02-22 20:57] mcalamito commented on #7
I agree with the above in that this should be considered for an enhancement in near future releases maybe. When demoed on-site, this was one of a few features in which they immediately asked if Coordinate Tool had. As the users mouse moves across the Data Frame, coordinates need to update (somewhere...whether that is in the current Input box or not). When the user clicks the Map Point Tool, it wou

[2016-02-22 21:01] mcalamito opened #68 "Use the "Flash" Call Inherent to ArcMap for Flash button"
Customer Feedback from on-site visit on 18FEB2016. Currently the Flash button pans-to and creates a graphic at the coordinate location. What if the graphic is the same symbology as a feature at the same location? When clicking the "Flash" button, the user thought it would act just like the inherent "Flash" call in ArcMap.

This isn't identical to Issue #67, but does overlap when speaking about the

[2016-02-22 21:20] mcalamito opened #69 "Decrease Size of the add-in when tool is docked"
Customer Feedback from on-site visit on 18FEB2016. Multiple users docked their Coordinate Tool window underneath the Table of Contents. This was their initial workflow/instinct. Neither right or wrong, this is the location that they placed it. In doing so, the Table of Contents had to be expanded in order to see the full output of coordinates in their output list. This reduced the amount of room t

[2016-02-29 05:34] topowright commented on #69
The add-in should not make the user have to expand the dock-able window to such an extent that they lose  major amount of real estate.

[2016-02-29 06:06] topowright commented on #68
Remove the creation of graphic and only have a flash for the given location that was entered. Flash should work the same way that flash works for the Geocoding tool

[2016-02-29 06:10] topowright commented on #67
After meeting with the customer we plan for the tool to not drop a graphic  #68

[2016-02-29 06:12] topowright commented on #66
Update the readme to show the correct image for ArcMap 10.3.1 and for ArcGIS Pro 1.2

[2016-02-29 06:14] topowright commented on #65
Please give me an estimation on how much work would be needed to add special characters.

[2016-02-29 06:17] topowright commented on #56
Verifying if this is actually needed based on the seven types that we have added since this issue was logged.

[2016-02-29 06:19] topowright commented on #58
@jmccausland Do you have an update to this issue?

[2016-02-29 06:22] topowright commented on #53
This has been fixed.

[2016-02-29 06:22] #53 closed

[2016-02-29 06:24] topowright commented on #8
Check with @jofraley about this update

[2016-02-29 06:26] topowright commented on #7
@jmccausland  I feel like we now have this capability in the other add-ins. If so we need to update the coordinate tool with this capability.

[2016-02-29 06:29] topowright commented on #6
This tool will not address batch conversion.

[2016-02-29 06:29] #6 closed

[2016-02-29 06:34] topowright commented on #24
@jmccausland I think that there was more to this bug that initially thought.

[2016-02-29 06:41] topowright opened #70 "Change the name of the tool and the repo"
- [x] The add-in should be called Coordinate Conversion ArcMap 10.3.1
- [x] The add-in should be called Coordinate Conversion ArcGIS Pro 1.2
- [x] The repo should be called coordinate-conversion-addin

[2016-02-29 06:42] topowright opened #71 "A complete description for each of the add-ins"
- [x] ArcGIS Pro 1.2
- [x] ArcMap 10.3.1

[2016-02-29 06:44] topowright opened #72 "Add tool tips"
- [x] Add tool tip for last five coordinate drop down icon
- [x] Possibly add New Coordinate instead of just add

[2016-02-29 06:49] topowright commented on #23
@mcalamito I need to know if this is an issue that you have seen with customers. If so what do they expect the behavior to be. I

[2016-02-29 06:51] topowright opened #73 "The map point tool should match the icon that is being used on other add-ins"
We need to have continuity across all of our add-ins. We need to change this icon to the same icon that we are using on the Distance and Direction and the Visibility add-ins.

[2016-02-29 07:38] topowright commented on #7
@jmccausland I have checked the other tools and they do not do this, but this is something that the old tool did that will be expected of the new add-in.

[2016-02-29 13:54] jmccausland commented on #58
updated on Jan 13th, needs verified

[2016-02-29 14:41] jmccausland commented on #70
FYI, @topowright, I do not have permissions to change the name of a public repo

[2016-02-29 15:09] csmoore commented on #70
I believe I do have permission - let me know if you want me to change:

This would be the only repo that uses the name "add-in" versus "addin" if you wanted to be consistent with the existing ones: https://github.com/Esri?utf8=%E2%9C%93&query=addin

[2016-02-29 18:32] mfunk commented on #71
This is the description seen in the ArcMap Add-In Manager.

[2016-02-29 18:51] mfunk commented on #73
@topowright Can you add a screenshot of which one should be used? Thnx.

[2016-02-29 21:15] pshowalter commented on #70
When the naming issue is resolved, make sure to catch the typo on
Use:
**coordinate**-conversion-add-in
not:
**coordiante**-conversion-add-in

[2016-02-29 21:42] joebayles commented on #67
Roger.

[2016-02-29 21:42] #67 closed

[2016-03-01 13:34] jmccausland commented on #73
@topowright updated, please verify

[2016-03-01 15:50] lfunkhouser commented on #73
Assigning to @topowright to verify

[2016-03-01 18:10] pshowalter opened #75 "Coordinate Tool - Readme - Custom Formatters - Spatial Reference - not documented"
The Coordinate Tool - Readme (and other doc) - Custom Formatters - Spatial Reference is not documented.  Is the intent of this tool to allow user to change aspects of the converted coordinates, such as datum?  Changed the data to GCS_OSGB_1936 as used in issue  https://github.com/Esri/coordinate-tool-addin-dotnet/issues/23 - results are inconclusive.

![image](https://cloud.githubusercontent.com/a

[2016-03-01 18:25] pshowalter opened #76 "Coordinate Tool - erases user graphics when Flash is clicked."
If user adds graphics via Draw menu to the map, then clicks the Flash tool on Coordinate Calculator (Coordinate Tool), the users graphics are erased. Tested with point, poly, ellipse, line.
![image](https://cloud.githubusercontent.com/assets/6842145/13436901/7b06d672-dfaf-11e5-84d3-2a24f99977af.png)
![image](https://cloud.githubusercontent.com/assets/6842145/13436919/941cb23a-dfaf-11e5-8e97-e529ce

[2016-03-01 18:27] mfunk commented on #70
@pshowalter that stuff can be edited in-line. I've changed it.

[2016-03-01 19:03] jmccausland commented on #69
@topowright @pshowalter @mcalamito someone review and verify

[2016-03-01 20:43] jmccausland commented on #7
@topowright please review and verify

[2016-03-02 13:39] jmccausland commented on #24
@topowright @mcalamito fix has been merged, we need to review and verify

[2016-03-02 19:34] mcalamito commented on #24
@jmccausland @topowright I've been able to test and get double and triple 0's to begin my Easting. It does not truncate anymore. Copies out fine as well. Looks fixed to me.

[2016-03-03 14:05] topowright commented on #69
I have verified this issue.

[2016-03-03 14:05] #69 closed

[2016-03-03 14:08] topowright commented on #65
We will not use dashes in this coordinate type as separators due to the possible misunderstanding of a negative coordinate.

[2016-03-03 14:08] #65 closed

[2016-03-03 14:09] topowright commented on #7
This has been verified.

[2016-03-03 14:09] #7 closed

[2016-03-03 14:10] topowright commented on #66
@pshowalter has this been fixed?

[2016-03-03 14:18] topowright commented on #24
This issue can be broken into two pieces:

1. The issue that was identified by @JSibbald was an issue that can be addressed with formatting.

2. We have addressed and fixed issues with coordinates that lead with zero that was identified by @mcalamito

[2016-03-03 14:18] #24 closed

[2016-03-04 15:34] pshowalter commented on #66
It changed a couple of times.

Now needs to be updated for new "Coordinate Conversion Window" banner.

![image](https://cloud.githubusercontent.com/assets/6842145/13531389/5332fb66-e1f4-11e5-9a95-5bf97be148c2.png)

[2016-03-07 17:00] mfunk opened #80 "Rename repo coordinate-tool-addin-dotnet to coordinate-conversion-addin-dotnet"
@chinasio
@nicogis
@qjw2bqn
@Esriitalia

Follow direction from management the repository will be renamed to match name of the addin and will now be **coordinate-conversion-addin-dotnet**. This could cause issues with any existing forks, and it is therefore recommended that you re-fork the repository.

Since there are no open Pull Requests, the only thing I would only like to do is drop any dead fe

[2016-03-07 18:19] jmccausland commented on #80
@mfunk
I have on PR I'd like to create before this name change

[2016-03-07 18:23] jmccausland commented on #80
@mfunk I have merged my PR and removed all dead branches

[2016-03-07 19:18] mfunk commented on #80
Got it. Done.

[2016-03-07 19:18] #80 closed

[2016-03-10 19:06] mfunk commented on #70
I'm checking off the repo rename.

[2016-03-10 19:08] mfunk opened #82 "Rename the esriAddIn filename to ArcMapAddinCoordinateConversion"
Rename the *esriAddIn* filename to **ArcMapAddinCoordinateConversion**.

Currently it is *ArcMapAddinCoordinateTool.esriAddIn* and I believe it should be consistent with the recent name changes.

[2016-03-14 16:27] jmccausland commented on #70
@topowright please verify

[2016-03-23 13:46] jmccausland commented on #75
This has been removed

[2016-03-23 13:46] #75 closed

[2016-03-26 18:09] jmccausland commented on #68
The flash has been updated to behave like the geocoding "flash"

@mcalamito please verify

[2016-03-28 11:38] mcalamito commented on #68
reviewed and verified. closing ticket.

[2016-03-28 11:38] #68 closed

[2016-03-28 12:27] jmccausland commented on #76
@pshowalter please test and verify that this doesn't happen with the latest

[2016-03-28 12:36] jmccausland commented on #71
@topowright please verify and close

[2016-03-28 12:36] jmccausland commented on #72
#1 is not easily done

[2016-03-28 12:37] #70 closed

[2016-03-28 12:42] #58 closed

[2016-03-28 12:43] jmccausland commented on #8
This has been implemented, closing

[2016-03-28 12:43] #8 closed

[2016-03-28 13:31] #76 closed

[2016-03-28 13:54] pshowalter commented on #66
README graphic needs  updating.  Still has "Coordinate Tool" and one of the buttons has been removed.
![image](https://cloud.githubusercontent.com/assets/6842145/14079346/e6349526-f4ca-11e5-9a32-db5359466e42.png)

[2016-03-28 14:04] jmccausland commented on #66
@pshowalter @topowright can we just update the screenshots instead of creating an issue every time?

[2016-03-28 19:25] lfunkhouser opened #86 "Transfer labels to another repo"

[2016-03-28 19:26] lfunkhouser commented on #86
This issue was moved to ArcGIS/visibility-addin-dotnet#49

[2016-03-28 19:26] #86 closed

[2016-03-28 19:27] lfunkhouser commented on #86
This issue was moved to ArcGIS/military-tools-for-arcgis#5

[2016-03-29 16:55] pshowalter commented on #66
Updated.

[2016-03-29 16:55] #66 closed

[2016-03-29 22:42] ACueva opened #90 "NUnit/Automated test(s)"
Please add and document JUnit tests for use in our daily builds.

Documentation can look similar to this repo(s):

https://github.com/Esri/solutions-widgets-wpf#getting-started-with-the-solution-widgets-wpf
https://github.com/Esri/joint-military-symbology-xml#getting-started-with-the-solution

[2016-03-30 12:11] csmoore commented on #90
Looks like (for this repo at least) these are here: https://github.com/Esri/coordinate-conversion-addin-dotnet/tree/dev/source/CoordinateConversion/CoordinateConversionLibrary.Tests

And just need some doc so Avi knows how to run with the build

[2016-04-05 19:25] conklinbd opened #91 "Tool Icon generic"
The tool icon for the Coordinate Conversion tool is the generic blue button. Should have an icon for Coordinate Conversion.

[2016-04-05 19:40] conklinbd opened #92 "Create Common Formats for each category"
Each category currently has 1 default format.
There are many more common formats, it would be useful to have some more defaults.
This would prevent people from having to create their own custom format and would show them more examples of how to use the custom format expression.

For example.

DD with +/-
MGRS with Spaces

[2016-04-08 19:07] topowright commented on #92
I will add some common formats that I understand. @conklinbd please review these formats when available.

[2016-04-08 19:14] topowright commented on #71
This needs to be verified.

[2016-04-11 14:30] topowright opened #93 "Versions for add-in"
Versions for add-in

[2016-04-12 18:54] mcalamito opened #94 "Display/Capture Live Coordinates Disables When Tool is Changed in ArcMap"
Currently, live coordinates are only captured and displayed when the Coordinate Conversion Addin is in focus and the Map Point Tool has been enabled. The user hover the mouse over the Data Frame and populate coordinates. As soon as another tool (select elements, information tool, selection tool, etc.) is enabled, coordinate capture ceases. Is there anyway to keep this going in the background until

[2016-04-12 19:08] mcalamito opened #95 "Flash AND Pan-to When Enter is Pressed"
Direct Customer feedback - They would like to be able to Pan-to the coordinate entered when clicking the Enter button on the keyboard. If the coordinate they enter is out of the Data Frame View, they will never see it flashing. This occurs very often.

[2016-04-13 05:01] topowright commented on #94
More feedback on this same issue was captured from @cswinehart today.

When users has selected the Map Point Tool they only get to click one time on the map to collect the coordinate. They would like for the add-in to have the ability to continue to grab coordinates, instead of having to re select the Map Point Tool each time they want to grab a new coordinate. The user experience would be somethi

[2016-04-13 05:03] topowright commented on #71
We can see the description in ArcMap, but cannot find the description in ArcGIS Pro.

[2016-04-13 11:07] mcalamito commented on #94
@cswinehart @topowright agree completely with the above assessment as well.

[2016-04-13 13:24] pshowalter commented on #95
As an alternative, I would prefer that the behavior approximate ArcMap (Geocoding Input box, Find tool results, or Go To XY, and user would right click to view context that would allow Zoom To, Pan To, Flash.  I don't usually want the map to Pan if I have an AOI that I am working on with points scattered around.
![image](https://cloud.githubusercontent.com/assets/6842145/14494488/125496d4-0159-11e

[2016-04-15 19:41] topowright commented on #93
@jmccausland I see that we now have a version 1.0. This issue has been verified.

[2016-04-15 19:41] #93 closed

[2016-04-15 19:45] topowright commented on #72
These issues will not be addressed.

[2016-04-15 19:45] #72 closed

[2016-04-15 20:15] topowright commented on #91
@conklinbd we have updated the icon and if you download the new build you will be able to see the changes.

[2016-04-16 05:31] topowright commented on #71
Description can be seen within the Project tab.

[2016-04-16 05:31] #71 closed

[2016-04-18 12:25] jmccausland commented on #82
@mfunk this was changed, please verify

[2016-04-22 15:06] lfunkhouser commented on #86
This issue was moved to ArcGIS/air-c2-cop#1

[2016-04-22 15:42] lfunkhouser commented on #86
This issue was moved to Esri/military-symbol-editor-addin-wpf#39

[2016-04-25 15:46] topowright opened #102 "Pane vs View"
Feedback came from (Eric Rice) that we might want to use  a view instead of a pane.

@jmccausland says that he does not see an option for a view.

@topowright will get more clarity for our developers on what Eric meant by his comments and see if there are options that i can share.

[2016-05-02 22:00] ACueva opened #103 "Remove application folder from repository"
Please remove any pre-compiled addins from the repository.

[2016-05-03 12:40] jmccausland commented on #103
Done

[2016-05-04 21:40] ACueva commented on #103
verified.

[2016-05-04 21:40] #103 closed

[2016-05-09 18:41] jmccausland commented on #90
After a successful build of Coordinate Conversion solution, you should be able to run the following command for unit testing:

`MSTest /testcontainer:CoordinateConversionLibrary.Tests.dll`

This is usually done from a Developer command prompt, shortcut is found in `C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\Tools\Shortcuts`

[2016-05-10 12:55] jmccausland commented on #90
@ACueva we need unit tests added to Jenkins.  I've updated the readme to have unit test instructions also.

[2016-05-10 16:34] topowright opened #110 "Change the name of the add-ins that are built"
ArcMap:
CoordinateConversion.esriAddIn

ArcGIS Pro:
CoordinateConversion.esriAddInX

[2016-05-10 16:38] conklinbd commented on #110
Is there a reason the product name is in the AddIn name?

I don't see the point.

[2016-05-10 16:40] topowright commented on #110
I take it that the extension keeps it unique. Good catch.

[2016-05-10 16:40] topowright commented on #110
fixed.

[2016-05-12 18:49] jmccausland commented on #90
@ACueva @csmoore anything else needed for unit testing to work with Jenkins?

[2016-05-12 19:36] csmoore commented on #90
Just where to find the tests and how to run & I see in the readme: https://github.com/Esri/coordinate-conversion-addin-dotnet#development-environment

It looks like this isn't calling/triggering any SDK calls, ex. AOInitialize (ArcObjects) or Host.Initialize (Pro SDK) so we shouldn't have any of the x86/x64 configuration setting/issues so should be straightforward - @ACueva - just ping me if you w

[2016-05-12 19:52] dhagens commented on #90
Unit tests were added for [visibility-addin-dotnet ](https://github.com/Esri/visibility-addin-dotnet)

After a successful build of Visibility solution, you should be able to run the following command for unit testing:

  MSTest /testcontainer:ArcMapAddinVisibility.Tests.dll *

[2016-05-12 21:33] topowright commented on #102
This is not something that we will do at this point.

[2016-05-12 21:33] #102 closed

[2016-05-13 14:13] jmccausland commented on #110
when are we going to be done changing the name of things.  Do we realize this will require updates to other repos and the Jenkins build?

[2016-05-17 22:02] ACueva commented on #90
Visibility and Coordinate tool tests implemented and passed:
http://<Jenkins Server>:8080/job/military-tools-for-arcgis-build/374/console

@csmoore please verify.

[2016-05-19 13:10] jmccausland commented on #82
closing, this is no longer a valid issue

[2016-05-19 13:10] #82 closed

[2016-05-19 13:13] jmccausland commented on #90
One final additon, [distance and direction](https://github.com/Esri/distance-direction-addin-dotnet)

[2016-05-19 19:14] #110 closed

[2016-06-02 06:12] topowright opened #113 "Change the Map Point Tool icon"
Change the map point tool to use the 16 bit image not the 32 bit image. This is based on the feedback from graphics.

[2016-06-02 13:13] jmccausland commented on #113
There are a few other icons where we are using 32x32.  If we are going to update them to 16x16 then I think we should do them all.

[2016-06-03 13:12] jmccausland commented on #113
pull request waiting #114

[2016-06-03 13:17] dhagens commented on #113
Working on another project right now.  Will get to it when I’m done.  Thanks.

From: Joseph McCausland [mailto:notifications@github.com]
Sent: Friday, June 03, 2016 9:12 AM
To: Esri/coordinate-conversion-addin-dotnet
Subject: Re: [Esri/coordinate-conversion-addin-dotnet] Change the Map Point Tool icon (#113)

pull request waiting #114<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com

[2016-06-03 17:19] jmccausland commented on #95
What we could do for now is if the point is outside the current map extent, pan to, then flash.  But if the point is already within the current map extent, just flash.

[2016-06-03 17:27] mcalamito commented on #95
@jmccausland fantastic idea and would alleviate Patrick's concerns.

[2016-06-03 17:31] topowright commented on #95
I think this is a good approach. I think if we get into the zoom levels that it might be seen as noise.

[2016-06-03 19:28] jmccausland opened #117 "Flash animation embedded overlay is now broken for Pro 1.3 builds"
At Pro 1.2 there were workarounds applied so that the flash animation would function with wacky MapPoint to screen coordinate conversions coming from the core Map object.

It appears that at Pro 1.3 these have been fixed or modified causing the flash animation to have incorrect screen coordinates.

Need to adjust embedded overlay for Pro 1.3.  This could simply be removing all the workarounds or m

[2016-06-15 21:17] #56 closed

[2016-06-15 21:17] topowright commented on #91
We have updated icons that were created by graphics.

[2016-06-15 21:17] #91 closed

[2016-06-16 19:04] jmccausland commented on #95
this has been addressed

[2016-06-16 19:05] jmccausland commented on #113
addressed in #114, verify and close

[2016-06-16 19:06] jmccausland commented on #117
this has been addressed,

[2016-06-16 19:06] #117 closed

[2016-07-29 17:26] topowright opened #128 "Same coordinate shows different locations."
When taking a coordinate from ArcMap add-in to ArcGIS Pro add-in the coordinate/location does not come up the same; however, if I take a coordinate from ArcGIS Pro to ArcMap everything works fine. Any ideas? This is the coordinate I used: 38 53.2788N 076 56.9070W

38 53.2788N 076 56.9070W

[2016-07-29 19:32] jmccausland commented on #128
Fix merged, please verify at next build

[2016-08-22 12:48] csmoore commented on #90
Sorry, didn't notice this was assigned to me - verified

[2016-08-22 12:48] #90 closed

[2016-08-29 17:21] pshowalter opened #133 "Collect Tab - Clear Graphics is not clearing points."
After using Map Point tool to collect points, the "Clear Graphics" button is clicked and nothing happens. Tried selecting, highlighting etc.

Right click in the pane will allow Delete (_selected_), and Delete All, and Flash
![image](https://cloud.githubusercontent.com/assets/6842145/18060190/06cde078-6deb-11e6-8ec8-bcb49c6802b5.png)

Right click in the pane will allow Delete (_selected_), and Dele

[2016-08-29 17:22] jmccausland commented on #133
Known issue

[2016-08-30 12:59] jmccausland commented on #133
removed button

[2016-08-30 12:59] #133 closed

[2016-09-02 15:13] mfunk opened #134 "DD/DDM/DMS Conversion does not work for region settings with "," decimal separator"
Reported by Esri Spain via Tech Support:

The Coordinate Conversion ArcMap 1.0.1 add-in fails to populate the DMS, DD, and DDM fields if the region is set to use a comma as the decimal separator.
1. From the control panel > Region and language > Additional settings > Numbers tab > Decimal symbol ','> OK > OK
2. Download the add-in from:
http://solutions.arcgis.com/defense/templates/coordinate-conv

[2016-09-09 15:56] #128 closed

[2016-10-19 13:15] nfeuerstein commented on #23
@JSibbald Thank you for readdressing this at the TEM this week.  We are going to address this in this release as a high priority bug.

[2016-10-28 20:37] lfunkhouser opened #137 "Coordinate Conversion in ArcGIS Pro Issue"
_From @joebayles on October 14, 2016 21:57_

## Expected Behavior

When typing in an MGRS coordinate string, the Coordinate Conversion Add-In will accurately display the location and convert to another supported coordinate system.
When using a four-digit coordinate (i.e. 11SNT6963), the Add-In should:
- identify the nexus of the 69 easting and 63 northing in the NT grid square of the 11S grid zone

[2016-10-28 20:37] lfunkhouser commented on #137
_From @joebayles on October 14, 2016 21:57_

Copied from https://github.com/ArcGIS/solutions-desktop-templates/issues/271

[2016-10-28 20:37] lfunkhouser commented on #137
_From @nfeuerstein on October 15, 2016 0:3_

Thank you Joe.  Added the showstopper tag and adding to backlog to be addressed next sprint.

[2016-10-28 20:37] lfunkhouser commented on #137
_From @mfunk on October 28, 2016 13:37_

@lfunkhouser @nfeuerstein
This will be fixed in the coordinate-conversion-addin-dotnet repo:
https://github.com/Esri/coordinate-conversion-addin-dotnet

[2016-10-28 21:05] mfunk commented on #137
@joebayles @nfeuerstein

Just want you guys to check off on this. So what we really want is support for 100,000m grids, 10,000m grids, 1,000m grids, 100m grids, 10m grids in addition to the standard 1m grid. What I mean is:

| Grid Size | As Entered | As 15-digit |
| --- | --- | --- |
| 100,000m grid | 11SMT | 11SMT0000000000 |
| 10,000m grid | 11SMT90 | 11SMT9000000000 |
| 1,000m grid | 11SMT9902

[2016-10-28 21:25] nfeuerstein commented on #137
Yes'ir.  That's right.

[2016-10-31 14:25] mfunk commented on #137
Fixed and closed in #136 and #138.

[2016-10-31 14:25] #137 closed

[2016-11-02 17:27] ChristianDiscer opened #140 "Display problem when viewed after "auto hide""
ArcMap for Desktop 10.3.1.4959
Coordinate Conversion (CC) 9/23/2015 Ver 1.0

1. Activate the CC add-in
2. Click the "auto hide" pin to collapse the CC window
3. Click the collapsed CC tab to redisplay the window - The window display's like this.

![screenshot](https://cloud.githubusercontent.com/assets/23219381/19939054/58c5ec4e-a0f5-11e6-8ec8-af89fb61a618.jpg)

4. Clicking the "auto hide" pin aga

[2016-11-02 18:49] jmccausland commented on #140
I'm unable to reproduce this at Desktop 10.5 with the version you're using or the current github source.  Maybe someone, @mfunk @nfeuerstein, is still on 10.3.1 who can test with your steps.

[2016-11-02 18:52] jmccausland commented on #113
No one verified, closing

[2016-11-02 18:52] #113 closed

[2016-11-02 19:41] ChristianDiscer commented on #140
In case this information is also important...

OS: Windows 7 Pro SP1 64-bit
Display adapter: AMD Radeon R9 270

![screenshot](https://cloud.githubusercontent.com/assets/23219381/19944239/fb540618-a108-11e6-9ea0-4c4365067d7f.jpg)

Need anything else?

[2016-11-04 15:40] ACueva opened #141 "UTM coordinates always off by 1"
_From @ACueva on November 3, 2016 15:55_

Not sure if this a bug or not.
Whatever value that's entered UTM will always be off by 1.

![coordinateconversion_screencapturedtandpro](https://cloud.githubusercontent.com/assets/3093940/19973625/fbc05832-a1a2-11e6-8914-be610f2766b5.PNG)

In addition, when expected outputs are checked against
http://egeoint.nrlssc.navy.mil/web_geographic_translator/faces/

[2016-11-04 15:40] ACueva commented on #141
_From @jmccausland on November 4, 2016 14:52_

@ACueva This should be added to the CC repo.  What version of ArcMap and Pro are you running?  I can't reproduce this issue with your test data at 10.5 Desktop or Pro 1.3.1.  In addition I've tested both the released and Dev version.

[2016-11-04 15:40] ACueva commented on #141
@jmccausland Good call, i'll move this to the right Repo.  If you look at the image above you can see what i'm referring to.  MGRS. USNG both end in 90.  UTM ends with 89.  If we plug that same value into http://egeoint.nrlssc.navy.mil/web_geographic_translator/faces/tabbed_transform.jsp UTM ends in 90.

[2016-11-04 15:47] jmccausland commented on #141
I looked at you image and can't reproduce the stated issue.

[2016-11-04 16:18] ACueva commented on #141
I looked at the exact values, for some reason now, it's off by one at the 87
Input:10SFF5288833490

USNG:10SFF5288833490
UTM: 10N 652887 4033490

[2016-11-04 17:15] jmccausland commented on #141
What are the results at Desktop 10.3.1?  10.4?  10.5?  I'm asking this because the output uses the IConversionNotation interface and there may be different results due to rounding policies.  Basically this will most likely be a core issue.

[2016-12-02 16:02] #95 closed

[2016-12-02 18:10] topowright opened #142 "Branch needed for ArcGIS Pro 1.2 Support"
Currently our Dev branch supports current development and Master branch should support the latest release. I have been asked by @dhagens to create this issue to allow us to understand the effort that is needed for taking the code that was compiled in ArcGIS Pro 1.3 and moving it to ArcGIS Pro 1.2.

Due to changes in the API this work is necessary before any bugs can be addressed in ArcGIS Pro 1.2

[2016-12-02 18:13] nfeuerstein commented on #142
@dhagens @topowright verifying that the bug fixes in 1.2 are only for Coordinate Conversion and Military Symbol Editor add-ins.  Distance and Direction and Visibility are dead at 1.2.  Correct?

[2016-12-02 18:15] dhagens commented on #142
Only creating the 1.2 branch for Coordinate Conversion at this time to allow us to work on the Coordinate Conversion 1.2 bugs.

[2016-12-02 18:23] topowright commented on #142
@nfeuerstein that is what I understand based on the MTA presentation given earlier this week. Thank you for bringing that up for clarification.

[2016-12-02 18:55] dhagens commented on #142
ArcGIS Pro 1.2 branch has been created and the current code has been modified to work with the 1.2 API.  For any 1.2 bug fixes, we'll need to make those changes to the ArcGIS_Pro_1.2 branch in CoordinateConversion.  The fix will also need to go into the dev branch as well.

[2016-12-02 18:55] #142 closed

[2016-12-14 19:13] lfunkhouser opened #149 "Coordinate Conversion: should clear all outputs when invalid coordinate is entered"
_From @elinz on December 14, 2016 18:53_

**NOTE: This is an enhancement, but a very critical enhancment**

### Widget
Coordinate Conversion
### Version of widget
14 December 2016
### Bug or Enhancement
When you specify an invalid coordinate in the Input textbox, any previous calculated results in the Output texboxes are not cleared. The last valid output is still displayed. This is extremely dang

[2016-12-14 19:14] lfunkhouser commented on #149
This issue was moved to Esri/solutions-webappbuilder-widgets#709

[2016-12-14 19:14] #149 closed

[2016-12-14 22:07] lfunkhouser commented on #149
This issue was moved to Esri/solutions-webappbuilder-widgets#712

[2016-12-14 22:07] lfunkhouser opened #151 "Coordinate Conversion: should clear all outputs when invalid coordinate is entered (ArcGIS Pro)"
_From @elinz on December 14, 2016 16:53_

**NOTE: This is an enhancement, but a very critical enhancment**

When you specify an invalid coordinate in the Input textbox, any previous calculated results in the Output texboxes are not cleared. The last valid output is still displayed. This is extremely dangerous as the user may not have realized they entered an invalid coordinate or did not realize t

[2016-12-14 22:08] lfunkhouser opened #152 "Coordinate Conversion: should clear all outputs when invalid coordinate is entered (ArcMap)"
_From @elinz on December 14, 2016 16:59_

**NOTE: This is an enhancement, but a very critical enhancment**

When you specify an invalid coordinate in the Input textbox, any previous calculated results in the Output texboxes are not cleared. The last valid output is still displayed. This is extremely dangerous as the user may not have realized they entered an invalid coordinate or did not realize t

[2016-12-14 22:08] lfunkhouser opened #153 "Coordinate Conversion Add-in generates bad grid when tool settings are set to "Default Map Unit" as Display Coordinate"
_From @migueldls on December 13, 2016 22:32_

Grids are not accurate using the Map Point Tool when the Coordinate Conversion tool settings are set as "Default Map Unit" in the Display Coordinate settings. When the Map or Data Frame is set to any projection other than WGS84 Web Mercator coordinates not accurate or correct. Problem persists in both ArcMap and ArcPro. If is set the map or data frame

[2016-12-14 22:09] lfunkhouser opened #154 "Coordinate Conversion - ArcMap 10.3.1 addin not creating same output as Pro 1.4 addin"
_From @elinz on December 12, 2016 20:1_

I tested the ArcMap 10.3.1 addin that was built from the dev branch and the coordinates are not matching the output from the Pro 1.4 that was built from the same dev branch. Addins built 12 Dec 2016 09:11.

Enter the following coordinates: -116.299264 36.103061

In Pro 1.4 addin the output is:
![image](https://cloud.githubusercontent.com/assets/4635490/2111

[2016-12-14 22:09] lfunkhouser commented on #154
_From @dhagens on December 12, 2016 20:44_

@elinz, it would be useful to know which values are actually correct from your testing.

[2016-12-14 22:09] lfunkhouser commented on #154
_From @elinz on December 13, 2016 0:5_

@dhagens Here is one correct, where ArcGIS Pro 1.4 and ArcMap 10.3.1 addin match:

45.47E 20.82S

ArcGIS Pro 1.4:
![image](https://cloud.githubusercontent.com/assets/4635490/21122028/b7098ad2-c084-11e6-9c0c-639165d13d09.png)

ArcMap 10.3.1:
![image](https://cloud.githubusercontent.com/assets/4635490/21122033/c368e96c-c084-11e6-9b06-16a34b372001.png)

[2016-12-14 22:09] lfunkhouser commented on #154
_From @elinz on December 13, 2016 16:24_

@dhagens Another example of an incorrect match between ArcGIS Pro 1.4 addin and ArcMap 10.3.1 addin:

120.56879W 45.56789N

ArcGIS Pro:
![image](https://cloud.githubusercontent.com/assets/4635490/21147845/2a95d9d4-c10b-11e6-9db1-483b14f2e859.png)

ArcMap:
![image](https://cloud.githubusercontent.com/assets/4635490/21147857/37ac6066-c10b-11e6-8064-f1cce2c08

[2016-12-14 22:12] lfunkhouser opened #155 "Coordinate Conversion: After entering coordinates and hitting return, Pro does not "flash" the coordinate location on the map"
_From @elinz on December 8, 2016 16:3_

In the ArcMap addin, when you enter coordinates and hit return, a crosshair(?) is flashed on the map display to show you where the entered coordinate is. If the coordinate location is not located in the current extent, the addin pans and centers the coordinate in the map. The ArcGIS Pro addin does none of this.

This is an import function to have, as it help

[2016-12-14 22:12] lfunkhouser commented on #155
_From @kgonzago on December 9, 2016 13:56_

@elinz Which version of Pro were you testing with?

fyi @lfunkhouser

[2016-12-14 22:12] lfunkhouser commented on #155
_From @kgonzago on December 9, 2016 14:35_

@jmccausland verified bug exists in Pro 1.3 and fix will be applied.

[2016-12-14 22:12] lfunkhouser commented on #155
_From @kgonzago on December 9, 2016 15:2_

@elinz Can you verify fix on Pro 1.3 when you have a moment?

[2016-12-14 22:12] lfunkhouser commented on #155
_From @elinz on December 9, 2016 16:15_

@kgonzago I build manually fire off Jenkins build and test.

[2016-12-14 22:12] lfunkhouser commented on #155
_From @elinz on December 9, 2016 17:36_

@kgonzago @jmccausland I tested and now the cross hairs are displayed, however, there are a couple of issues:
1. When I enter in a coordinate pair and hit return in order for the location to be flashed on the map, the Map Point Tool is enabled, so if I happen to place the mouse over the map I now lose the coordinate I entered.
2. When I enter in a coordinat

[2016-12-14 22:12] lfunkhouser commented on #155
_From @jmccausland on December 9, 2016 17:40_

1. Known issue, the "flash" is a tool overlay and only works when tool is active.

2. Usually the point graphic displays incorrectly the first time.  Another known issue, I believe it to be a core issue and there is no workaround ATM.

[2016-12-14 22:12] lfunkhouser commented on #155
_From @elinz on December 9, 2016 17:54_

If the "flash" only works when the Map Point Tool is active, then I think we have to consider reverting this change so that flash does not work. I think this is going to lead to problems where the user end up capturing incorrect coordinates.

Thoughts from anybody?

[2016-12-14 22:12] lfunkhouser commented on #155
_From @elinz on December 13, 2016 22:22_

@kgonzago @jmccausland No response back to my question above.  If the only way to get the "flash" to work in ArcGIS Pro is to make the Map Tool active then we should revert the fix. Having this tool automatically made active is "dangerous". Users will type in a coordinate, hit return, the coordinate is converted, then if they happen to move the mouse over

[2016-12-14 22:23] dhagens commented on #154
This issue has been fixed and is ready for testing.

[2016-12-14 22:25] elinz commented on #154
@dhagens I will test this fix with the next Jenkins build addin. Thanks.

[2016-12-15 01:02] elinz opened #157 "Coordinate Conversion: losing positional accuracy between coordinate formats (ArcGIS Pro)"
**This is an extremely important bug**

The addin is not maintaining the same input coordinate positional accuracy in the output values for DD, DDM, and DMS.

For example, if I set the default map unit in the addin to "DD" and using the Map Point tool, add the location of Sevastopol as the input value. See screenshot below:
![image](https://cloud.githubusercontent.com/assets/4635490/21206989/59409

[2016-12-15 01:04] elinz opened #158 "Coordinate Conversion: losing positional accuracy between coordinate formats (ArcMap)"
**This is an extremely important bug**

The addin is not maintaining the same input coordinate positional accuracy in the output values for DD, DDM, and DMS.

For example, if I set the default map unit in the addin to "DD" and using the Map Point tool, add the location of Sevastopol as the input value. See screenshot below:
![image](https://cloud.githubusercontent.com/assets/4635490/21206989/59409

[2016-12-15 01:06] elinz commented on #158
Was testing with ArcGIS Pro 1.2

[2016-12-15 17:28] elinz commented on #154
@dhagens I tested the addin built on 10.3.1 ArcObjects and 1.4 SDK dated 15 Dec 2016 09:06 on ArcMap 10.3.1 and ArcGIS Pro 1.4 and they are creating the same output. Thanks for the fix. Closing this issue.

[2016-12-15 17:28] #154 closed

[2016-12-15 17:40] lfunkhouser opened #159 "Coordinate Conversion tool does not ignore text after coordinates"
_From @BobBooth on November 15, 2016 20:1_

If I click on the map in ArcMap with the Identify tool I get the coordinates in Decimal Degrees, and they show up as "-116.299264 36.103069 Decimal Degrees". If I copy/paste this into the Coordinate Conversion input box it fails to convert the coordinate values at all. It chokes on the text "Decimal Degrees" - does not convert until I delete that text.

[2016-12-15 17:40] lfunkhouser commented on #159
_From @dhagens on December 7, 2016 21:10_

The tool currently works as designed.  It was not designed to allow text (other than the designators) after the coordinates.

[2016-12-15 17:41] lfunkhouser opened #160 "Coordinate Conversion ArcGIS Pro Add-In Version Number"
_From @joebayles on October 14, 2016 23:0_

The Add-In included in the Coordinate Conversion 1.0.1 download is labeled as 1.0. Not sure if this is:
- Incomplete number in the Add-In Installation Utility
- Wrong version

![image](https://cloud.githubusercontent.com/assets/5016557/19404955/4bc1cbb2-9227-11e6-81ee-1a612128b6e7.png)

FYI @nfeuerstein @lfunkhouser

_Copied from original issue: Esri/mil

[2016-12-15 17:41] lfunkhouser commented on #160
_From @topowright on October 18, 2016 16:26_

@joebayles good catch.

@nfeuerstein @lfunkhouser this should be added to the backlog or should it just be done outside the other work? Not sure how we are addressing bugs under the new system.

[2016-12-15 17:41] lfunkhouser commented on #160
_From @nfeuerstein on October 18, 2016 17:53_

@topowright definitely added to the backlog.  Anyone can add something to the backlog under the "for review" section and I'll prioritize it appropriately.

[2016-12-15 17:41] lfunkhouser commented on #160
_From @topowright on October 18, 2016 21:0_

@nfeuerstein Thanks for the info.

[2016-12-15 17:41] lfunkhouser commented on #160
_From @topowright on October 18, 2016 21:2_

This has been added to the backlog for review.

[2016-12-15 17:42] lfunkhouser opened #161 "Coordinate Conversion - Export Enhancements"
_From @ACueva on November 4, 2016 20:15_

These are issues I consider enhancements to the user experience.

Under the "Collect" tab:
- [ ] Rename "Save As" to "Export"
- [ ] Give some sort of feedback of a successful operation. i.e. for saving to a feature class/shapefile. "X amount of features were copied/created".

_Copied from original issue: Esri/military-tools-for-arcgis#53_

[2016-12-15 17:44] lfunkhouser opened #162 "Coordinate Conversion - Increase number of decimal places for DD and DDM"
_From @elinz on November 4, 2016 22:33_

For DD and DDM options in the "Add New Output Coordinate" we should increase the number of decimal places, we only display out to a single decimal place. This is approximately 6-7 nautical miles, which is too course and we should display out to two places. Especially since the map display units will display out to two decimal places.

![image](https://cloud

[2016-12-15 17:44] lfunkhouser commented on #162
_From @jmccausland on November 8, 2016 20:57_

The "Input" group currently has no UI to configure it's format.  If you do not use "Edit Properties" the input format defaults to {0.0}.  Don't confuse the output format options with the input.

[2016-12-15 17:44] lfunkhouser commented on #162
_From @nfeuerstein on December 2, 2016 16:40_

@jmccausland and @elinz can this issue be closed out?  Can the user use "edit properties" to set the decimal places?

[2016-12-15 17:44] lfunkhouser commented on #162
_From @jmccausland on December 2, 2016 16:49_

There are no configuration properties to format the input decimal places.  Currently you can only change the type of coordinate.

[2016-12-15 17:50] lfunkhouser opened #163 "Holistic Testing - Coordinate Conversion Tool - ArcGIS Pro 1.2"
_From @abrowning80 on November 4, 2016 19:2_

## Expected Behavior
Selection arrow for Coorrdinates when activated should allow the user to select where they want coordinates of.

## Current Behavior
As soon as the arrow is dragged on the map it takes the 1st coordinates it can and does not allow the user to select a different location.

## Possible Solution

## Steps to Reproduce (for bugs)

1.

[2016-12-15 17:51] lfunkhouser opened #164 "Convert Coordinate Pro 1.2 Collect tab crashes Pro"
_From @mfunk on November 4, 2016 17:58_

In trying to use the Collect tab in the Coordinate Conversion Add-In I can consistently crash Pro 1.2.

## Expected Behavior
Pro should not crash using this tool. 😃

## Current Behavior
Pro crashes. 💩

## Possible Solution
This could very well be related to the immaturity of Pro 1.2 and SDK graphics handling that this tool was dependent upon. Not sure if th

[2016-12-15 17:56] lfunkhouser opened #165 "Convert Coordinates Pro 1.2 does not accept <longitude> <latitude>"
_From @lfunkhouser on December 15, 2016 17:54_

_From @mfunk on November 4, 2016 17:43_

Testing Convert Coordinates in ArcGIS Pro 1.2 with Decimal Degree (DD) inputs.

## Expected Behavior
When explicitly specifying hemisphere (N/S and E/W) in lon/lat the order should not matter. I should be able to type:
45.47E 20.82S
or
20.82S 45.47E

## Current Behavior
Currently the tool only accepts latitude

[2016-12-15 17:57] lfunkhouser commented on #165
_From @BobBooth on November 15, 2016 19:23_

I just ran into the same thing with Coordinate Conversion in ArcMap - it is exacerbated by the fact that the default order for coordinates in the ArcMap Identify dialog and the coordinate display (lower right corner of the ArcMap window) is switched from what the tool expects (West, then North).
If I click on the map with the Identify tool in the MOLE s

[2016-12-15 17:57] lfunkhouser commented on #165
_From @elinz on December 9, 2016 1:20_

I tested the Pro and ArcMap add-ins that were built against 1.2 and 10.3.1 in ArcGIS Pro 1.2 and ArcMap 10.3.1 (build 12-07-2016_10). The ArcGIS Pro add-in works correctly. The ArcMap add-in does not work correctly.

In ArcMap 10.3.1, when I enter...

(lat long) 20.82S 45.47E --> it incorrectly converts it to UTM 38S 548905 7697701. It should be 38K 548905 7

[2016-12-15 17:57] lfunkhouser commented on #165
_From @dhagens on December 9, 2016 13:57_

@elinz, the issues that you are seeing in 10.3.1 are because the changes to the code for the arcmap addin were not made in the Pro 1.2 build.  The only changes in that build were made for Pro 1.2.  You will need to get the latest build from Jenkins for Pro 1.4 and ArcMap Addin 10.3.1 and test against that.  This was not communicated so understandable.  @t

[2016-12-15 17:57] lfunkhouser commented on #165
_From @topowright on December 9, 2016 14:18_

@elinz @dhagens This is an issue with us not being clear with what Jenkins is building. @dhagens is going to push his changes to the Dev branch, which is building 1.4 and 10.3.1. We will then have all of his updates in the ArcMap add-in that we build.

@lfunkhouser @nfeuerstein after working with @ACueva yesterday on the file structure for Jenkins this

[2016-12-15 17:57] lfunkhouser commented on #165
_From @dhagens on December 9, 2016 14:29_

@topowright, I just wanted to make clear that the Lat/Lon changes for the ArcMap Addin are already in the dev branch.  The ArcMap Addin changes for the Lat/Lon are not in the Pro 1.2 branch, for the ArcMap Addin, which is what @elinz was testing the ArcMap Addin with.  The confusing part here is that both builds contain the ArcMap 10.3.1 Addin.  Only the

[2016-12-15 17:57] lfunkhouser commented on #165
_From @dhagens on December 9, 2016 15:44_

@elinz, I looked into the issue of the UTM output being incorrect and checked in a fix for it in the dev branch.  I don't think you'll need to add an issue for this since it should be fixed with the next build after @kgonzago merges.  Thanks.

[2016-12-15 17:57] lfunkhouser commented on #165
_From @elinz on December 9, 2016 16:26_

@dhagens @kgonzago @topowright I was testing the fix against both ArcGIS Pro 1.2 and ArcMap 10.3.1 because my understanding is that we were fixing this issue for the released components which are both ArcGIS Pro 1.2 and ArcMap 10.3.1. and I learned yesterday, we also have a released WAB widget of Convert Coordinates...so seems like we need to fix the widget

[2016-12-15 17:57] lfunkhouser commented on #165
_From @dhagens on December 9, 2016 16:30_

@elinz, it is my understanding that we are only releasing the Pro 1.2 component from the build that you tested.  To test the ArcMap 10.3.1 addin, you'll need to test that against the dev build, which is the Pro 1.4 build and the 10.3.1 ArcMap addin build.

[2016-12-15 17:57] lfunkhouser commented on #165
_From @dhagens on December 9, 2016 16:31_

@elinz, the fix for WAB widget has not been addressed yet.  It seems that the Addins are higher priority at this time as @kgonzago stated yesterday and the bugs will need to be fixed in those first.

[2016-12-15 17:57] lfunkhouser commented on #165
_From @elinz on December 12, 2016 18:37_

@dhagens Thanks. I'll install the 10.3.1 addin, built from the dev branch and test.

[2016-12-15 17:57] lfunkhouser commented on #165
_From @elinz on December 12, 2016 19:45_

@dhagens I tested the ArcMap 10.3.1 addin that was built from the dev branch and the coordinates are not matching the output from the Pro 1.4 that was built from the same dev branch.

Enter the following coordinates: -116.299264 36.103061

In Pro 1.4 addin the output is:
![image](https://cloud.githubusercontent.com/assets/4635490/21113539/dbb59f7c-c05e-11e

[2016-12-15 17:57] lfunkhouser commented on #165
_From @dhagens on December 12, 2016 19:49_

@elinz, I would consider this as a separate bug and is not related to this bug.  This bug was related to the ability to input lat or long coordinates in either order in the input field.  To thoroughly test this, we'd have to go back to pro 1.3 and pro 1.2 and determine if there was a change in output from 1.2 until now.  @lfunkhouser , @topowright can ma

[2016-12-15 17:57] lfunkhouser commented on #165
_From @elinz on December 12, 2016 19:52_

@dhagens I'll create a separate GitHub issue. NOTE: Pro 1.2 addin built on 1.2 and Pro 1.4 addin built on 1.4 are creating the same output.

[2016-12-15 17:57] lfunkhouser commented on #165
_From @dhagens on December 12, 2016 20:26_

@elinz, as a follow up to this, I had Joe McCausland test this out on his machine with an earlier version of Pro w/o any changes that we've made lately and is seeing similar results in Pro.
36.103061 -116.299264
36.1N 116.3W
36° 6.18'N 116° 17.96'W
36° 6' 11.0"N 116° 17' 57.4"W
11N 563073 3995606
11S 563073 3995606
11SNV6307495607
128LN36
11SNV6307495607

[2016-12-15 17:57] lfunkhouser commented on #165
_From @elinz on December 12, 2016 20:28_

@dhagens Thanks. I created a new issue for this: https://github.com/Esri/military-tools-for-arcgis/issues/83

[2016-12-15 17:57] lfunkhouser commented on #165
_From @elinz on December 14, 2016 0:13_

I tested the Pro addin built against 1.2 SDK (build date: 13 Dec 2016 10:42, folder name "12-12-2016_13") on Pro 1.2 and Pro 1.3 and you can enter coordinates in as Lat Long and Long Lat.

I tested the ArcMap addin built against 10.3.1 ArcObjects (build date: 13 Dec 2016, 13:12) on ArcMap 10.3.1  and you can enter coordinates in as Lat Long and Long Lat.

[2016-12-15 17:57] lfunkhouser commented on #165
_From @elinz on December 15, 2016 17:56_

@lfunkhouser This issue was copied to the incorrect repo. It should have been copied to: https://github.com/Esri/coordinate-conversion-addin-dotnet

[2016-12-15 17:57] lfunkhouser commented on #165
Thanks @elinz I was just about to move it to the correct one.

[2016-12-15 18:07] elinz commented on #162
@nfeuerstein @jmccausland I'm going to close this issue. The way I wrote this issue is very confusing. I'm mixing up the input and output coordinate formats. As @jmccausland stated there is no interface for configuring the input format, and there shouldn't be as you would want the user to input whatever coordinate format with whatever number of decimal places.

I created the issues #157 and #158 r

[2016-12-15 18:08] #162 closed

[2016-12-15 23:12] elinz commented on #155
@kgonzago @jmccausland Can we change the code so that after the user hits enter to display the "flash" on the map we disable the Map Point Tool so that the input coordinate stop changing as the user moves the mouse over the map?

[2016-12-16 00:04] dfoll opened #168 "Copy format type of coordinates when copying coordinates"
When you use the "copy all" button and then paste elsewhere we should insert the coordinate format next to the coordinate value.

Copying this
![image](https://cloud.githubusercontent.com/assets/5322669/21246671/fb107cd4-c2de-11e6-88b5-24ce9b9a0782.png)
and then pasting outputs this

09 56.0507S 003 04.3261E
31LEK0790401864
31LEK0790401864
9° 56.05'S 3° 4.33'E
9° 56' 3.0"S 3° 4' 19.6"E

i think we

[2016-12-16 18:44] elinz opened #170 "Poor tooltip name and description for Coordinate Conversion addin (ArcMap)"
When I hover over the Coordinate Conversion addin the following tooltip is displayed:
![image](https://cloud.githubusercontent.com/assets/4635490/21274272/2fa423c2-c37c-11e6-9331-87923abcf47b.png)

"Show Coordinate Conversion" - there is no reason to use the verb "Show". Users know that the tool will open or do something.

"Add-in command to show Coordinate Conversion Window." - This doesn't help

[2016-12-16 19:11] elinz opened #171 "Poor tooltip name and description for Coordinate Conversion addin (ArcGIS Pro)"
When I hover over the Coordinate Conversion addin the following tooltip is displayed:
![image](https://cloud.githubusercontent.com/assets/4635490/21275131/35c77c8c-c380-11e6-91c4-2fd869965fb8.png)

"Show Coordinate Conversion Dockpane" - there is no reason to use the verb "Show". Users know that the tool will open or do something. The description doesn't help the user at all. We should be describi

[2016-12-16 22:10] jmhauck commented on #153
@migueldls as I was looking at another issue I noticed that the commit for this was not quite correct. You should see the correct values reported but the wkid is incorrectly being included in the display string shown in the Input box. Will need to do another commit.

[2016-12-16 22:59] migueldls commented on #153
@jmhauck Yeah I noticed the wkid, and verified the fix for both ArcMap, ArcPro just now. I re-check after the commit for the wkid but this issue seems good now. ?..Does this tool only accept a Projected spatial reference with uniits in (meters)?

[2016-12-16 23:15] jmhauck commented on #153
@migueldls it should accept projected coordinate values regardless of the linear unit.

[2016-12-17 00:25] elinz opened #173 "Coordinate Conversion input format doesn't support / coordinate pair separator character (ArcMap)"
According to the following help topic, ArcMap supports the forward-slash character / as the coordinate pair separator, however, the Coordinate Convert addin does not. The addin does support the back-slash character.
http://desktop.arcgis.com/en/arcmap/10.3/tools/data-management-toolbox/supported-notation-formats.htm

**NOTEs:**
- **The addin should support this capability when the input format is

[2016-12-17 00:27] elinz opened #174 "Coordinate Conversion input format doesn't support / coordinate pair separator character (ArcGIS Pro)"
According to the following help topic, ArcGIS Pro supports the forward-slash character / as the coordinate pair separator, however, the Coordinate Convert addin does not. The addin does support the back-slash character.
http://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm

**NOTEs:**
- **The addin should support this capability when the input format is in

[2016-12-17 00:39] elinz opened #175 "Coordinate Conversion input format doesn't support | coordinate pair separator character (ArcGIS Pro)"
According to the following help topic, ArcGIS Pro supports the pipe character | as the coordinate pair separator, however, the Coordinate Convert addin does not. The ArcMap addin does support this character.
http://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm

Here is an example, using the pipe, i.e. | character. Note: the tool should also support: pipe s

[2016-12-17 00:53] elinz opened #176 "Coordinate Conversion input format doesn't ignore case in hemisphere designator (ArcMap)"
According to the following help topic, ArcMap ignores the case for hemisphere designators (N,S,E,W, n,s,e,w), however, the Coordinate Convert addin is case senstive.
http://desktop.arcgis.com/en/arcmap/10.3/tools/data-management-toolbox/supported-notation-formats.htm

I tested using the addin built on ArcObjects 10.3.1 in ArcMap 10.3.1

- [x] The addin must ignore case for hemisphere designators,

[2016-12-17 00:57] elinz opened #177 "Coordinate Conversion input format doesn't ignore case in hemisphere designator (ArcGIS Pro)"
According to the following help topic, ArcGIS Pro ignores the case for hemisphere designators (N,S,E,W, n,s,e,w), however, the Coordinate Convert addin is case sensitive.
http://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm

I tested the ArcGIS Pro addin built on 1.2 SDK in ArcGIS Pro 1.2.

- [x] The addin must ignore case for hemisphere designators, when

[2016-12-19 14:34] dhagens commented on #155
@jmccausland added a fix for this bug.  @elinz, ready for testing.

[2016-12-19 17:04] elinz commented on #155
@jmccausland @dhagens I tested in Pro 1.4 with addin built against 1.4 SDK. The flash is working much better and I can see that the Map Point tool is disabled after the flash completes. A couple of things however...
1. After the flash completes at specified location, a second flash occurs to the east of the specified location. In my opinion, a very minor issue.
2. When I explicitly enable the Map

[2016-12-19 17:49] dhagens commented on #155
@topowright @lfunkhouser, Can one of you make the call on this?  I thought that we were only adding fixes for critical bugs into the 1.2 branch?  This is more of an enhancement and not as much a critical bug.

[2016-12-19 17:57] elinz commented on #155
@lfunkhouser @dhagens @topowright I asked the question about 1.2, because there is an Asana PBI for "Coordinate Conversion Add-In Bugs Pro 1.2" that states "We are fixing bugs for Coordinate Conversion at the component level (1.2, 1.3, 1.4)...".

[2016-12-19 19:17] migueldls commented on #153
@jmhauck, I verified the fix in ArcMap 10.4.1 and Pro 1.4 this issue now works as expected in both. Tool outputs correct coordinates using "default map" setting and I don't see the wkid in the display.

[2016-12-19 19:17] #153 closed

[2016-12-19 21:21] Dbarnes1 opened #178 "Coordinate Conversion Pro 1.4 Dynamic Conversion using Map Point Tool times out/freezes"
It looks like the latest build of the coordinate conversion add-in for ArcGIS Pro 1.4 (I'm on build 7039)  is timing out when you try and conduct the dynamic coordinate conversion using the Map Point Tool. This happens after one or two seconds.

To replicate:
Open a pro project with an active map
Open Coordinate Conversion Add-In to Convert tab
In the Input box, click on the map point tool. Pan yo

[2016-12-20 16:46] Dbarnes1 commented on #134
As I'm working on doc for d&d I was able to verify that this works now, closing.

[2016-12-20 16:46] #134 closed

[2016-12-20 17:18] elinz commented on #171
Here is what we should use for name and description on the tooltip...
![image](https://cloud.githubusercontent.com/assets/4635490/21360564/471af708-c695-11e6-9916-8cefdeaf7c6f.png)

[2016-12-20 17:21] elinz commented on #170
Here is what we should use for the name and description for the tooltip...
![image](https://cloud.githubusercontent.com/assets/4635490/21360659/b3519850-c695-11e6-8952-e7fcc2247194.png)

[2016-12-20 17:48] elinz opened #180 "Coordinate Conversion: Add support for GEOREF (ArcMap)"
According to help doc for the Convert Coordinate Notation gp tool: http://pro.arcgis.com/en/pro-app/tool-reference/data-management/convert-coordinate-notation.htm, the gp tool supports the following formats:
DD, DDM, DMS, GARS, GEOREF, UTM, USNG, and MGRS.

The current addin supports all these same formats except: GEOREF - World Geographic Reference System. We should support all the same formats a

[2016-12-20 17:49] elinz opened #181 "Coordinate Conversion: Add support for GEOREF (ArcGIS Pro)"
According to help doc for the Convert Coordinate Notation gp tool: http://pro.arcgis.com/en/pro-app/tool-reference/data-management/convert-coordinate-notation.htm, the gp tool supports the following formats:
DD, DDM, DMS, GARS, GEOREF, UTM, USNG, and MGRS.

The current addin supports all these same formats except: GEOREF - World Geographic Reference System. We should support all the same formats a

[2016-12-20 22:29] jmhauck commented on #170
Should have waited on this one until we start with the single addin. This change will need to be made there also I believe.

[2016-12-20 22:29] jmhauck commented on #171
Should have waited on this one until we start with the single addin. This change will need to be made there also I believe.

[2016-12-21 14:30] kgonzago commented on #171
@jmhauck Tooltip To keep things consistent, please change the tooltip message at component level and I'll handle the single add-in.

[2016-12-22 15:04] Dbarnes1 commented on #178
@jmhauck verified fixed. Thanks

[2016-12-22 15:04] #178 closed

[2016-12-22 15:08] Dbarnes1 commented on #151
Verified fixed.

![image](https://cloud.githubusercontent.com/assets/13024357/21429826/5a137250-c815-11e6-9368-2005a274f35e.png)

[2016-12-22 15:08] #151 closed

[2016-12-22 15:11] Dbarnes1 commented on #152
![image](https://cloud.githubusercontent.com/assets/13024357/21429947/e580130c-c815-11e6-99d3-7800bed6cff7.png)

Verified fixed.

[2016-12-22 15:11] #152 closed

[2016-12-22 16:24] jmhauck commented on #171
Ok, thanks @kgonzago the change for the component level has been merged.

[2016-12-22 16:25] jmhauck commented on #170
@kgonzago the change for the component level has been merged.

[2016-12-22 17:32] nfeuerstein commented on #171
@jmhauck @kgonzago is this in the verify stage?

[2016-12-22 17:36] nfeuerstein commented on #155
@dhagens @elinz @lfunkhouser @topowright  Eric Linz was correct, all bug fixes were supposed to be applied at the earliest (if technically possible) version as was outlined in backlog grooming/planning/and the backlog.  Unfortunately, I understand that conflicting guidance was floating around.  We have a tight timeline, so to minimize confusion we will be ONLY focusing on 1.4 at this time (and int

[2016-12-22 17:41] nfeuerstein commented on #170
@kgonzago @jmhauck can this be moved to the validation stage?

[2016-12-22 17:44] nfeuerstein commented on #165
@elinz @dhagens has this issue been fixed and verified?

[2016-12-22 17:45] nfeuerstein commented on #140
@elinz or @Dbarnes1 can you reproduce this issue?  If not, please close as not reproducible.

[2016-12-22 17:47] nfeuerstein commented on #23
@Dbarnes1 @dfoll @NatalieCampos has the fact that the tool assumes/requires GCS_WGS_84 been fully documented in a way that a user cannot miss?

[2016-12-22 17:50] Dbarnes1 commented on #23
@nfeuerstein I'm thinking that this will be part of the overview blurb for coordinate conversion. Implementing it now.

[2016-12-22 18:10] elinz commented on #140
@nfeuerstein @Dbarnes1 I'm creating a Windows 7 VM right now to test; only have access to Windows 7 Enterprise 64 bit, so won't be able to match OS exactly or the video card.

[2016-12-22 19:55] dhagens commented on #155
This bug was fixed for the 1.3/1.4 branch and is ready for testing.

[2016-12-22 19:56] dhagens commented on #165
This is has been fixed and I believe @elinz has verified it.  As far as I know the issue can be closed.

[2016-12-22 20:15] kgonzago commented on #170
@nfeuerstein yes. I'll reassign it back to @elinz for verification.

[2016-12-22 20:17] kgonzago commented on #171
Assigning to @elinz for verification.

[2016-12-22 20:44] elinz commented on #170
@jmhauck @nfeuerstein @kgonzago Installed build 22 Dec 2016 10:15 of the individual coordinate conversion addin and the name and description are good. See screenshot below:
![image](https://cloud.githubusercontent.com/assets/4635490/21439710/600a654a-c844-11e6-8f4e-9b614d447c68.png)

Closing issue.

[2016-12-22 20:44] #170 closed

[2016-12-22 21:21] elinz commented on #165
@nfeuerstein @dhagens I'm re-verifying right now.

[2016-12-22 21:46] elinz commented on #165
@nfeuerstein @dhagens Tested latest 1.4 SDK and 10.3.1 ArcObjects build on Pro 1.4 and ArcMap 10.3.1 and verified this issue has been fixed.

Also tested a build made on 1.2 SDK on a Pro 1.3 machine and verified this issue has been fixed.

Closing issue.

[2016-12-22 21:46] #165 closed

[2016-12-22 21:59] elinz commented on #158
@jmhauck The default formatting for DD was not altered to handle 6 decimal places. It's still the original 2 decimal places:
![image](https://cloud.githubusercontent.com/assets/4635490/21441776/bd1ddc4e-c84e-11e6-8439-e2272c529af6.png)

[2016-12-22 22:00] elinz commented on #157
@jmhauck The default formatting for DD was not altered to handle 6 decimal places. It's still the original 2 decimal places:
![image](https://cloud.githubusercontent.com/assets/4635490/21441816/f5a8cd58-c84e-11e6-94fc-3985db53458a.png)

[2016-12-22 22:07] jmhauck commented on #158
@elinz I will need to check why it is automatically switching to "Custom" and why that is still showing the old format there. You should see the new default format when you select the example coordinate from the Formats list...in this case "70.49N 40.32W".

Would it also be better to just say "Default" in the formats list rather than showing an example there and another example below the Formats l

[2016-12-22 22:08] jmhauck commented on #157
@elinz I will need to check why it is automatically switching to "Custom" and why that is still showing the old format there. You should see the new default format when you select the example coordinate from the Formats list...in this case "70.49N 40.32W".

Would it also be better to just say "Default" in the formats list rather than showing an example there and another example below the Formats l

[2016-12-22 22:18] elinz commented on #158
@jmhauck Oh I see. I didn't even notice that the dialog was set to Custom when I opened it.

I like the idea of changing it to say "Default".
![image](https://cloud.githubusercontent.com/assets/4635490/21442232/6ec8b106-c851-11e6-9811-55b6b1ced16b.png)
 It is confusing to show an example coordinate in the Formats list and then show a sample.

[2016-12-22 22:21] elinz commented on #158
@jmhauck Yes, lets make the change so the default format is listed as "Default" instead of showing a coordinate pair in the format list.

[2016-12-22 22:21] elinz commented on #157
@jmhauck Yes, lets make the change so the default format is listed as "Default" instead of showing a coordinate pair in the format list.

[2016-12-22 22:23] jmhauck commented on #158
@elinz ok, sounds good.

[2016-12-22 22:23] jmhauck commented on #157
@elinz ok, sounds good.

[2016-12-22 23:06] elinz commented on #155
@dhagens @nfeuerstein Installed the latest addin built on 1.4 SDK and tested on the latest ArcGIS 1.4 daily build dated 22 Dec 2015 13:27 and the flash is no longer working.

Behavior:
1. With map zoomed out to global extent (topo basemap in map). I enter 34.737N 116.948W (Los Angeles) in the input textbox and hit return. The coordinate is converted, but no flash and point are displayed on the map

[2016-12-22 23:46] elinz commented on #171
@kgonzago Installed the individual component build 22 Dec 2016 15:43 and verified that the name and description in the tooltip is correct; shown below:
![image](https://cloud.githubusercontent.com/assets/4635490/21443956/d36d43c2-c85d-11e6-9998-9eaabf155ad6.png)

Closing issue.

[2016-12-22 23:46] #171 closed

[2016-12-28 19:02] elinz commented on #140
@ChristianDiscer @nfeuerstein @Dbarnes1 I've installed the 1.0 build of this addin on a Windows 7 Enterprise 64 bit, and a Windows 8.1 Enterprise 64 bit machine (don't have access to Windows 7 Pro as the user does) running ArcMap 10.3.1 and I can't reproduce this issue. Closing this issue as not reproducible.

[2016-12-28 19:02] #140 closed

[2017-01-01 17:20] elinz opened #188 "Coordinate Conversion input format doesn't support +/- hemisphere character as suffix (ArcGIS Pro)"
According to the following help topic, ArcGIS Pro supports the + and - hemisphere character as a suffix to the latitude and longitude values, however, the Coordinate Convert addin does not:
http://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm

The addin does support the + and - hemisphere character as a prefix to the coordinate values:

Here are some examp

[2017-01-01 17:25] elinz opened #189 "Coordinate Conversion input format doesn't support +/- hemisphere character as suffix (ArcMap)"
According to the following help topic, ArcMap supports the + and - hemisphere character as a suffix to the latitude and longitude values, however, the Coordinate Convert addin does not:
http://desktop.arcgis.com/en/arcmap/10.3/tools/data-management-toolbox/supported-notation-formats.htm

The addin does support the + and - hemisphere character as a prefix to the coordinate values:

Here are some ex

[2017-01-01 18:01] elinz opened #190 "Coordinate Conversion is incorrectly converting input formats with +/- hemisphere character as prefix (ArcGIS Pro)"
According to the following help topic, ArcGIS Pro supports the + and - hemisphere character as a prefix to the latitude and longitude values, however, the Coordinate Convert addin does not support all cases or is incorrectly converting the coordinate:
http://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm

**NOTE: The addin should support this capability whe

[2017-01-01 18:21] elinz opened #191 "Coordinate Conversion is incorrectly converting input formats with +/- hemisphere character as prefix (ArcMap)"
According to the following help topic, ArcMap supports the + and - hemisphere character as a prefix to the latitude and longitude values, however, the Coordinate Convert addin does not support all cases or is incorrectly converting the coordinate:
http://desktop.arcgis.com/en/arcmap/10.3/tools/data-management-toolbox/supported-notation-formats.htm

**NOTE: The addin should support this capability

[2017-01-01 19:08] elinz opened #192 "Coordinate Conversion input format no longer supports the \ coordinate pair separator character (ArcGIS Pro)"
According to the following help topic, ArcGIS Pro supports the back-slash character \ as the coordinate pair separator, however, the Coordinate Convert addin **no longer** supports this (tested on build dated 31 Dec 2016 13:09; this used to work in an earlier build.
http://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm

**NOTEs:**
- **The addin should suppo

[2017-01-01 19:20] elinz opened #193 "Coordinate Conversion input format no longer supports the \ coordinate pair separator character (ArcMap)"
According to the following help topic, ArcMap supports the back-slash character \ as the coordinate pair separator, however, the Coordinate Convert addin **no longer** supports this (tested on build dated 31 Dec 2016 13:09; this used to work in an earlier build.
http://desktop.arcgis.com/en/arcmap/10.3/tools/data-management-toolbox/supported-notation-formats.htm

**NOTEs:**
- **The addin should su

[2017-01-01 20:00] elinz opened #194 "Coordinate Conversion doesn't accept DDM output as input (ArcGIS Pro)"
The Coordinate Conversion addin should accept the output from the addin as input. The DDM and DMS output from the addin includes the degree, minute, and second symbol, as shown below:
![image](https://cloud.githubusercontent.com/assets/4635490/21582720/6081219a-d018-11e6-84d6-36d998a9878e.png)

If I clear the input box and paste in the DMS output from the addin as the input:
45° 0' 0.0"N 100° 0' 0

[2017-01-01 20:06] elinz opened #195 "Coordinate Conversion doesn't accept DDM output as input (ArcMap)"
The Coordinate Conversion addin should accept the output from the addin as input. The DDM and DMS output from the addin includes the degree, minute, and second symbol, as shown below:
![image](https://cloud.githubusercontent.com/assets/4635490/21582767/581e32e8-d01a-11e6-85b8-cb1d9a8dbd71.png)

If I clear the input box and paste in the DMS output from the addin as the input:
45° 0' 0.0"N 100° 0' 0

[2017-01-01 21:48] elinz opened #196 "Coordinate Conversion is not interpreting degree marks when entering DD as input (ArcGIS Pro)"
According to ArcGIS help topic "Supported notation formats" (http://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm), the decimal degree (DD) format accepts the following degree-mark characters:
![image](https://cloud.githubusercontent.com/assets/4635490/21582901/93c17b5e-d01d-11e6-861a-2d95da43a92d.png)

However, the Coordinate Conversion addin is not inter

[2017-01-01 21:58] elinz opened #197 "Coordinate Conversion is not interpreting degree marks when entering DD as input (ArcMap)"
According to ArcGIS help topic "Supported notation formats" (http://desktop.arcgis.com/en/arcmap/10.3/tools/data-management-toolbox/supported-notation-formats.htm), the decimal degree (DD) format accepts the following degree-mark characters:
![image](https://cloud.githubusercontent.com/assets/4635490/21582901/93c17b5e-d01d-11e6-861a-2d95da43a92d.png)

However, the Coordinate Conversion addin is no

[2017-01-01 22:08] elinz opened #198 "Coordinate Conversion is not interpreting degree and minute marks when entering DDM as input (ArcGIS Pro)"
According to ArcGIS help topic "Supported notation formats" (http://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm), the degree decimal minute (DDM) format accepts the following degree-mark and minute-mark characters:
![image](https://cloud.githubusercontent.com/assets/4635490/21582901/93c17b5e-d01d-11e6-861a-2d95da43a92d.png)

![image](https://cloud.github

[2017-01-01 22:23] elinz opened #199 "Coordinate Conversion is not interpreting degree and minute marks when entering DDM as input (ArcMap)"
According to ArcGIS help topic "Supported notation formats" (http://desktop.arcgis.com/en/arcmap/10.3/tools/data-management-toolbox/supported-notation-formats.htm), the degree decimal minute (DDM) format accepts the following degree-mark and minute-mark characters:
![image](https://cloud.githubusercontent.com/assets/4635490/21582901/93c17b5e-d01d-11e6-861a-2d95da43a92d.png)

![image](https://cloud

[2017-01-03 16:10] elinz commented on #190
## Degree Decimal Minute

### Latitude Longitude Order
- [ ] The addin incorrectly converts the input coordinate: +45 0.0 +100 0.0
![image](https://cloud.githubusercontent.com/assets/4635490/21613551/8a95e9f2-d18a-11e6-9e4f-f7a2d0dab11a.png)
Should be 45 0.0N 100 0.0E

- [ ] The addin incorrectly converts the input coordinate: -45 0.0 +100 0.0
![image](https://cloud.githubusercontent.com/assets/46

[2017-01-03 18:06] elinz opened #200 "Coordinate Conversion input format does not support the | coordinate pair separator character when input is DDM and DMS (ArcGIS Pro)"
The addin interprets the | character when input is decimal degrees, but not when degree decimal minutes (DDM), or degrees minutes seconds (DMS).

**NOTE: the addin should handle the following combinations: |, |space, space|space**
**The addin should handle the | character for Lat Long and Long Lat.**

DD example, which works correctly: 45.0N|100.0W
![image](https://cloud.githubusercontent.com/asse

[2017-01-03 18:18] elinz opened #201 "Coordinate Conversion input format does not support the | coordinate pair separator character when input is DDM and DMS (ArcMap)"
The addin interprets the | character when input is decimal degrees, but not when degree decimal minutes (DDM), or degrees minutes seconds (DMS).

**NOTE: the addin should handle the following combinations: |, |space, space|space**

DD example, which works correctly: 45.0N|100.0W
![image](https://cloud.githubusercontent.com/assets/4635490/21617539/78e6655e-d19b-11e6-9d69-935c17aa85b6.png)

DDM exam

[2017-01-03 18:36] elinz opened #202 "Coordinate Conversion input format does not support the _ (underscore) coordinate pair separator character when input is DDM and DMS (ArcGIS Pro)"
According to the following help topic, ArcGIS Pro supports the underscore _ as the separator between degrees and decimal minutes in DDM format, and the separator between degrees, minutes, and seconds in DMS format, however, the Coordinate Convert addin does not supports this.
http://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm

**NOTEs:**
- **The addin sh

[2017-01-03 18:37] elinz opened #203 "Coordinate Conversion input format does not support the _ (underscore) coordinate pair separator character when input is DDM and DMS (ArcMap)"
According to the following help topic, ArcMap supports the underscore _ as the separator between degrees and decimal minutes in DDM format, and the separator between degrees, minutes, and seconds in DMS format, however, the Coordinate Convert addin does not supports this.
http://desktop.arcgis.com/en/arcmap/10.3/tools/data-management-toolbox/supported-notation-formats.htm

**NOTEs:**
- **The addin

[2017-01-03 18:42] elinz opened #204 "Coordinate Conversion input format does not support the - (hyphen) coordinate pair separator character when input is DDM and DMS (ArcGIS Pro)"
According to the following help topic, ArcGIS Pro supports the hyphen - as the separator between degrees and decimal minutes in DDM format, and the separator between degrees, minutes, and seconds in DMS format, however, the Coordinate Convert addin does not supports this.
http://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm

**NOTEs:**
- **The addin should

[2017-01-03 18:44] elinz opened #205 "Coordinate Conversion input format does not support the - (hyphen) coordinate pair separator character when input is DDM and DMS (ArcMap)"
According to the following help topic, ArcMap supports the hyphen - as the separator between degrees and decimal minutes in DDM format, and the separator between degrees, minutes, and seconds in DMS format, however, the Coordinate Convert addin does not supports this.
http://desktop.arcgis.com/en/arcmap/10.3/tools/data-management-toolbox/supported-notation-formats.htm

**NOTEs:**
- **The addin sho

[2017-01-03 23:30] jmhauck commented on #163
Only tested Pro 1.4

[2017-01-04 00:06] jmhauck opened #207 "DDM and DMS need to support coordinates without decimal point"
For example:

DDM
45 0.0N 100 0.0W (works)
45 0N 100 0W (fails)

DMS
45 0 0.0N 100 0 0.0W (works)
45 0 0N 100 0 0W (fails)

[2017-01-04 00:07] elinz opened #208 "Coordinate Conversion generating output for input values that are ambiguous (ArcGIS Pro)"
The addin is generating output for input values that are ambiguous.

Some examples, below:

- [ ] Input value: 00
![image](https://cloud.githubusercontent.com/assets/4635490/21627667/3c9de6a2-d1ce-11e6-9366-f778c92d1133.png)
This doesn't become a valid value until 00 is separated by a space, a comma or one of the other valid coord-pair-separators (http://pro.arcgis.com/en/pro-app/tool-reference/da

[2017-01-04 00:12] elinz opened #209 "Coordinate Conversion generating output for input values that are ambiguous (ArcMap)"
The addin is generating output for input values that are ambiguous.

Some examples, below:

- [ ] Input value: 00
![image](https://cloud.githubusercontent.com/assets/4635490/21627792/33815ec2-d1cf-11e6-83f5-25c9dd07ec43.png)
This doesn't become a valid value until 00 is separated by a space, a comma or one of the other valid coord-pair-separators (http://desktop.arcgis.com/en/arcmap/10.3/tools/dat

[2017-01-04 00:20] jmhauck commented on #204
The following notation should work with either (lat\lon) or (lon\lat)

DDM examples:
45-0.0N 100-0.0W

DMS examples:
45-0-0.0N 100-0-0.0W

However, will need to resolve #207 to handle as below:

DDM examples:
45-0N 100-0W

DMS examples:
45-0-0N 100-0-0W

[2017-01-04 00:21] jmhauck commented on #205
The following notation should work with either (lat\lon) or (lon\lat)

DDM examples:
45-0.0N 100-0.0W

DMS examples:
45-0-0.0N 100-0-0.0W

However, will need to resolve #207 to handle as below:

DDM examples:
45-0N 100-0W

DMS examples:
45-0-0N 100-0-0W

[2017-01-04 00:22] jmhauck commented on #202
The following notation should work with either (lat\lon) or (lon\lat)

DDM examples:
45_0.0N 100_0.0W

DMS examples:
45_0_0.0N 100_0_0.0W

However, will need to resolve #207 to handle as below:

DDM examples:
45_0N 100_0W

DMS examples:
45_0_0N 100_0_0W

[2017-01-04 00:22] jmhauck commented on #203
The following notation should work with either (lat\lon) or (lon\lat)

DDM examples:
45_0.0N 100_0.0W

DMS examples:
45_0_0.0N 100_0_0.0W

However, will need to resolve #207 to handle as below:

DDM examples:
45_0N 100_0W

DMS examples:
45_0_0N 100_0_0W

[2017-01-04 15:09] elinz commented on #207
@jmhauck Good catch

[2017-01-04 16:59] nfeuerstein commented on #163
@abrowning80 can you verify this is still an issue at 1.4?

This is how it should work:
1. choose the map tool
2. click a point on the map
3. map tool is disabled
4. choose the map tool to choose a different point on the map

[2017-01-04 18:14] mfunk commented on #160
Still seeing this for 1.2 in today's 9am build.

![image](https://cloud.githubusercontent.com/assets/3093182/21653573/a29ae868-d266-11e6-844f-b8e0e36a6af5.png)

[2017-01-04 18:44] elinz commented on #155
@dhagens I tested on latest add-in build dated 04 Jan 2017 09:09.
Entered 45.0N 100.0W.
- The addin does not flash a point or flash the crosshairs. If the entered coordinate does not exist in the current map extent, then the map is centered on the entered coordinate as I would expect.
- The Map Point tool is enabled when I hit enter after enter the coordinates. I would expect the Map Point tool to

[2017-01-04 19:11] dhagens commented on #155
@elinz, was this in the Pro or ArcMap addin?
@jmhauck Do you want to take a look at this since you are working on Coordinate Conversion?  @jmccausland added this functionality for the Pro addin I believe.  Maybe it just wasn't added to the ArcMap addin or vice versa.

[2017-01-04 19:21] jmhauck commented on #155
@dhagens I will take a look

[2017-01-04 20:29] elinz commented on #155
@dhagens @jmhauck @jmccausland This issue is with Pro.

[2017-01-05 16:34] elinz commented on #200
@jmhauck Installed Pro addin dated 05 Jan 2017 05:13 and tested on Pro build 1.4.7197 and the | character is working. Closing issue.

[2017-01-05 16:34] #200 closed

[2017-01-05 17:02] elinz commented on #192
@jmhauck Installed Pro addin dated 05 Jan 2017 05:13 and tested on Pro build 1.4.7197 and the \ character is working. Closing issue.

[2017-01-05 17:02] #192 closed

[2017-01-05 17:29] elinz commented on #177
@jmhauck Installed Pro addin dated 05 Jan 2017 09:08 and tested on Pro build 1.4.7197 and case is being ignored. Closing issue.

[2017-01-05 17:29] #177 closed

[2017-01-05 17:39] elinz commented on #175
@jmhauck Installed Pro addin dated 05 Jan 2017 09:08 and tested on Pro build 1.4.7197 and the | character is working. Closing issue.

[2017-01-05 17:39] #175 closed

[2017-01-05 17:50] jmhauck commented on #158
@elinz  In terms of using the word Default for each. The code is currently using those example values as a unique key for looking up and storing the formats. Anything can be changed but this would require a fair bit of effort. As a possible alternative I switched them to be "Default DD" and "Default DDM" for example so they would retain the unique nature and avoid showing an additional coordinate

[2017-01-05 17:51] jmhauck commented on #157
@elinz  In terms of using the word Default for each. The code is currently using those example values as a unique key for looking up and storing the formats. Anything can be changed but this would require a fair bit of effort. As a possible alternative I switched them to be "Default DD" and "Default DDM" for example so they would retain the unique nature and avoid showing an additional coordinate

[2017-01-05 17:53] elinz commented on #158
@jmhauck Ok. Understand the issue. The alternative of using "Default DD", "Default DDM" is a good alternative.

[2017-01-05 17:58] elinz commented on #157
@jmhauck Ok. Understand the issue. The alternative of using "Default DD", "Default DDM" is a good alternative.

[2017-01-05 18:05] jmccausland commented on #157
@elinz @jmhauck FYI the format list box was intended to have more than two options.  These options are defaulted when there are no formats found in the assembly .config file.  A request went out to the team over a year ago on what 'configured' formats should be in the list box for each coordinate type.  We received ZERO feedback so that's why there is only two, the default and custom.

[2017-01-05 18:10] elinz commented on #174
@jmhauck Installed Pro addin dated 05 Jan 2017 09:08 and tested on Pro build 1.4.7197 and the / character is working. Closing issue.

[2017-01-05 18:10] #174 closed

[2017-01-05 18:14] dfoll opened #213 "WGS 1984 explanation in the intro topic for Coordinate Conversion"
In the intro topic for coordinate conversion it is stated that you need to be working in WGS 1984, do we need to explain this further to clarify what the problem is, and what will happen if you are not

[2017-01-05 18:21] jmhauck commented on #157
@jmccausland that makes sense why the sample coordinate value would be used. Would be easy to see differences between each example format for each category without having to click on them. Do you think that will come back up again? Should we switch back to the previously used coordinate value rather than the text that was just added?

[2017-01-05 18:23] jmccausland commented on #157
As soon as a user reads the readme file and modifies the config file with their defaults, it would probably break.

[2017-01-05 18:31] jmhauck commented on #157
@jmccausland ok...I can switch them back.

[2017-01-05 18:36] elinz opened #214 ""History" input coordinate list does not work (ArcGIS Pro)"
I've typed and pasted multiple coordinates into the input control, but the drop-down list does not display the previously entered coordinates.
![image](https://cloud.githubusercontent.com/assets/4635490/21692638/a14ea644-d332-11e6-8652-0da83a571a46.png)

In my opinion, this can be looked at for a future release of the tools.

[2017-01-05 18:39] elinz opened #215 ""History" input coordinate list does not work (ArcMap)"
I've typed and pasted multiple coordinates into the input control, but the drop-down list does not display the previously entered coordinates.
![image](https://cloud.githubusercontent.com/assets/4635490/21692748/28b34504-d333-11e6-90ee-696f1be05e81.png)

In my opinion, this can be looked at for a future release of the tools.

[2017-01-05 19:03] dfoll commented on #214
just to add to the confusion a little bit 😵 ,   in Pro with build 1057 i'm not able to reproduce this

![image](https://cloud.githubusercontent.com/assets/5322669/21693594/5c03cdea-d336-11e6-9220-7007c9ec3c37.png)

[2017-01-05 19:04] elinz opened #216 "Doc-Coordinate Conversion: include section/appendix that lists the supported notation formats (ArcGIS Pro)"
We need to add a section or appendix to the Pro tool .pdf that describes all the supported notation formats. It's important to include as the tool does not support all the notations described in the core help (link below); and the tool supports notations not supported by core.

http://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm

[2017-01-05 19:04] elinz opened #217 "Doc-Coordinate Conversion: include section/appendix that lists the supported notation formats (ArcMap)"
We need to add a section or appendix to the Pro tool .pdf that describes all the supported notation formats. It's important to include as the tool does not support all the notations described in the core help (link below); and the tool supports notations not supported by core.

http://desktop.arcgis.com/en/arcmap/10.3/tools/data-management-toolbox/supported-notation-formats.htm

[2017-01-05 19:07] dfoll commented on #155
documentation is affected by this because it currently mentions the flash upon pressing enter, this will need changed with the issue is not fixed for this release

[2017-01-05 19:14] BobBooth opened #218 "No default output formats? (ArcGIS Pro)"
Didn't the CC tool have some default output formats set at installation?
Seems like this would be useful.

[2017-01-05 20:47] elinz commented on #214
Based on @dfoll testing it has been determined that the coordinate is only saved to the history if you used the Map point tool to specify the location. Typing/pasting in a coordinate and hitting return is not saving the coordinate.

[2017-01-05 20:47] elinz commented on #215
Based on @dfoll testing it has been determined that the coordinate is only saved to the history if you used the Map point tool to specify the location. Typing/pasting in a coordinate and hitting return is not saving the coordinate.

[2017-01-05 20:56] elinz commented on #204
@jmhauck Installed Pro addin dated 05 Jan 2017 11:04 and tested on Pro build 1.4.7197 and the - (hyphen) character is working. Closing issue.

[2017-01-05 20:56] #204 closed

[2017-01-05 21:11] elinz commented on #202
@jmhauck Installed Pro addin dated 05 Jan 2017 11:04 and tested on Pro build 1.4.7197 and the underscore character is working. Closing issue.

[2017-01-05 21:11] #202 closed

[2017-01-05 21:11] joebayles commented on #168
@dfoll I would actually make it an option.

I had the same thought, but some people might not want that (especially if they are pasting into a spreadsheet or other form).

[2017-01-05 21:20] elinz commented on #157
@jmhauck @jmccausland if we're going to keep the default name as before (for DD, DDM, and DMS), for example, 70.49N 40.32W for DD then should we change the label to match the altered formatting?

![image](https://cloud.githubusercontent.com/assets/4635490/21697898/6a175ff6-d349-11e6-98e2-ad55820d1f9a.png)
For the default DD format, we changed so that up to 6 decimal places would display in the out

[2017-01-05 21:20] joebayles commented on #214
Also, it should be noted that it will only save it in the Display Coordinate chosen _at that time:_
![image](https://cloud.githubusercontent.com/assets/5016557/21697966/c04b8c1c-d349-11e6-9706-aa90e1e080e2.png)

[2017-01-05 21:23] topowright commented on #160
Verified

[2017-01-05 21:23] #160 closed

[2017-01-05 21:25] joebayles commented on #218
Related to https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/92?

[2017-01-05 21:26] joebayles commented on #216
Related to https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/92?

[2017-01-05 21:28] elinz commented on #218
@BobBooth @joebayles yes, this is the same as #92

[2017-01-05 21:56] joebayles opened #220 "Coordinate Conversion - Diacritical Marks (ArcGIS Pro)"
![image](https://cloud.githubusercontent.com/assets/5016557/21698964/637d950c-d34e-11e6-8dcb-80220f2a60c4.png)

If I paste the regular DMS and DM outputs that I received in this dialog into the input, it will not work.

A few suggestions:
- If we are going to use them, they should be:
  - Readable by the input.
  - Copyable by the output.
  - Displayed at all times.
  - If it's an issue to parse t

[2017-01-05 22:04] elinz commented on #220
@joebayles @nfeuerstein @jmhauck Here is what we have for default formatting for DD, DDM, and DMS related to diacritics:
![image](https://cloud.githubusercontent.com/assets/4635490/21699157/410958e8-d34f-11e6-9176-b9e71b7b0059.png)

For the default DD output formatting we don't include the degree symbols, so for DDM and DMS we shouldn't include the degree, minutes, or seconds. This will make it ea

[2017-01-05 22:14] topowright opened #221 "Flash animation does not work in Pro"
Flash animation should happen when user inputs a coordinate manually.  This is not happening, but this capability has been there in previous releases of the add-in.

[2017-01-05 22:14] joebayles commented on #220
@elinz agreed for output.

For input, we should be able to handle a coordinate string that has diacritical marks, even if it is just removing them to make the string eligible.

[2017-01-05 22:15] dfoll commented on #221
is this a duplicate of #155 ?

[2017-01-05 22:26] joebayles opened #222 "Coordinate Conversion - Flash or Persist - ArcGIS Pro"
I suggest that the user be given the option to flash a point or persist a feature, which would be useful in remembering where certain points are. This would dovetail nicely with the ability to batch capture coordinates.

FYI @elinz @mfunk @dfoll @nfeuerstein

[2017-01-05 22:29] elinz commented on #220
@joebayles fyi. I've created other issues about accepting diacritics as input. #196 #197, #198, #199

[2017-01-05 22:31] elinz commented on #207
@jmhauck I'll start a build and test this.

[2017-01-05 22:32] topowright commented on #221
It seems so.

[2017-01-05 22:33] topowright commented on #221
This is an issue that is being addressed in issue #155

[2017-01-05 22:33] #221 closed

[2017-01-05 22:40] nfeuerstein commented on #218
If this duplicated, can we close it out?

[2017-01-05 22:54] topowright opened #223 "Collect tab is missing in ArcGIS Pro"
When installing the Military Tools single add-in I am not seeing the collect tab. I tested on 1.5.2016 1042 version on ArcGIS Pro1.4.

[2017-01-05 22:57] lfunkhouser opened #224 "This issue has been opened to transfer labels to another GitHub repo"

[2017-01-05 22:58] lfunkhouser commented on #224
This issue was moved to ArcGIS/military-tools-dotnet-single-add-in#4

[2017-01-05 22:58] #224 closed

[2017-01-05 23:27] elinz commented on #207
@jmhauck oops. spoke to soon. The commit with the fix hasn't been merged yet.

[2017-01-05 23:43] elinz commented on #173
@jmhauck Installed Pro addin dated 05 Jan 2017 14:42 and tested on ArcMap 10.3.1 and the / character is working. Closing issue.

[2017-01-05 23:43] #173 closed

[2017-01-06 00:02] elinz commented on #176
@jmhauck Installed Pro addin dated 05 Jan 2017 14:42 and tested on ArcMap 10.3.1 and case is ignored. Closing issue.

[2017-01-06 00:02] #176 closed

[2017-01-06 15:32] elinz commented on #193
@jmhauck Installed Pro addin dated 05 Jan 2017 14:42 and tested on ArcMap 10.3.1 and the | character is working. Closing issue.

[2017-01-06 15:32] #193 closed

[2017-01-06 15:43] elinz commented on #201
@jmhauck Installed Pro addin dated 05 Jan 2017 14:42 and tested on ArcMap 10.3.1 and the | character is working. Closing issue.

[2017-01-06 15:43] #201 closed

[2017-01-06 15:47] jmhauck commented on #223
@topowright should be good now.

[2017-01-06 15:49] jmhauck commented on #207
@elinz the commit with this fix has been merged. I have been waiting to flip the label to verify until the merge occurs.

[2017-01-06 15:49] elinz commented on #203
@jmhauck Installed Pro addin dated 05 Jan 2017 14:42 and tested on ArcMap 10.3.1 and the _ (underscore) character is working. Closing issue.

[2017-01-06 15:49] #203 closed

[2017-01-06 16:16] #218 closed

[2017-01-06 16:29] elinz commented on #205
@jmhauck Installed Pro addin dated 06 Jan 2017 07:40 and tested on ArcMap 10.3.1 and the - (hyphen) character is working. Closing issue.

[2017-01-06 16:29] #205 closed

[2017-01-06 16:39] elinz commented on #207
@jmhauck Thanks.

[2017-01-06 16:52] elinz commented on #207
@jmhauck I tested the latest addin built at 07:40 this morning in both ArcMap 10.3.1 and Pro 1.4 and this fix isn't working.

[2017-01-06 17:05] dhagens commented on #207
@elinz, I suspect the merge was made after that build was kicked off.  Try kicking off a new build and testing with that.

[2017-01-06 17:40] BobBooth commented on #94
Saw this today in Holistic - seems strange that the Map Point Tool loses focus after a single click on the map. What if I clicked the wrong place?

[2017-01-06 17:50] BobBooth commented on #220
@elinz @joebayles - strangely enough, in ArcMap (10.4.1) the Distance and Direction and Coordinate Conversion tool accept DMS formatted strings (like 35° 19' 19.91"N 116° 17' 22.01"W) that include diacritics (including the degree symbol) as inputs with no problem. Odd that it works in ArcMap but not Pro.

[2017-01-06 18:52] elinz commented on #207
@dhagens I'll test on a newer build. Thanks.

[2017-01-06 19:06] elinz commented on #207
@jmhauck @dhagens Tested this again with latest build 06 Jan 2017 09:31 and this still doesn't work.

[2017-01-06 20:08] elinz commented on #158
- Verified that the default DD format is set to display up to 6 significant digits.
- Verified that the default DDM format is set to display up to 4 significant digits.
- Verified that the default DMS form is set to display up to 2 significant digits.
- Performed the following test:
1. Entered the MGRS coordinate:10TET4889274330
10TET4889274330
47.620528N 122.349328W
47° 37.2317'N 122° 20.9597'W
4

[2017-01-06 20:35] elinz opened #226 "Coordinate Conversion no longer handling MGRS (ArcGIS Pro)"
Tested build 06 Jan 2017 09:31 on build 7198 of Pro 1.4.

- Enter 10TET4889274330 and it's not interpreted (ArcMap addin will interpret)
![image](https://cloud.githubusercontent.com/assets/4635490/21731732/af0a33a6-d40a-11e6-8a2d-81b837ba8f08.png)

- Enter 10TET4889274330 (not interpreted). Then remove last digit to make easting and northing have un-equal number of digits. This should not be inter

[2017-01-06 20:42] elinz opened #227 "Coordinate Conversion creating output for invalid MGRS coordinates (ArcMap)"
Tested on addin build 06 Jan 2017 09:31.

Entered 10TET4889274330 which is valid and the addin creates valid output:
![image](https://cloud.githubusercontent.com/assets/4635490/21732199/37b93d4e-d40d-11e6-92ac-cc49b5bb8297.png)

Then remove last number in value so value is now 10TET488927433
![image](https://cloud.githubusercontent.com/assets/4635490/21732230/653fbeaa-d40d-11e6-9087-4342336827f1.p

[2017-01-09 21:50] elinz opened #230 "Doc-Coordinate Conversion: "Customize a coordinate format" Pro and ArcMap .pdfs do not have same content"
How you customize/alter a coordinate format is the same for Pro and ArcMap addin's so the same content should be used for both the Pro addin .pdf and the ArcMap addin .pdf.

[2017-01-09 21:54] jmhauck commented on #157
@elinz The labels are updated to reflect the new default format.

[2017-01-09 21:55] elinz opened #231 "Doc-Coordinate Conversion: "Customize a coordinate format" does not include instructions on how to format DD/DDM/DMS (ArcGIS Pro)"
For DD, DDM, and DMS formats, the user can customize the output, however, we don't have any content in this .pdf topic to explain how users can do this.

For example, using # and 0's to format decimal places.
![image](https://cloud.githubusercontent.com/assets/4635490/21785166/4928a160-d673-11e6-89a0-9cf55d279064.png)

[2017-01-09 21:56] elinz opened #232 "Doc-Coordinate Conversion: "Customize a coordinate format" does not include instructions on how to format DD/DDM/DMS (ArcMap)"
For DD, DDM, and DMS formats, the user can customize the output, however, we don't have any content in this .pdf topic to explain how users can do this.

For example, using # and 0's to format decimal places.
![image](https://cloud.githubusercontent.com/assets/4635490/21785166/4928a160-d673-11e6-89a0-9cf55d279064.png)

[2017-01-10 02:54] elinz commented on #207
@jmhauck Verified this is working on Pro addin build 09 Jan 2017 16:49 on ArcGIS Pro 1.4 final build. Verified this is working on ArcMap addin build 09 Jan 2017 16:49 on ArcMap 10.3.1 final.

[2017-01-10 02:54] #207 closed

[2017-01-10 03:12] elinz commented on #227
@jmhauck Verified this is working on ArcMap addin build 09 Jan 2017 16:49 on ArcMap 10.3.1 final.

[2017-01-10 03:12] #227 closed

[2017-01-10 03:42] elinz commented on #226
@jmhauck Verified that all three issues listed above are working on Pro addin build 09 Jan 2017 16:49 on ArcGIS Pro 1.4 final build.

[2017-01-10 03:42] #226 closed

[2017-01-10 04:02] elinz commented on #155
@jmhauck Installed Pro addin build 09 Jan 2017 16:49 on ArcGIS Pro 1.4 final build and this is still not working.

[2017-01-10 04:20] elinz opened #233 "MGRS coordinate in input textbox is converted to incorrect UTM when display coordinate is changed to UTM (ArcGIS Pro)"
Steps to reproduce:
- The Map Point tool is disabled.
- Paste the following MGRS coordinate in the input textbox: 10TET4889274330
- This MGRS coordinate is interpreted:
![image](https://cloud.githubusercontent.com/assets/4635490/21793511/ed6e2956-d6a6-11e6-98ec-23c0d9fddf1a.png)

- The output UTM coordinate is: 10T 548892 5274330

- Now change the display coordinate properties to UTM.
![image](htt

[2017-01-10 04:24] elinz opened #234 "MGRS coordinate in input textbox is converted to incorrect UTM when display coordinate is changed to UTM (ArcMap)"
Steps to reproduce:
- The Map Point tool is disabled.
- Paste the following MGRS coordinate in the input textbox: 10TET4889274330
- This MGRS coordinate is interpreted:
![image](https://cloud.githubusercontent.com/assets/4635490/21793784/482ab84e-d6a9-11e6-8f3d-821df7738b48.png)

- The output UTM coordinate is: 10T 548892 5274330

- Now change the display coordinate properties to UTM.
![image](htt

[2017-01-10 04:35] elinz opened #235 ""Save As" on Collect tab throws error when saving coordinates to any output type (ArcGIS Pro)"
Pro addin build 09 Jan 2017 16:49 on ArcGIS Pro 1.4 final build (7198)

- Collect some coordinates...
![image](https://cloud.githubusercontent.com/assets/4635490/21793892/47154a72-d6aa-11e6-8667-5979784a8c69.png)

- Click "Save As" and save to Pro project default file geodatabase. The following error was thrown:
![image](https://cloud.githubusercontent.com/assets/4635490/21793919/857c64a8-d6aa-11e

[2017-01-10 16:42] Dbarnes1 opened #236 "No Documentation on Collect Tab for ArcGIS Pro"
I'm realizing the the collect tab has reappeared in our add-in for ArcGIS Pro, and a workflow topic needs to be added to the documentation explaining what it is. I'm going to try and tackle this and assign for review once I'm done.

[2017-01-10 18:03] elinz commented on #158
@jmhauck Verified this is working on ArcMap addin build 10 Jan 2017 05:53 on ArcMap 10.3.1 final. Closing this issue.

[2017-01-10 18:03] #158 closed

[2017-01-10 18:15] elinz commented on #157
@jmhauck Verified this is working on Pro addin build 10 Jan 2017 05:53 on ArcGIS Pro 1.4 final build.

- Verified that the default DD format is set to display up to 6 significant digits.
- Verified that the default DDM format is set to display up to 4 significant digits.
- Verified that the default DMS form is set to display up to 2 significant digits.
- Performed the following test:
1. Entered th

[2017-01-10 18:15] #157 closed

[2017-01-10 18:51] topowright commented on #222
@joebayles Do you think that this suggestion could be fulfilled by using the collect tab. I do not think the collect tab was showing up five days ago, but it should be there now. I feel like the collect tab has all of these features.

[2017-01-10 18:57] topowright commented on #155
@lfunkhouser @nfeuerstein @kgonzago @elinz I have looked into this a bit further and I can verify that the fix that @jmhauck made works in the single component add-in, but not in the single Military Tools Add-in. This tells me that this is just a sync issue with Jenkins. @kgonzago please let me know if I can be of any help.

[2017-01-10 20:02] jmhauck commented on #213
When using display coordinate type of DD and the MapTool.
 - all input coordinates are assumed to be WGS_84...there is a Project call that will project incoming coordinates to WGS_84.

When using display coordinate type of Default Map Unit and the MapTool
 - Project is not called. It is assumed that the incoming coordinate is in the maps spatial reference.

When manually entering a coordinate.
 -

[2017-01-10 20:12] jmhauck commented on #23
When a user enters a coordinate we need to understand the appropriate spatial reference to use. This definition could potentially come from a variety of places...could be user defined, based on the map, or could be hard coded. Currently it is based on a mix of hard-coded and the map. Please see the following comment for additional details: https://github.com/Esri/coordinate-conversion-addin-dotnet

[2017-01-10 20:42] joebayles commented on #222
It does, thanks. However, what is the best way to batch convert these, or at least do them one-at-a-time? Copy and paste them back into the Convert tab Input, or Select the feature in the map? Also, I'm not seeing any documentation on the Collect tab.

[2017-01-10 20:57] Dbarnes1 commented on #222
no documentation on collect tab is issue https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/236, should be taken care of soon.

[2017-01-10 21:08] joebayles opened #238 "Display Coordinate - Edit Properties Bug - ArcGIS Pro"
Clicking on the Edit Properties button brings this up:
![image](https://cloud.githubusercontent.com/assets/5016557/21824700/711832e0-d735-11e6-900d-d8214e38f1be.png)

The options are all there, but you can't see them. I don't know if this is just a Dark Theme issue or a bug.
![image](https://cloud.githubusercontent.com/assets/5016557/21824815/eda46c48-d735-11e6-966e-5463cc1f70ae.png)

Also, I'm no

[2017-01-10 21:30] elinz commented on #196
@jmhauck Verified this is working on Pro addin build 10 Jan 2017 05:53 on ArcGIS Pro 1.4 final build. Closing issue.

[2017-01-10 21:30] #196 closed

[2017-01-10 22:13] elinz commented on #190
@jmhauck Verified this is working on Pro addin build 10 Jan 2017 05:53 on ArcGIS Pro 1.4 final build. Closing issue.

[2017-01-10 22:13] #190 closed

[2017-01-10 22:33] NatalieCampos opened #239 "Unselect multiple coordinates"
In the Collection tab, I would like to deselect all the selected coordinates (See Pic).  Currently when multiple coordinates are selected they have to be individually deselected.  I would like a deselect all button or to be able to use the core select tools.

![image](https://cloud.githubusercontent.com/assets/5116835/21827584/310c407c-d741-11e6-8d08-503b08d7abdb.png)

[2017-01-10 22:46] elinz commented on #198
@jmhauck Verified this is working on Pro addin build 10 Jan 2017 05:53 on ArcGIS Pro 1.4 final build. Closing issue.

[2017-01-10 22:46] #198 closed

[2017-01-10 22:53] joebayles commented on #238
This is well-documented in a few different issues (Esri/distance-direction-addin-dotnet#233, https://github.com/Esri/military-tools-for-arcgis/issues/66, https://github.com/Esri/military-tools-for-arcgis/issues/79), so I'll add it to the tracker.

[2017-01-10 22:58] NatalieCampos opened #241 "Select multiple coordinates"
I would like to select multiple coordinates using the shift+select like in excel or windows.  Currently when selecting multiple coordinates, I have to select multiple coordinates.  But I would like to use the  shift+select keys to select groups of coordinates.

![image](https://cloud.githubusercontent.com/assets/5116835/21828410/2a2ebae2-d745-11e6-9ce9-067cc0cafa81.png)

[2017-01-11 00:38] NatalieCampos opened #242 "unable to save collected coordinates in collect tab"
unable to save collected coordinates in collect tab of cc addin. To reproduce

1. collect coordiantes
2. Save as

Error is below

![image](https://cloud.githubusercontent.com/assets/5116835/21830678/36a639e0-d753-11e6-92ad-f7b644cafd2e.png)

[2017-01-11 00:57] NatalieCampos commented on #236
The following topics were added to the Pro Xmetal map and are ready to be reviewed.

1.  Collecting Coordiantes
2. Importing Coordiantes

[2017-01-11 02:21] elinz commented on #194
@jmhauck Verified this is working on Pro addin build 10 Jan 2017 05:53 on ArcGIS Pro 1.4 final build. Closing issue.

[2017-01-11 02:21] #194 closed

[2017-01-11 02:32] elinz commented on #199
@jmhauck Verified this is working on ArcMap addin build 10 Jan 2017 05:53 on ArcMap 10.3.1. Closing issue.

[2017-01-11 02:32] #199 closed

[2017-01-11 02:35] elinz commented on #197
@jmhauck Verified this is working on ArcMap addin build 10 Jan 2017 05:53 on ArcMap 10.3.1. Closing issue.

[2017-01-11 02:35] #197 closed

[2017-01-11 02:36] elinz commented on #195
@jmhauck Verified this is working on ArcMap addin build 10 Jan 2017 05:53 on ArcMap 10.3.1. Closing issue.

[2017-01-11 02:36] #195 closed

[2017-01-11 02:41] elinz commented on #191
@jmhauck Verified this is working on ArcMap addin build 10 Jan 2017 05:53 on ArcMap 10.3.1. Closing issue.

[2017-01-11 02:41] #191 closed

[2017-01-11 03:14] elinz commented on #235
Verified fixed in Pro addin build 10 Jan 2017 15:25 installed on ArcGIS Pro 1.4 final build. Performed "Save As" to file geodatabase feature class, a shapefile and a kml file. Closing issue.

[2017-01-11 03:14] #235 closed

[2017-01-11 03:38] elinz opened #243 "Coordinate Conversion does not support diaeresis and double acute accent symbol for seconds-mark (ArcGIS Pro)"
The addin currently supports all other symbols for degrees, minutes, and seconds (see https://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm) except for the following symbols:

- Diaeresis  ¨  (U+00A8)
- Double Acute Accent ˝ (U+02DD)

[2017-01-11 03:41] elinz opened #244 "Coordinate Conversion does not support diaeresis and double acute accent symbol for seconds-mark (ArcMap)"
The addin currently supports all other symbols for degrees, minutes, and seconds (see http://desktop.arcgis.com/en/arcmap/10.3/tools/data-management-toolbox/supported-notation-formats.htm) except for the following symbols:

- Diaeresis  ¨  (U+00A8)
- Double Acute Accent ˝ (U+02DD)

[2017-01-11 03:44] elinz commented on #242
@NatalieCampos @nfeuerstein This is a duplicate of issue #235, which has been fixed and verified. Closing this issue.

[2017-01-11 04:09] elinz opened #245 "Coordinate Conversion expects components of latitude and longitude input values to be "balanced" (ArcGIS Pro)"
### DDM example:
If a enter a decimal minute component for latitude, the addin expects the longitude to also have a decimal minute component.

- Type in the following coordinate: 45 0.0N 100 0.0W
The input is interpreted and output coordinates are displayed:
![image](https://cloud.githubusercontent.com/assets/4635490/21835021/92de09e8-d76e-11e6-92ea-9819dc2b4176.png)

- Now edit 100 0.0W in the in

[2017-01-11 04:10] elinz opened #246 "Coordinate Conversion expects components of latitude and longitude input values to be balanced (ArcMap)"
### DDM example:
If a enter a decimal minute component for latitude, the addin expects the longitude to also have a decimal minute component.

- Type in the following coordinate: 45 0.0N 100 0.0W
The input is interpreted and output coordinates are displayed:
![image](https://cloud.githubusercontent.com/assets/4635490/21835021/92de09e8-d76e-11e6-92ea-9819dc2b4176.png)

- Now edit 100 0.0W in the in

[2017-01-11 04:31] elinz opened #247 "Typing versus pasting in an input coordinate produces invalid results (ArcGIS Pro)"
- Type in the following coordinate: 90N 50E
The coordinate is interpreted and the following output is created:
![image](https://cloud.githubusercontent.com/assets/4635490/21835339/173b656c-d771-11e6-9c27-320257d50935.png)
The output coordinates DD, DDM, DMS, and GARS are correct, however MGRS (32NNF0000000000), USNG (32NNF0000000000), and UTM (32N 500000 0) are not correct.

The output MGRS/USNG/U

[2017-01-11 04:32] elinz opened #248 "Typing versus pasting in an input coordinate produces invalid results (ArcMap)"
- Type in the following coordinate: 90N 50E
The coordinate is interpreted and the following output is created:
![image](https://cloud.githubusercontent.com/assets/4635490/21835339/173b656c-d771-11e6-9c27-320257d50935.png)
The output coordinates DD, DDM, DMS, and GARS are correct, however MGRS (32NNF0000000000), USNG (32NNF0000000000), and UTM (32N 500000 0) are not correct.

The output MGRS/USNG/U

[2017-01-11 05:19] nfeuerstein commented on #163
@joebayles please verify that this can/cannot be replicated in 1.4.  I'm not sure when @abrowning80 will be available to do so.

[2017-01-11 15:06] Dbarnes1 commented on #236
@NatalieCampos I verified that the documentation was added, I made some edits to the collect topic but everything looks good now. I'm going to go ahead and close.

[2017-01-11 15:06] #236 closed

[2017-01-11 15:38] Dbarnes1 commented on #230
@elinz ready for verification with next build of pdf. I'm going to look at the other coordinate conversion topics as well for consistency.

[2017-01-11 16:17] elinz opened #249 "Coordinate Conversion does not support the ; and : as coordinate pair separtors when input is DDM and DMS (ArcGIS Pro)"
The Coordinate Conversion addin supports the colon and and semi-colon characters (this is not supported by Pro/ArcMap). These separator characters work for input in DD format, but not DDM and DMS.

The following DD coordinates which have ; and : work:
- 45.0N;100.0W
- 45.0N; 100.0W
- 45.0N ; 100.0W
- 45.0N:100.0W
- 45.0N: 100.0W
- 45.0N : 100.0W

The following DDM and DMS coordinates which have ;

[2017-01-11 16:18] elinz opened #250 "Coordinate Conversion does not support the ; and : as coordinate pair separtors when input is DDM and DMS (ArcMap)"
The Coordinate Conversion addin supports the colon and and semi-colon characters (this is not supported by Pro/ArcMap). These separator characters work for input in DD format, but not DDM and DMS.

The following DD coordinates which have ; and : work:
- 45.0N;100.0W
- 45.0N; 100.0W
- 45.0N ; 100.0W
- 45.0N:100.0W
- 45.0N: 100.0W
- 45.0N : 100.0W

The following DDM and DMS coordinates which have ;

[2017-01-11 16:33] elinz commented on #244
@nfeuerstein @topowright I have noted this limitation n the addin doc topic about what coordinate notations are supported.

[2017-01-11 16:34] elinz commented on #243
@nfeuerstein @topowright I have noted this limitation n the addin doc topic about what coordinate notations are supported.

[2017-01-11 17:30] lfunkhouser commented on #248
War room update: Team agreed that coordinate will not be converted until pressing Enter.

[2017-01-11 17:37] #223 closed

[2017-01-11 17:39] #164 closed

[2017-01-11 17:40] #163 closed

[2017-01-11 18:24] elinz commented on #232
Should also include content on how to customize the output of the other coordinate systems also.

[2017-01-11 18:25] elinz commented on #231
Should also include content on how to customize the output of the other coordinate systems also.

[2017-01-11 18:28] elinz commented on #245
@nfeuerstein We will add a note to the doc about this limitation.

[2017-01-11 18:29] elinz commented on #246
@nfeuerstein We will add a note to the doc about this limitation.

[2017-01-11 18:59] NatalieCampos commented on #242
I tried this again with this mornings build and no errors.  Closing this issue.

[2017-01-11 18:59] #242 closed

[2017-01-11 19:04] pHill5136 commented on #248
@jmhauck Noticed when you paste bogus coordinate (90N 50E) and hit enter sometimes map flashes at 0 0 other times crashes arcmap when the flash is created. Thought you should be aware since you are creating an onEnter event...

[2017-01-11 19:13] Dbarnes1 commented on #231
@elinz I added a sentence explaining the difference between 0 and #, and specified MGRS letter formatting. I believe that we could include more content on how to customize the output of other coordinate systems, but the deeper I look into this the more I am confused at why our coordinate conversion tool doesn't mimic exactly how output coordinates are displayed in ArcGIS Pro.

I propose that, for

[2017-01-11 19:14] Dbarnes1 commented on #232
see comment in: https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/231

[2017-01-11 19:33] jmccausland commented on #231
@Dbarnes1 The original intention of the CC tool was to meet a need for users who use different apps that use different systems and notations.  The original case had a user who had a dozen different applications running at the same time (including Desktop or Pro) and needed to copy/paste coordinates to and from all of these systems.  The CC AddIn allows the user to quickly copy/paste from system A,

[2017-01-11 20:13] topowright opened #251 "Issues with the collect tab"
1. When writing the features collected from the collect tab to shp, featureclass or kml it should include all of the formats and their custom settings that have been set in the convert tab.

2. When importing csv's into the collect tab the options should b x and y for fields in the dialog box. Currently they are set to field 1 and field 2.

![image](https://cloud.githubusercontent.com/assets/54883

[2017-01-11 20:44] Dbarnes1 commented on #231
per my conversation with @nfeuerstein, we are going to move any further explanation of output coordinate display to post january release.

[2017-01-11 20:53] elinz commented on #231
@Dbarnes1 @nfeuerstein Sounds good.

[2017-01-11 20:53] elinz commented on #232
@Dbarnes1 @nfeuerstein Sounds good.

[2017-01-11 21:15] #155 closed

[2017-01-11 22:53] topowright commented on #23
@JSibbald We have been working to replicate this issue and we have found the following to be true.
Coordinate conversion makes the following assumptions:

•	When using the Map Point Tool and the default map units are set in the edit properties on the coordinate conversion pane, the input coordinates are in the map’s spatial reference.
•	When using the map point tool and display coordinate types ot

[2017-01-11 23:37] elinz commented on #230
@Dbarnes1 The content isn't correct concerning decimal places.

0 represents a digit. # represents a significant digit. This I believe only applies to degree based formats.
The default for DD is Y0.0#####N X0.0#####E where 0 after the decimal represents a digit; # represents a significant digit. So the default DD format would display at a minimum a single decimal place, but can display up to 6 dec

[2017-01-11 23:42] Dbarnes1 commented on #230
@elinz thanks for checking, I'll add this correction to the documentation and I'll let you know.

[2017-01-12 00:11] Dbarnes1 commented on #230
corrected this issue, let me know if my statement is correct.

[2017-01-12 00:13] elinz opened #252 "Coordinate Conversion: UTM rounding issue (1 meter off)? (ArcGIS Pro)"
@nfeuerstein When I was verifying the fix to #157 I found that the output UTM coordinate in some test cases was 1 meter off then what was expected (see https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/157#issuecomment-271653373). If I remember correctly it was never 1 meter off in both the easting and northing. It was either off on one or the other coordinate components and didn't

[2017-01-12 00:14] elinz opened #253 "Coordinate Conversion: UTM rounding issue (1 meter off)? (ArcMap)"
@nfeuerstein When I was verifying the fix to #158 I found that the output UTM coordinate in some test cases was 1 meter off then what was expected (see https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/158#issuecomment-270993622). If I remember correctly it was never 1 meter off in both the easting and northing. It was either off on one or the other coordinate components and didn't

[2017-01-12 00:54] topowright commented on #23
@jmhauck @dfoll
Derek and I took an extensive look into how to document this problem and ran into some concerns. The three statements are correct:

•	When using the Map Point Tool and the default map units are set in the edit properties on the coordinate conversion pane, the input coordinates are in the map’s spatial reference.
•	When using the map point tool and display coordinate types other tha

[2017-01-12 02:41] elinz opened #254 "Coordinate Conversion is auto correcting incorrect invalid coordinates (ArcGIS Pro)"
Enter the following invalid coordinate: 45 300s|100 30.0w

The tool auto corrects the 300s to 5 minutes and creates the following output:
![image](https://cloud.githubusercontent.com/assets/4635490/21874896/d27a6024-d82c-11e6-8be4-cedfd63dc535.png)

The tool should not auto correct invalid coordinates. The tool should interpret this as invalid and clear the output coordinate textboxes as an indica

[2017-01-12 02:43] elinz opened #255 "Coordinate Conversion is auto correcting invalid input coordinates (ArcMap)"
Enter the following invalid coordinate: 45 300s|100 30.0w

The tool auto corrects the 300s to 5 minutes and creates the following output:
![image](https://cloud.githubusercontent.com/assets/4635490/21874896/d27a6024-d82c-11e6-8be4-cedfd63dc535.png)

The tool should not auto correct invalid coordinates. The tool should interpret this as invalid and clear the output coordinate textboxes as an indica

[2017-01-12 05:00] elinz opened #256 "Coordinate Conversion doesn't fully support GARS as input (ArcGIS Pro)"
Note: GARS is fully supported in the ArcMap addin.

According to https://pro.arcgis.com/en/pro-app/tool-reference/data-management/supported-notation-formats.htm:
GARS is based on longitude and latitude and divides the world into 30 minute by 30 minute cells. The first three digits represent a 30 minute wide longitude band. The fourth and fifth letters represent a 30 minute tall latitude band. Each

[2017-01-12 15:59] topowright commented on #23
To explain this issue further here is a image that explains what the tool is doing:

![image](https://cloud.githubusercontent.com/assets/5488313/21896947/f857aade-d89c-11e6-8b95-94440d28935f.png)

[2017-01-12 16:11] topowright commented on #23
All testing has been done in ArcGIS Pro. I need to test in ArcMap

[2017-01-12 16:18] topowright opened #258 "Units do not match in some spatial referances in ArcGIS Pro"
![image](https://cloud.githubusercontent.com/assets/5488313/21897622/0bbd52b6-d89f-11e6-9054-b7cfa6a188b3.png)

When setting the display units and the tool units to the same the coordinates should match perfectly the way they do in ArcMap.

![image](https://cloud.githubusercontent.com/assets/5488313/21897951/fe290b6c-d89f-11e6-9b35-69ba9d782da5.png)

[2017-01-12 16:20] pHill5136 commented on #238
@joebayles Yes this is a dark theme issue for which we have a fix on its way.

[2017-01-12 16:46] topowright commented on #251
@jmhauck I have tried the component and-in and the Military Tools add-in and I am not seeing these changes.  I am testing from build 01-12-2017_1097.

[2017-01-12 16:49] joebayles commented on #238
Verified.

[2017-01-12 16:49] #238 closed

[2017-01-12 17:13] nfeuerstein commented on #256
Do people use GARS at a lower resolution? 15x15 or 30x30?

[2017-01-12 17:20] nfeuerstein commented on #255
Document that we convert incorrect coordinates by computing - give example.  80 seconds becomes 1 minute 20 seconds, etc.

Future: Validate via regular expression and tell the user that the coordinate was invalid.

Note from Joe McCausland - having to press enter with manual input should resolve this.

[2017-01-12 17:37] jmccausland commented on #255
Will need to catch these prior to sending to arcobjects if arcobjects is indeed "auto-correcting" these

[2017-01-12 18:23] dfoll commented on #248
@Dbarnes1  this means we need to check to make sure we instruct the user to press enter

[2017-01-12 18:25] dfoll commented on #247
@Dbarnes1  we need to check to make sure we instruct the user to press the enter key

[2017-01-12 18:27] dfoll commented on #246
@Dbarnes1

[2017-01-12 18:34] NatalieCampos commented on #251
Verified

[2017-01-12 18:56] Dbarnes1 commented on #247
@dfoll pressing the enter key is already a part of our instructions, I'm going to go ahead and remove the affects doc tag.

[2017-01-12 19:03] elinz commented on #249
@dfoll @topowright FYI. I have this noted in the Word doc that will serve as the xmetal content.

[2017-01-12 19:04] elinz commented on #250
@dfoll @topowright FYI. I have this noted in the Word doc that will serve as content for Xmetal.

[2017-01-12 20:42] topowright commented on #258
@dhagens you were right this morning. It has to do with the spatial location. Here is a image to prove that it is correct:

![image](https://cloud.githubusercontent.com/assets/5488313/21907474/94fa7a20-d8c4-11e6-9d20-561aaaa7291a.png)

[2017-01-12 20:46] dhagens commented on #258
@topowright - I think that I have a solution for this.  It is a rounding issue.  I should be able to check in a fix shortly after verifying

[2017-01-12 20:56] elinz commented on #233
@jmhauck Verified that changing the display map units to UTM change the input value to the correct coordinated. build 12 Jan 2017 09:50.

[2017-01-12 20:59] elinz commented on #234
@jmhauck Verified that changing the display map units to UTM change the input value to the correct coordinated. build 12 Jan 2017 09:50.

[2017-01-12 20:59] #234 closed

[2017-01-12 21:04] elinz commented on #230
@Dbarnes1 The .pdfs in the today's latest build still have the old content.

[2017-01-12 21:30] dhagens commented on #258
@topowright, ready for testing once @kgonzago merges.

[2017-01-12 22:03] Dbarnes1 commented on #230
@elinz @joebayles updated the doc with an actual example, not just a format example. Let me know what you think.

![image](https://cloud.githubusercontent.com/assets/13024357/21910196/daa1f70a-d8cf-11e6-81dd-29ca0b814b50.png)

[2017-01-12 22:18] joebayles commented on #230
@Dbarnes1 looks good, except in your first example, it would return 45.2N, 40.3W.

[2017-01-12 22:19] Dbarnes1 commented on #230
@joebayles good catch, i'll update that.

[2017-01-12 22:21] joebayles commented on #230
No sweat.
Incidently, if you updated it to 45.002 and 40.300, it would return 45.002, 40.3.

@elinz is that good?

[2017-01-12 22:22] Dbarnes1 commented on #230
@joebayles thats a better example, I'll put that

[2017-01-12 23:35] topowright commented on #251
@NatalieCampos I think staying with x and y works for this issue. The issue that is still out there is the issue of the feature class not having any coordinate fields in it.

[2017-01-12 23:53] nfeuerstein commented on #256
According to NGA, GARS is primarily designed as a battlespace management tool and not to be used for navigation or targeting.  For this version, let's just document this limitation in Pro.

[2017-01-12 23:59] elinz opened #261 "Coordinate Conversion does not provide an output MGRS/USNG coordinate in the polar regions (ArcGIS Pro)"
Outside of 80 degree South and 84 degree North, MGRS is defined in terms of Universal Polar Sterographic (UPS). So for example, if you use the Identify tool in ArcMap at 87.7520N 169.6139E, it will switch to using UPS and return the MGRS and USNG value ZAK4500045522, which is the same value that Geotrans will return.

Currently when you paste in the value 87.7520N 169.6139E it will not return an M

[2017-01-12 23:59] elinz opened #262 "Coordinate Conversion does not provide an output MGRS/USNG coordinate in the polar regions (ArcMap)"
Outside of 80 degree South and 84 degree North, MGRS is defined in terms of Universal Polar Sterographic (UPS). So for example, if you use the Identify tool in ArcMap at 87.7520N 169.6139E, it will switch to using UPS and return the MGRS and USNG value ZAK4500045522, which is the same value that Geotrans will return.

Currently when you paste in the value 87.7520N 169.6139E it will not return an M

[2017-01-13 00:19] elinz commented on #256
@nfeuerstein @dfoll @Dbarnes1 I've added a note to the Word doc that we're using for the Xmetal content.

[2017-01-13 00:39] topowright commented on #258
verified

[2017-01-13 00:39] #258 closed

[2017-01-13 00:41] topowright commented on #23
The issue laid out by @JSibbald is still an issue in ArcMap.

[2017-01-13 01:22] elinz commented on #230
@Dbarnes1 I assigned this back to you because I wasn't sure if you finished all the changes. Thanks.

[2017-01-13 15:31] Dbarnes1 commented on #230
changes have been finished and are available to verify. @elinz fyi

[2017-01-13 17:51] nfeuerstein commented on #251
@topowright please comment with what needs to be addressed "version-next"

[2017-01-13 18:09] nfeuerstein commented on #23
IF
ArcMap doesn't honor spatial reference
AND
Pro does honor spatial reference
THEN
Remove collect tab
IF NOT
We need to talk

[2017-01-13 18:37] csmoore commented on #23
Removed from ArcMap in:
https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/263
https://github.com/ArcGIS/military-tools-dotnet-single-add-in/pull/17

[2017-01-13 19:03] Dbarnes1 commented on #256
@elinz this is now in xmetal, ready for verification.

[2017-01-13 19:06] Dbarnes1 commented on #217
@NatalieCampos assigning for you to review. once you give it the ok, we can close this issue out.

[2017-01-13 19:07] Dbarnes1 commented on #216
@NatalieCampos please review, make any additional edits, and close this out once you are done.

[2017-01-13 19:38] nfeuerstein commented on #23
@topowright I didn't see the results from your tests, is the following statement true?
ArcMap doesn't honor spatial reference
AND
Pro does honor spatial reference

[2017-01-13 20:15] topowright commented on #23
@nfeuerstein

ArcMap doesn't honor spatial reference (always drops the coordinate in WGS 84 location). The covert and collect tab show the same location and flash is also the same location

ArcGIS Pro Collect tab doesn't honor the spatial reference (always drops the coordinate in WGS 84 location); however , the convert tab does. They flash the coordinate  location in the same place, but the collec

[2017-01-13 20:27] topowright commented on #23
@kgonzago @csmoore Please take the collect tab out of both ArcGIS Pro and ArcMap

[2017-01-13 20:34] NatalieCampos commented on #217
reviewed and verified.

[2017-01-13 20:34] #217 closed

[2017-01-13 20:35] NatalieCampos commented on #216
reviewed and verified.

[2017-01-13 20:35] #216 closed

[2017-01-13 22:42] topowright commented on #253
@elinz I believe this was addressed by @dhagens. Please verify

[2017-01-13 22:44] topowright commented on #141
@jmccausland I am able to replicate this issue when I convert from MRGS to MGRS in ArcGIS Pro and ArcMap. The example I have is for the location 51.5 0. This is off by less than 5 ft.

[2017-01-13 22:56] topowright commented on #215
verified

[2017-01-13 22:56] #215 closed

[2017-01-13 23:00] topowright commented on #252
@elinz please verify

[2017-01-13 23:02] topowright commented on #214
This has been fixed and I have verified.

[2017-01-13 23:02] #214 closed

[2017-01-13 23:06] elinz commented on #252
@topowright I'm not sure what you're asking me to verify. There have been no fixes. There wasn't going to be.

[2017-01-13 23:14] elinz commented on #256
@nfeuerstein @Dbarnes1 Since the time of the document update, I've found that Pro isn't creating a valid output when you input GARS at 5' by 5' cell.

When I enter the following 5' by 5' coordinate: 161MG37, Pro outputs the following:
![image](https://cloud.githubusercontent.com/assets/4635490/21948810/551f870e-d9a2-11e6-9233-d8bd3d1ff019.png)

This is the output created by the ArcMap addin which

[2017-01-13 23:22] topowright opened #269 "When inputting a coordinate out of the map view ArcMap Crashes"
If you are in a projected coordinate system and you input a location that is outside of that projection ArcMap crashes.

[2017-01-14 00:36] lfunkhouser commented on #256
We do not fully support GARS at this release. @pHill5136 please remove GARS from Pro and ArcMap

[2017-01-14 00:43] Dbarnes1 commented on #256
gars removed from support doc.

[2017-01-14 00:49] topowright commented on #213
This has been done.

[2017-01-14 00:49] #213 closed

[2017-01-14 01:17] topowright commented on #220
This is now working. @joebayles Can you verify that this works. I attempted it with todays build with the following coordinate:

35° 19' 19.91"N 116° 17' 22.01"W

[2017-01-14 01:20] topowright commented on #220
This is what I get when I paste the coordinates to the clipboard:

35° 19' 19.91"N 116° 17' 22.01"W
128LL19
11SNV6458409006
11S 564584 3909006
35° 19' 19.91"N 116° 17' 22.01"W

[2017-01-14 01:21] #220 closed

[2017-01-14 01:21] topowright commented on #220
verified.

[2017-01-14 01:31] elinz commented on #248
@nfeuerstein @Dbarnes1 @dfoll Verified that input coordinates are not evaluated until the user clicks enter. I also verified that the user doc instructs the user to click Enter for the coordinate to be converted. See below:
![image](https://cloud.githubusercontent.com/assets/4635490/21950923/7dba0272-d9b4-11e6-8cd0-8423931e9709.png)

@nfeuerstein As far as I everything to address this issue was be

[2017-01-14 01:47] elinz commented on #247
@nfeuerstein @Dbarnes1 @dfoll Verified that input coordinates are not evaluated until the user clicks enter. I also verified that the user doc instructs the user to click Enter for the coordinate to be converted. See below:
![image](https://cloud.githubusercontent.com/assets/4635490/21951199/62b513be-d9b8-11e6-9167-305460075739.png)

Removing Verify label.

[2017-01-14 17:35] dfoll commented on #247
@elinz @lfunkhouser does this mean this can be closed with no need for further verification and no further changes to documentation?

[2017-01-14 18:04] pHill5136 commented on #256
@elinz @dfoll @NatalieCampos @lfunkhouser @nfeuerstein Removed gars. lots of code removed so I would like coordinate conversion checked pretty extensively to make sure nothing got broken. My preliminary tests seemed good, though.

[2017-01-14 18:26] dfoll commented on #232
@topowright could you review the published documentation and see if you feel this is sufficiently documented now, if so please remove the "affects documentation" tag, if not we need to address this

[2017-01-14 18:26] dfoll commented on #231
@topowright could you review the published documentation and see if you feel this is sufficiently documented now, if so please remove the "affects documentation" tag, if not we need to address this

[2017-01-14 18:30] dfoll commented on #246
@NatalieCampos can you please look at the documentation for this, (in the supported formats section) and see if you think this is sufficiently documented. if you feel it is, please remove the "affects documentation" tag, if not, we need to discuss what additionally needs written

[2017-01-14 18:31] dfoll commented on #245
@NatalieCampos can you please look at the documentation for this, (in the supported formats section) and see if you think this is sufficiently documented. if you feel it is, please remove the "affects documentation" tag, if not, we need to discuss what additionally needs written

[2017-01-14 18:40] dfoll commented on #232
closing. @topowright @lfunkhouser @NatalieCampos reviewed what exists in the documentation in the "customize coordinate" section. we came to consensus that the "affects documentation" aspect of this is taken care of. because the issue was just documentation based, closing because the documentation has been updated sufficiently

[2017-01-14 18:40] #232 closed

[2017-01-14 18:41] dfoll commented on #231
closing. @topowright @lfunkhouser @NatalieCampos reviewed what exists in the documentation in the "customize coordinate" section. we came to consensus that the "affects documentation" aspect of this is taken care of. because the issue was just documentation based, closing because the documentation has been updated sufficiently

[2017-01-14 18:41] #231 closed

[2017-01-14 18:50] dfoll commented on #245
the four of us @NatalieCampos @topowright @lfunkhouser have reviewed what exists in the documentation, we  believe that what is there satisfies the "affects documentation" tag, removing the "affects documentation" tag

[2017-01-14 18:50] dfoll commented on #246
the four of us @NatalieCampos @topowright @lfunkhouser have reviewed what exists in the documentation, we believe that what is there satisfies the "affects documentation" tag, removing the "affects documentation" tag

[2017-01-14 18:56] elinz commented on #247
@dfoll @lfunkhouser That's what I'm assuming, however, I don't know what the milestone was changed in yesterday afternoon's war room to Version after next. This changes makes it seem like there was something else that need to be done, but I don't know of anything else. Same can be said of #248 for ArcMap issue.

[2017-01-14 19:02] topowright opened #271 "Issue copying and pasting coordinates"
If I input a location any way and then input a new location by typing or pasting the first location that is flashed is the last location. You must hit enter one more time and then the new location is highlighted.

This is a new issues since yesterday:

@nfeuerstein @elinz

[2017-01-14 19:08] topowright commented on #168
@dfoll @joebayles When we showed this to our users it would output this:
DDM 09 56.0507S 003 04.3261E
MGRS 31LEK0790401864
USNG 31LEK0790401864
DDM 9° 56.05'S 3° 4.33'E
DMS 9° 56' 3.0"S 3° 4' 19.6"E

We then changed it because they wanted to transpose the data.

I think adding it as an option is a great idea.

[2017-01-14 19:10] elinz commented on #271
For example, I click on Coordinate Conversion tool.
- My map is currently centered on the US.
- In the Input box, type the coordinates 45N 120E and hit return. The map is not panned to the coordinates 45N 120E.  I have to click back into the Input textbox and hit return again for the map to to pan and center on this coordinates and the flash and the point are drawn on the map.
- Now type the coord

[2017-01-14 19:13] elinz commented on #256
@dfoll @nfeuerstein @lfunkhouser @nfeuerstein new build currently being created. I'll test.

[2017-01-14 19:18] topowright commented on #271
It does not matter if the point is on the screen or not it always flashes the last location

[2017-01-14 19:18] elinz commented on #252
@topowright For an example, see my comment https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/158#issuecomment-270993622

[2017-01-14 19:20] elinz commented on #271
The point is you always have to hit return twice in the Input textbox for the flash/point to be drawn in the correct location.

[2017-01-14 19:22] dfoll commented on #250
@topowright and I believe this should be closed

[2017-01-14 19:22] #250 closed

[2017-01-14 19:23] dfoll commented on #249
@topowright and I believe this should be closed

[2017-01-14 19:23] #249 closed

[2017-01-14 19:26] elinz commented on #250
@dfoll @topowright I just confirmed that the Supported notation formats topic lists : and ; in DD but not for DDM and DMS, so yes it was okay to close.

[2017-01-14 19:26] elinz commented on #249
@dfoll @topowright I just confirmed that the Supported notation formats topic lists : and ; in DD but not for DDM and DMS, so yes it was okay to close.

[2017-01-14 19:36] elinz commented on #256
@nfeuerstein Changed to Version - Next until I can verify that GARS has been removed from ArcGIS Pro and ArcMap and that Coordinate Conversion is still working after this change.

[2017-01-14 19:51] topowright commented on #271
@elinz correct. I have also tested this at the single add-in level and the component level.

[2017-01-14 19:52] topowright commented on #269
On my system this crashed. On @Dbarnes1 system the tool did not convert or flash the outputs.

[2017-01-14 20:48] dfoll commented on #254
noted this in the most recent version of the pdf in the supported notation section near the top as the last bullet under degree based formats. @topowright and @NatalieCampos  agreed it satisfied the "affects documentation" tag... removing "affects "documentation" leaving the issue itself open with the bug tag in case this is something we want to fix

[2017-01-14 20:48] dfoll commented on #255
noted this in the most recent version of the pdf in the supported notation section near the top as the last bullet under degree based formats. @topowright and @NatalieCampos  agreed it satisfied the "affects documentation" tag... removing "affects "documentation" leaving the issue itself open with the bug tag in case this is something we want to fix

[2017-01-14 20:52] dfoll commented on #255
the pub on blaster will have these changes if anyone wants to verify the removal of the affects documentation tag, they won't be picked up by jenkins until another build kicks off

[2017-01-14 20:52] dfoll commented on #254
the pub on blaster will have these changes if anyone wants to verify the removal of the affects documentation tag, they won't be picked up by jenkins until another build kicks off

[2017-01-14 21:51] dfoll commented on #255
This has been added as a note in the documentation; however, it is not in the known issues list.

[2017-01-14 21:52] dfoll commented on #255
This has been added to the documentation; however, it is not in the known issue list.

[2017-01-14 22:13] dfoll commented on #248
This is not a known issue because we changed the tool to only work when the user hits enter.

[2017-01-14 22:15] dfoll commented on #247
This is no longer a known issue because we have changed the functionality to work when the user hits enter.

[2017-01-14 22:19] dfoll commented on #209
This is what we will add to the documentation.

When entering integers without spaces the coordinates will be returned as inaccurate. As an example:

12 returns 1N 2E
1234 returns 4N 123E

[2017-01-14 22:23] dfoll commented on #208
This is what we will add to the known issues list in the documentation.

When entering integers without spaces the coordinates will be returned as inaccurate. As an example:

12 returns 1N 2E
 1234 returns 4N 123E

[2017-01-14 22:35] dfoll commented on #256
If GARS is not going to be in, then this is not for the known issues list, if GARS is going to be in, we need to put this in the known issues list.

[2017-01-14 22:42] dfoll commented on #141
This has been addressed in issue number: #252

[2017-01-14 22:44] #141 closed

[2017-01-15 02:14] elinz opened #273 "MGRS doesn't match USNG value for same DD coordinate (ArcGIS Pro)"
MGRS and USNG values should match. ArcMap and the Widget are creating correct output where MGRS and USNG values that match. NOTE: the MGRS/USNG values that ArcMap and the widget are creating match what the ArcMap Identify tool creates.

I went back and tested previous builds to determine when the problem started and the issue started after the build 12 Jan 11:18

![image](https://cloud.githubuserc

[2017-01-15 02:24] elinz commented on #273
Here is some additional info I collected:

![image](https://cloud.githubusercontent.com/assets/4635490/21959741/0069a764-da86-11e6-811d-1374dbb35588.png)

Coordinates in red are those that don't match the output from the ArcMap Identify, which is the baseline. The coordinates in greee are those that match the output from ArcMap. According to @kgonzago the output coordinates from the addins should

[2017-01-15 02:26] elinz commented on #273
@kgonzago @nfeuerstein This highlights are need to add unit tests to verify input coordinate with expected output coordinates in the various coordinate notations.

[2017-01-16 07:36] kgonzago commented on #271
@topowright Added a fix for this issue in this [PR](https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/274). Can you confirm the fix when you get a chance?

[2017-01-16 16:50] kgonzago commented on #23
@topowright collect tab has removed. Please verify.

[2017-01-16 18:09] elinz opened #275 "Coordinate Conversion: add support to output UTM using latitude band as well hemisphere (ArcGIS Pro)"
See https://github.com/Esri/solutions-webappbuilder-widgets/issues/718

[2017-01-16 18:09] elinz opened #276 "Coordinate Conversion: add support to output UTM using latitude band as well hemisphere (ArcMap)"
See https://github.com/Esri/solutions-webappbuilder-widgets/issues/718

[2017-01-16 23:32] elinz opened #277 "Doc - Supported notation formats section - typo in choice list (ArcGIS Pro)"
The example choice list has a typo. First right hand bracket should be a pipe. Instead of [+]-|N|S] it should be [+|-|N|S]:
![image](https://cloud.githubusercontent.com/assets/4635490/22002381/a2dfcf7a-dc00-11e6-9c8a-9baf8183f341.png)

[2017-01-16 23:33] elinz opened #278 "Doc - Supported notation formats section - typo in choice list (ArcMap)"
The example choice list has a typo. First right hand bracket should be a pipe. Instead of [+]-|N|S] it should be [+|-|N|S]:
![image](https://cloud.githubusercontent.com/assets/4635490/22002381/a2dfcf7a-dc00-11e6-9c8a-9baf8183f341.png)

[2017-01-17 00:58] elinz opened #279 "Doc - Supported notation formats content issues (ArcGIS Pro and ArcMap)"
The following apply to both the ArcGIS Pro and ArcMap addin documentation:

## Decimal Degrees
- [x] Remove spaces between hemisphere designator prefix, DD.dd, DDD.dd, and suffix since spaces at these locations are not supported by the addins:
![image](https://cloud.githubusercontent.com/assets/4635490/22003670/26d78a08-dc0a-11e6-9481-6f567f6ae2e8.png)

## Degree Decimal Minutes
- [x] Add "(DDM)"

[2017-01-17 01:40] topowright commented on #271
@kgonzago you are awesome. I have verified this fix.

[2017-01-17 01:40] #271 closed

[2017-01-17 07:30] nfeuerstein commented on #256
Notes for tomorrow:
Need to know if GARS has been fully removed/commented out and that it is not in the known issues list.

[2017-01-17 07:33] nfeuerstein commented on #273
Notes for tomorrow:
Thanks Eric.  This is a showstopper and will need to be resolved before we can ship.

[2017-01-17 15:19] pHill5136 commented on #256
Gars has been removed from all repos. Needs top be tested pushing to verify.

[2017-01-17 17:12] nfeuerstein commented on #256
Need to scan doc thoroughly for GARS and test to make sure removal of GARS didn't have unintended effects.

[2017-01-17 17:28] topowright commented on #273
@dhagens you are awesome!!! This has been fixed and I have verified that the coordinates now match. @elinz I will let you close the issue.

[2017-01-17 18:00] elinz commented on #273
@dhagens @topowright I will install latest build and test.

[2017-01-17 18:34] elinz commented on #273
@dhagens @topowright @nfeuerstein While the MGRS and USNG coordinates do match in Pro they are not the same coordiantes as in the ArcMap addin and the widget and not what was expected. Looks like the Pro addin was modified so that the USNG coordinate would match the MGRS coordinate, instead of the other way around. The USNG being output from Pro addin before was correct.

In the screenshots below,

[2017-01-17 19:24] dhagens commented on #273
The change to MGRS previously was a fix for where the ArcGIS Pro output under the map was not matching the output we were seeing in the coordinate tool when hovering on the map.  We cannot change that back w/o reinstating that bug.  If you want the MGRS / USNG to be the same, this fix makes that work.

[2017-01-17 19:41] dhagens commented on #273
@elinz, @topowright , @nfeuerstein, I think that this will just have to be documented.  We can't change the MGRS back because that will cause the MGRS output in our tool to be different than the output being displayed in Pro.  For most cases that I've tested, the MGRS in Pro and ArcMap are the same.
For example (just some random locations I selected on the map):
45.015427N 099.964321W - Same MGRS

[2017-01-17 19:59] dhagens commented on #273
I tested a coordinate using a conversion tool at www.earthpoint.us and compared it to our results:
![image](https://cloud.githubusercontent.com/assets/13664546/22037387/f3f3feda-dcc4-11e6-83d7-59c1d37b4d80.png)

Pro
![image](https://cloud.githubusercontent.com/assets/13664546/22037414/0a76c3cc-dcc5-11e6-9cf1-3bad217ceb3c.png)

ArcMap
![image](https://cloud.githubusercontent.com/assets/13664546/220

[2017-01-17 21:03] elinz commented on #273
@nfeuerstein @topowright Thanks for the additional info @dhagens. I understand what's going on now.

What I didn't realize was that ArcGIS Pro and ArcMap coordinate "read-out" at the bottom of the map gives you different results for a given location (i.e. 1 meter off); I'm also assuming that ArcMap map read-out is using the MGRS rounding property. In earlier builds of the Pro addin, the Coordinate

[2017-01-17 21:03] #273 closed

[2017-01-17 22:52] elinz commented on #256
@nfeuerstein @topowright @NatalieCampos I'm testing the Pro/ArcMap addins and the widget for any side effects of removing GARS.

[2017-01-17 23:37] elinz opened #283 "When Display Coordinate is changed to USNG, the input coordinate now has embedded spaces (ArcGIS Pro)"
Tested build 17 Jan 2017 13:13.
When you change Display Coordinate to USNG the input coordinate value has embedded spaces. This should not have spaces. It should match the formatting of the default output.
![image](https://cloud.githubusercontent.com/assets/4635490/22044423/80de1b6a-dcc9-11e6-9ed6-4784c03f4e40.png)

[2017-01-17 23:37] elinz opened #284 "When Display Coordinate is changed to USNG, the input coordinate now has embedded spaces (ArcMap)"
Tested build 17 Jan 2017 13:13.
When you change Display Coordinate to USNG the input coordinate value has embedded spaces. This should not have spaces. It should match the formatting of the default output.
![image](https://cloud.githubusercontent.com/assets/4635490/22044423/80de1b6a-dcc9-11e6-9ed6-4784c03f4e40.png)

[2017-01-17 23:43] elinz opened #285 "Input USNG value collected using Map Point Tool do not match output USNG value (ArcGIS Pro)"
Build 17 Jan 2017 13:13.

Set display coordinate to USNG, then used Map Point tool to collect coordinate off my. The USNG displayed in Input textbox does not match output USNG (and MGRS) coordinate.
![image](https://cloud.githubusercontent.com/assets/4635490/22044858/b0dcd1ec-dccb-11e6-8a7c-92c9b07fe977.png)

NOTE: if I then click return in the input textbox the output coordinate will match input.

[2017-01-18 00:13] nfeuerstein commented on #285
@elinz  what were the steps again?  You said "to collect coordinate off my."  Off the map?  Is this because we now require the user to hit Enter?

[2017-01-18 00:15] elinz commented on #285
@nfeuerstein haha. Tracking too many things in my head and didn't complete my sentence. Should be "Set display coordinate to USNG, then used Map Point tool to collect coordinate off the map."

[2017-01-18 00:46] elinz commented on #233
@nfeuerstein @dhagens Reopening this issue because the fix is no longer working in latest ArcGIS Pro addin build 17 Jan 2017 13:13.
- When I change the Display Coordinates to UTM, the UTM value that is displayed in the Input textbox is using hemisphere designator instead of latitude band.
![image](https://cloud.githubusercontent.com/assets/4635490/22046246/2c762af8-dcd4-11e6-89d6-6088193fbaea.png)

[2017-01-18 04:11] elinz opened #287 "Map Point tool issues (ArcGIS Pro)"
Tested build 17 Jan 2017 13:13.

When the Map Point tool is disabled, the cursor icon does not change back to the cursor icon that was set before the Map Point tool was enabled.

FYI: All other behavior is what I would expect:
- When tool tab is clicked, the Map Point tool isdisabled by default.
- User clicks the tool to enable.  Result: the tool is enabled; the look of the button changes to indic

[2017-01-18 15:35] nfeuerstein commented on #256
If side effects are found, continue to add issues.  Closing this issue as GARS was removed.

[2017-01-18 15:35] #256 closed

[2017-01-18 15:39] elinz commented on #256
@nfeuerstein Fyi. i did verify that GARS was removed from the Display Coordinate dialog in the addins,  and the Widget. Also verified that you can no longer output GARS from the addins, and the widget. Did some basic testing in the addins, and widgets and so far have not found any issues that I believe could be attributed to the removal of GARS.

[2017-01-18 16:39] lfunkhouser commented on #278
Fixed in build 1137.

[2017-01-18 16:39] lfunkhouser commented on #279
Fixed in build 1137

[2017-01-18 16:40] lfunkhouser commented on #277
Fixed in build 1137

[2017-01-18 16:49] dhagens commented on #287
Ready for testing once the PR is merged.

[2017-01-18 16:50] dhagens commented on #233
Ready for testing once the PR is merged.

[2017-01-18 16:50] dhagens commented on #285
Ready for testing once the PR is merged.

[2017-01-18 18:21] elinz commented on #279
- Verified in ArcGIS Pro addin .pdf build 1137 (17 Jan 2017 09:11).
- Verified in ArcMap addin .pdf build 1137 (17 Jan 2017 09:11).
Closing issue.

[2017-01-18 18:21] #279 closed

[2017-01-18 18:23] elinz commented on #278
Verified in ArcMap addin .pdf build 1137 (17 jan 2017 09:11). Closing issue.

[2017-01-18 18:23] #278 closed

[2017-01-18 18:24] elinz commented on #277
Verified in ArcGIS pro addin .pdf build 1137 (17 jan 2017 09:11). Closing issue.

[2017-01-18 18:24] #277 closed

[2017-01-18 18:39] #269 closed

[2017-01-18 18:39] Dbarnes1 commented on #269
@topowright and I were unable to reproduce this issue today, closing out.

[2017-01-18 18:42] elinz commented on #233
@dhagens Verified fixed in build 18 Jan 2017 10:14. Closing issue.

[2017-01-18 18:42] #233 closed

[2017-01-18 18:58] elinz commented on #285
Verified fixed in build 18 Jan 2017 10:14. Closing issue.

[2017-01-18 18:58] #285 closed

[2017-01-18 19:02] elinz commented on #287
Verified fixed in build 18 Jan 2017 10:14. Closing issue.

[2017-01-18 19:02] #287 closed

[2017-01-18 19:09] elinz commented on #247
There is nothing left to do on this issue. Closing issue.

[2017-01-18 19:09] #247 closed

[2017-01-18 19:10] elinz commented on #248
There is nothing left to do on this issue. Closing issue.

[2017-01-18 19:10] #248 closed

[2017-01-18 22:11] elinz opened #290 "ArcMap crash when using the Coordinate Conversion tool (ArcMap)"
I was testing the fix for #285 when ArcMap crashed. I haven't been able to replicate what steps caused it to crash, but I think it's some combination of using the Map Point tool and change the Display Coordinates units.

[2017-01-18 22:27] nfeuerstein commented on #290
We need to be able to replicate the steps and crash it semi-consistently to know how to fix it.  Removing showstopper until/if it can be replicated.

[2017-01-18 22:28] elinz opened #291 "Doc - Coordinate Notation section - clean up comments under "Degree-based formats" (ArcGIS Pro, ArcMap)"
![image](https://cloud.githubusercontent.com/assets/4635490/22085819/969e587c-dd8a-11e6-8228-ba0562752587.png)

![image](https://cloud.githubusercontent.com/assets/4635490/22085712/1da9e5c6-dd8a-11e6-8471-9d01c60eed97.png)

[2017-01-19 00:42] elinz opened #292 "When Coordinate Conversion tool is clicked ArcMap crashes (ArcMap)"
- Install 01-18-2017_1143 build of Military Tools for ArcGIS addin.
- Open ArcMap
- Click Cancel on "ArcMap - Getting Started" dialog.
- Click on Coordinate Conversion tool in Military for ArcGIS Tools toolbar.
- ArcMap crashes

I was able to reproduce the crash multiple times on two different machines (one physical, on VM).

[2017-01-19 00:57] nfeuerstein commented on #292
@dhagens @kgonzago please look into this asap.

[2017-01-19 01:46] elinz opened #293 "Map Point tool issues (ArcMap)"
@nfeuerstein My apologies. I thought I had submitted this issue last night when I had submitted the same issue for the ArcGIS Pro addin.

Tested build 18 Jan 2017 12:25 (#1140).

When the Map Point tool is disabled, the cursor icon does not change back to the cursor icon that was set before the Map Point tool was enabled.

FYI: All other behavior is what I would expect:
- When tool tab is clicked,

[2017-01-19 05:03] nfeuerstein commented on #293
@elinz can you test this again?  I believe @dhagens fixed this with a pull request this evening.

[2017-01-19 06:41] elinz commented on #293
Yep. I will login and test right now.

-------- Original message --------
From: Natalie Feuerstein
Date:01/18/2017 9:14 PM (GMT-08:00)
To: Esri/coordinate-conversion-addin-dotnet
Cc: Eric Linz , Mention
Subject: Re: [Esri/coordinate-conversion-addin-dotnet] Map Point tool issues (ArcMap) (#293)

Assigned #293<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_Esri_coordinate-2Dconvers

[2017-01-19 07:43] elinz commented on #293
@nfeuerstein Coordinate Conversion still crashes in latest build, but the Map Point tool issue in Distance Direction was fixed (https://github.com/Esri/distance-direction-addin-dotnet/issues/291), so it looks promising that the Map Point tool issue in Coordinate Conversion was fixed and I can verify when the crash issue #292 is fixed.

[2017-01-19 13:35] dhagens commented on #292
@elinz @nfeuerstein - I installed the latest build from \\redarchive2\disl\Development\Commercial\MilitaryToolsForArcGIS\_current\ArcGISPro\Addins and had no issues when clicking on the Coordinate Conversion tool.  Could someone else please test this out to verify that there is an issue?  @kgonzago @csmoore

[2017-01-19 14:33] csmoore commented on #292
I could repro using the exact steps provided (i.e. hitting cancel from getting started, when toolbar already opened) - still looking into...

[2017-01-19 14:40] dhagens commented on #292
I see the crash also.  I was testing with Pro... duh.  Looking into it.

[2017-01-19 15:56] kgonzago commented on #292
@dhagens and I traced the crash to build 1142. Last build where CC didn't crash ArcMap was build 1141. It looks like something was introduced between builds 1141 and 1142 that's causing CC add-in to crash. Still looking into it...

[2017-01-19 16:26] kgonzago commented on #292
we are reverting back to this commit f2b7e683015e5885e17ac0a93160f76f89bdd9d6 to get the build going again. Changes to address the map tool issue for CC will be lost but we will address it ASAP.

[2017-01-19 17:36] dhagens commented on #292
@elinz @nfeuerstein @topowright
The single addin (Military Tools for ArcGIS toolbar) should function properly now.  @kgonzago reverted back to the PR before the last one I made yesterday for Coordinate Conversion that fixed the MapPoint tool in ArcMap.  For some reason that change caused the CC tool to not work in the single addin, although it still worked fine in the standalone addin.  I'll have

[2017-01-19 18:11] elinz commented on #292
@nfeuerstein @dhagens @topowright Thank you. I'll start a Jenkins build and verify that CC no longer crashes ArcMap.

[2017-01-19 18:12] dhagens commented on #292
@elinz, the current build was tested using the latest code.  You can verify again if you'd like though by doing another build.

[2017-01-19 18:30] elinz commented on #292
@nfeuerstein @dhagens Verified on build #1151, dated 19 Jan 2017 11:51 that clicking on the CC tool does not crash ArcMap. Closing issue.

[2017-01-19 18:30] #292 closed

[2017-01-19 19:47] dhagens commented on #293
@elinz, this is ready for testing

[2017-01-19 19:58] nfeuerstein commented on #291
@topowright @Dbarnes1 where are we at on this issue?  Is the doc complete?

[2017-01-19 20:55] elinz commented on #291
@nfeuerstein @topowright @Dbarnes1 This should all be completed. Started a build before lunch so I can verify against the .pdfs in the build. I'll change to verify.

[2017-01-19 21:04] elinz commented on #291
@nfeuerstein @topowright @Dbarnes1
- Verified that this was fixed in Pro addin doc in build 19 Jan 2017 11:54.
- Verified that this was fixed in ArcMap addin doc in build 19 Jan 2017 11:54.
Closing issue.

[2017-01-19 21:04] #291 closed

[2017-01-19 21:05] Dbarnes1 commented on #291
thanks @elinz

[2017-01-19 21:27] nfeuerstein commented on #293
@elinz has this been tested?

[2017-01-19 21:28] elinz commented on #293
@nfeuerstein Tested previous build and it wasn't working. Maybe it was timing of build with the merge. Now that another build is available I'm testing it right now.

[2017-01-19 21:35] elinz commented on #293
@dhagens @nfeuerstein @kgonzago Tested in the last two builds which were after the merge and this fix isn't working. In fact there are more issues now.

When I submitted this issue, the Map point tool on CC was disabling; the only thing it needed was the cursor to change from the crosshairs to whatever it was before the Map point tool was enabled; however, I can't even disable the Map point tool n

[2017-01-19 23:48] dhagens commented on #293
I'll have to test with the toolbar because everything is working fine at the component level

[2017-01-19 23:55] dhagens commented on #293
@elinz, I verified that the current build is not working as it should in the Toolbar.  Could you test the tool at the component level to see if it is working correctly as I am seeing?

[2017-01-20 00:07] elinz commented on #293
@dhagens This may be a problem. I'm trying to run the Jenkins build to build the CC at the component level but it's failing.

[2017-01-20 00:12] nfeuerstein commented on #293
verified with Hagens that its working at the component level
somethings happening at the single add-in and/or with Jenkins thats causing it to not behave the same
Kevin is going to look into it in a bit and Hagens will reach out the Kevin in case he needs anything

[2017-01-20 00:23] dhagens commented on #293
@kgonzago, I have a PR to review and merge.  I moved the IsToolActive property to the ArcMapTabBaseViewModel and removed it from the ConvertViewModel.  I don't know if this might be causing issues in the single addin or not.  Kick off a new build after the merge and let me know if it changes anything.  Everything still seems to work properly at the component level.

[2017-01-20 01:46] kgonzago commented on #293
@dhagens PR #299 was merged. I also confirmed your latest change in the single add-in works. Map tool now shows with a cross-hair cursor and disables appropriately.

Once build is done, @elinz can you confirm?

[2017-01-20 03:02] elinz commented on #293
@dhagens @nfeuerstein @kgonzago I'll start a Jenkins build now.

[2017-01-20 03:46] elinz commented on #293
@dhagens @nfeuerstein @kgonzago Tested the single addin build 19 Jan 2017 19:11 Build Number 1159 and the Map Point tool on coordinate conversion still can't be disabled.

[2017-01-20 04:25] nfeuerstein commented on #293
@ACueva could this be a Jenkins issue?

[2017-01-20 04:34] ACueva commented on #293
@nfeuerstein not likely.  Jenkins hasn't changed the build process for the single addin since @kgonzago and I implemented it.  I'll log in a few and double check directly from the Jenkins build location to make sure we are both pulling from the correct repo, and correct branches.

[2017-01-20 06:29] ACueva commented on #293
Just checked.  Jenkins appears to be pulling from the correct repositories and branches.

[2017-01-20 15:33] nfeuerstein commented on #293
@kgonzago @dhagens can you take another look?  @elinz is still seeing an issue with the map point tool in a build he kicked off after the merge last night.

[2017-01-20 16:09] kgonzago commented on #293
@nfeuerstein @elinz Good news. Issue fixed. @dhagens will fold in changes in the next build.

[2017-01-20 16:24] elinz commented on #293
@dhagens @kgonzago @nfeuerstein Great. I will start another Jenkins build.

[2017-01-20 16:27] dhagens commented on #293
I already started one

[2017-01-20 17:16] dhagens commented on #293
@elinz @nfeuerstein @kgonzago , I tested the addin in build 1166 and all is working.  Can you close this issue before the War room meeting?  The build failed on documentation but the addin was created successfully.

[2017-01-20 17:18] elinz commented on #293
@dhagens @nfeuerstein @kgonzago I'm going to grab the addin from the dated build folder and not from "current" and test that. I will do that right now.

[2017-01-20 17:34] elinz commented on #293
@dhagens @nfeuerstein @kgonzago Verified fixed on build 20 Jan 2017 number 1167. Closing issue. Thanks for getting this fixed.

[2017-01-20 17:34] #293 closed

[2017-01-20 17:35] nfeuerstein commented on #293
YEEEESSSS!!!

[2017-01-20 19:35] elinz opened #303 "Doc - Coordinate Conversion - Supported Notation Formats has invalid MGRS coordinates (ArcGIS Pro)"
@nfeuerstein FYI.

All of the MGRS coordinates in the doc are using invalid Zone/Lat Band, 100k grid designator. There was a typo added when the xmetal topic was written.

All MGRS coordinates in doc that start with...
115WC

Should be change to 11SWC

people are going to try and cut and past from the doc as they try things out, so we should correct this.

[2017-01-20 19:36] elinz opened #304 "Doc - Coordinate Conversion - Supported Notation Formats has invalid MGRS coordinates (ArcMap)"
@nfeuerstein FYI.

All of the MGRS coordinates in the doc are using invalid Zone/Lat Band, 100k grid designator. There was a typo added when the xmetal topic was written.

All MGRS coordinates in doc that start with...
115WC

Should be change to 11SWC

people are going to try and cut and past from the doc as they try things out, so we should correct this.

[2017-01-20 19:49] Dbarnes1 commented on #303
@elinz good catch, just fixed this, I'm going to build the doc in a bit so you can verify.

[2017-01-20 19:51] Dbarnes1 commented on #304
@elinz this has been fixed, will asign to verify with next publish.

[2017-01-20 23:44] elinz commented on #304
Verified on final 1172 build. Closing issue.

[2017-01-20 23:44] #304 closed

[2017-01-20 23:45] elinz commented on #303
Verified on final 1172 build. Closing issue.

[2017-01-20 23:45] #303 closed

[2017-01-24 15:13] dhagens commented on #254
@nfeuerstein, @topowright , @dfoll, @elinz - I would suggest that before we make any changes to this, that the pro or arcmap team is first contacted to determine their reasoning for automatically making this conversion, or to find out if there could be a property added to the ToGeoCoordinateParameter that would allow us to turn off automatic autocorrection.  We are making ArcObject calls to get th

[2017-01-24 15:54] dhagens commented on #254
I would also like to note that other tools also perform the conversion automatically.

http://www.latlong.net/degrees-minutes-seconds-to-decimal-degrees
![image](https://cloud.githubusercontent.com/assets/13664546/22254693/56cc2fa6-e223-11e6-8153-9330d2858055.png)

http://www.earthpoint.us/Convert.aspx
![image](https://cloud.githubusercontent.com/assets/13664546/22254736/75cd40ac-e223-11e6-8c3b-ef

[2017-01-24 21:28] dhagens commented on #188
@elinz, Could you provide me with a list of what should / shouldn't be allowed or where I can find that?  For example, should we allow S100.0- 45.0+
What should happen if they enter N100- S45.0+

[2017-01-25 15:16] dhagens commented on #188
@elinz, could you elaborate on how the hemisphere characters can be used?  I reviewed the supported-notations-format document that is listed above and this issue should be changed to include the use of hemisphere characters as a prefix as well as a suffix.  It doesn't specify in the document whether both a prefix and a suffix are allowed for a given coordinate.  For example, +100S should be invali

[2017-01-25 20:53] dhagens commented on #188
@elinz, @nfeuerstein, @topowright, @kgonzago - I didn't receive any feedback on my previous comments so I made the tool function how I thought it should.  We allow hemisphere characters for both Lat & Lon and both as either a prefix or a suffix, but not both.  You can also use both a heading and a hemisphere character in the Lat / Lon but can't use both for just Lat or just Lon.  Here are some exa

[2017-01-25 21:12] elinz commented on #188
@dhagens @nfeuerstein @topowright @kgonzago I hadn't given any feedback since we were all meeting tomorrow to discuss this.

[2017-01-25 21:31] dhagens commented on #188
@elinz, no problem.  I just didn't want to sit around until tomorrow and do nothing.  I already have files checked out for the regex changes and didn't want to jump to something else.  I thought tomorrow's discussion was more about multiple input boxes for lat / lon vs. how to represent hemispheres but maybe I'm wrong.  As for now, it works as I listed above.  If we decide it needs changed, I can

[2017-01-25 22:00] elinz commented on #188
@dhagens Absolutely understand. Thanks.

[2017-02-02 16:56] dhagens commented on #209
Ready for testing

[2017-02-06 16:05] dhagens commented on #290
@elinz, ready for testing once the merge is completed.

[2017-02-07 11:13] adgiles commented on #208
@dhagens

This update seems to have caused an issue with the Add New Output Coordinate window if the map point tool is active.

To reproduce click on the Map Tool Button and whilst the tool is in active mode (coordinates updating as you move the mouse), click the add new output button.

Instead of getting the Add New Output Coordinate window you now get the Ambiguous Coordinate window clicking ok

[2017-02-07 11:54] adgiles commented on #284
fixed in this pull request https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/310

[2017-02-07 11:54] adgiles commented on #283
Fixed in this pull request https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/310

[2017-02-07 14:19] dhagens commented on #208
@adgiles, @kgonzago - I got the latest from CC and I'm not seeing the issues that you are seeing.  We don't have an 'add new output' button.  We have an 'Edit Properties' button and an 'Add' button.  I'm not sure which one you are referring to.  Either way, I tested both buttons several times and all seems to be functioning properly for me.

[2017-02-21 20:35] dfoll opened #316 "Map Point Tool should stay enabled"
I asked around a little bit and no one was aware of a reason for this design choice so i would like to see this enhancement.

Map Point Tool should stay enabled whether on the Convert tab or the Collect (not currently implemented) tab.

If I am trying to collect the coordinates for a point on the eastern end of Lake Erie, but I absentmindedly click on the western end, I now need to go back to the

[2017-02-21 20:36] dfoll commented on #316
@nfeuerstein @kgonzago  no assignee or milestone for now, submitting for your consideration

[2017-02-22 21:33] joebayles opened #318 "Select [an] existing feature(s) as inputs"
As a user, I want to the ability to choose existing features as inputs to populate the Collect Tab.

[2017-03-10 18:34] lfunkhouser opened #319 "BUG-000102904 ArcMap crashes when changing display coordinates after using Map Point Tool"
The Coordinate Conversion tool of Military Tools for ArcGIS crashes ArcMap when changing the display coordinates after using the Map Point Tool.

Steps to Repro:

1. Open a blank map with no coordinate system assigned to the data frame (this was tested in both 10.3.1 and 10.4.1.  Crash occurred consistently with these steps).
2. Open the Coordinate Conversion pane by clicking the Coordinate Conver

[2017-03-14 22:59] Dbarnes1 commented on #284
@adgiles @kgonzago @elinz verified fixed during holistic testing for 10.5.1.

[2017-03-14 22:59] #284 closed

[2017-04-21 17:05] topowright commented on #23
This is still an issue that we are currently addressing with documentation. We allow the user to understand that we only support WGS84, but we are looking at supporting more in later versions.

[2017-04-21 17:05] #23 closed

[2017-04-28 12:21] lfunkhouser commented on #283
Assigning to MT PEs and @elinz who originally submitted the issue to verify

[2017-04-28 12:23] lfunkhouser commented on #209
Assigning to MT PEs and @elinz who originally submitted the issue to verify

[2017-04-28 12:26] lfunkhouser commented on #208
Assigning to MT PEs and @elinz who originally submitted the issue to verify. Release notes for next release will need to be updated too if this is fixed.

[2017-04-28 12:44] lfunkhouser commented on #189
Assigning to MT PEs and @elinz who originally submitted the issue to verify. Release notes for next release will need to be updated too if this is fixed.

[2017-04-28 12:46] lfunkhouser commented on #188
Assigning to MT PEs and @elinz who originally submitted the issue to verify. Release notes for next release will need to be updated too if this is fixed.

[2017-04-28 16:36] ACueva commented on #189
Team, I'll work on verifying this issue.  Unassigned you guys.

[2017-04-28 21:33] NatalieCampos commented on #188
I used the coordinates from @elinz and @dhagens.  They all worked.  Verified.  Documentation was not updated, however needs to updated.

[2017-04-28 21:57] NatalieCampos commented on #208
Per @topowright, this issue has not been fixed.  When inputting @elinz 's coordinate examples, I do not receive the ambiguous input dialog.

[2017-04-28 22:14] NatalieCampos commented on #283
Verified.

[2017-04-28 22:15] #283 closed

[2017-05-01 19:56] lfunkhouser commented on #208
Assigning back to Devs - @kgonzago @pHill5136 @csmoore

[2017-05-01 19:57] lfunkhouser commented on #290
Assigned to MT PEs to verify. @ACueva @dfoll @topowright @NatalieCampos

[2017-05-01 20:01] lfunkhouser commented on #188
Removing ```verify``` label and adding ```in progress``` label to this issue - @NatalieCampos will be updating the documentation.

[2017-05-01 21:07] ACueva opened #320 "Coordinate Conversion: Input becomes unresponsive after Ambiguous Coordinate dialog ignored. (ArcMap)"
Version
ArcGIS Desktop10.5.

Tested against Build: 1413

Steps to reproduce:
1.  Open ArcMap and Coordinate Conversion Addin
2. Add DD, DDM, DMS are new output coordinates.
3. In the Input box, enter: 45.0+ 100.0-
4.  You should get a the Ambiguous Coordinates dialog box pop up.
5.  Close the window without hitting the "OK" button.
6. Enter another ambiguous coordinate such as: 45.0+ 100.0+
7. Not

[2017-05-01 21:29] ACueva commented on #320
FYI @nfeuerstein @lfunkhouser @kgonzago

[2017-05-01 21:46] kgonzago commented on #320
@ACueva Will look into it.

[2017-05-01 21:48] kgonzago commented on #319
@lfunkhouser Enabling the map tool and clicking in map without an existing basemap or feature layer will cause it to crash. The fix is to perform a check on spatial reference of the map before the map tool can be enabled. Will update code to include that check.

[2017-05-01 21:59] ACueva commented on #209
I'll take this one.

[2017-05-01 22:10] ACueva commented on #189
Verified.  Appears to be working as expected.  Tested against the 8 points listed in the original issue.  Valid results returned.  Tested against values from the map point tool.
@elinz FYI

@dfoll @NatalieCampos Can you guys assist me, not sure how this would affect documentation.  Thanks

[2017-05-01 22:18] kgonzago commented on #208
@lfunkhouser I'll take this one.

[2017-05-02 17:03] kgonzago commented on #319
@lfunkhouser Please have one of PEs verify. Thanks.

[2017-05-02 17:23] ACueva commented on #209
New results:
![2017-05-02_10-12-24](https://cloud.githubusercontent.com/assets/3093940/25629881/fc1e41da-2f1f-11e7-951e-008ff17349dd.png)
![2017-05-02_10-14-36](https://cloud.githubusercontent.com/assets/3093940/25629959/3bac0616-2f20-11e7-90b2-604145706c48.png)
![2017-05-02_10-15-43](https://cloud.githubusercontent.com/assets/3093940/25629990/59e41498-2f20-11e7-96c1-f8c2f3c37202.png)

@elinz Mind

[2017-05-02 18:23] kgonzago commented on #319
@ACueva @NatalieCampos @topowright @dfoll FYI

[2017-05-02 18:48] lfunkhouser commented on #189
@ACueva This affects the topic on what input format is supported

[2017-05-02 19:06] topowright commented on #209
The expected behavior would be when a user puts in a coordinate that is not clear that the tool will prompt them to allow the tool to understand what they mean.

If a user puts in 11 or 1234 or 123456 as examples the feedback should be:
![image](https://cloud.githubusercontent.com/assets/5488313/25634470/a1b9b5d4-2f2f-11e7-90ba-cd9d4f3688f1.png)

Currently this prompt happens correctly if there is

[2017-05-02 19:07] topowright commented on #208
The expected behavior would be when a user puts in a coordinate that is not clear that the tool will prompt them to allow the tool to understand what they mean.

If a user puts in 11 or 1234 or 123456 as examples the feedback should be:
![image](https://cloud.githubusercontent.com/assets/5488313/25634470/a1b9b5d4-2f2f-11e7-90ba-cd9d4f3688f1.png)

Currently this prompt happens correctly if there is

[2017-05-02 23:05] NatalieCampos commented on #290
Unable to reproduce this issue.  Closing it for now.

[2017-05-02 23:05] #290 closed

[2017-05-03 00:07] topowright commented on #319
@kgonzago I have replicated this issue.

[2017-05-03 00:11] topowright commented on #319
I am testing this issue on build 05-02-2017_1422 to see if this is fixed

[2017-05-03 00:26] topowright commented on #319
On build 1422 and I see a few issues.
If I add a spatial reference and then try to add a coordinate from the map using the map point tool it will not update the coordinates in the add-in. If I change the coordinates again I then get this error:

![image](https://cloud.githubusercontent.com/assets/5488313/25644596/4ad41566-2f5c-11e7-9cc3-fef67845fb73.png)

The dialog to change coordinates is now bu

[2017-05-03 13:21] kgonzago commented on #319
@topowright I'll take a look at it

[2017-05-03 13:57] #320 closed

[2017-05-03 16:11] NatalieCampos commented on #188
The (+,-) suffixes were added to the Supported notation format topic for DD, DDM, and DSM. Closing issue

[2017-05-03 16:11] #188 closed

[2017-05-03 16:25] topowright commented on #319
@kgonzago after we spoke this morning I was thinking more about the thought of the tool working with a blank dataframe. I agree with you that we dont want the tool to crash; however, how would we go about that?

[2017-05-03 16:34] ACueva opened #323 "Coordinate Conversion: Add support for comma separated decimals (ArcGIS Pro)"
This relates to:
https://github.com/Esri/solutions-webappbuilder-widgets/issues/828

From the issue listed above:
Many countries use a comma instead of a decimal point:

https://en.wikipedia.org/wiki/Decimal_mark

Currently the widget will not support this, the regular expressions need up dating to support commas

This issue has already been implemented in ArcGIS Desktop and Web App Builder.
In or

[2017-05-03 17:32] ACueva commented on #189
Will work with @NatalieCampos to document this issue.

[2017-05-03 20:17] kgonzago commented on #319
@topowright @ACueva @NatalieCampos Changes made to map tool. now a map is required before the map tool can be enabled. Please verify when you get a chance.

[2017-05-03 21:10] topowright commented on #188
@lfunkhouser we have finished the documentation on this task, which is the reason why i removed the tag for Affects Documentation. Is that the correct workflow?

[2017-05-03 21:15] ACueva commented on #319
If this is the expected result, it appears to be working.
![2017-05-03_14-12-34](https://cloud.githubusercontent.com/assets/3093940/25681823/98c3860e-300a-11e7-83b6-96fac0ec9373.png)

@kgonzago I'm going to assume this is the behavior you added.  If it's not please let us know.

[2017-05-03 21:16] ACueva commented on #319
@topowright @NatalieCampos - This has an "affects documentation", does it?

[2017-05-03 21:19] csmoore commented on #208
@kgonzago 's PR merged - ready for retest in next build

[2017-05-03 21:20] ACueva commented on #208
Kicking off a new build right now. Should be ready in a few mins.

[2017-05-03 21:20] csmoore commented on #209
@kgonzago 's PR merged - ready for retest in next build

[2017-05-03 21:29] lfunkhouser commented on #189
Documentation has been updated. This is the same topic that was updated for #188

[2017-05-03 21:29] #189 closed

[2017-05-03 22:29] ACueva commented on #209
Got this one again.

[2017-05-03 22:45] NatalieCampos commented on #208
None of Erics examples throw an ambigous error.... That is what I think is supposed to happen @topowright  @csmoore  @lfunkhouser

[2017-05-03 22:46] ACueva commented on #209
@csmoore @topowright I'm not sure the expected behavior now:
I used the same values from above.
00, 45, and 457598 throw:
![2017-05-03_15-44-02](https://cloud.githubusercontent.com/assets/3093940/25684634/5c50021c-3017-11e7-9c4f-801fb2942587.png)

[2017-05-03 22:46] NatalieCampos commented on #208
This was tried wit the 1428 build

[2017-05-03 23:37] topowright commented on #319
@kgonzago this looks good.

[2017-05-04 13:12] kgonzago commented on #319
@topowright Displaying that message is now the intended behavior. Map has to exist before the map tool is enabled.

@ACueva Adding this new behavior unfortunately does affect documentation.

[2017-05-04 13:14] kgonzago commented on #208
@NatalieCampos The new behavior should display a message informing users of an invalid coordinate. The ambiguous message will not be thrown until a valid coordinate is entered. Do you not see the invalid coordinate message during your testing?

[2017-05-04 13:16] kgonzago commented on #209
@ACueva 00, 45, and 457598 are invalid coordinates. The logic used to parse these coordinates assumes there will be a delimiter (comma, space, period, etc.) used to distinguish between x and y coordinates. 0 0 is valid but 00 (no spacing) is invalid.

[2017-05-04 14:44] kgonzago commented on #208
@NatalieCampos I was able to repro from build 1428. Applied fix and you will be able to test once PR #326  is merged and build kicked off.

[2017-05-04 14:55] kgonzago commented on #208
@NatalieCampos @ACueva @topowright FYI

[2017-05-04 15:15] ACueva commented on #208
I kicked off a manual build.  It should be ready to test by the time you see this message.

[2017-05-04 16:05] NatalieCampos commented on #208
This was tested on this morning's build.  I now get the error box below. Closing this issue.

![image](https://cloud.githubusercontent.com/assets/5116835/25713201/c5a97702-30a8-11e7-8447-06cd03015428.png)

[2017-05-04 16:05] #208 closed

[2017-05-04 16:05] ACueva commented on #209
@kgonzago Makes sense.  Based off your reply I believe this issue is good to go.  @topowright thoughts?

[2017-05-04 16:40] topowright commented on #209
We need to look a the documentation.

[2017-05-04 17:19] topowright commented on #290
We think that this issue might have been fixed when we addressed issue #319

[2017-05-04 18:54] topowright commented on #319
@ACueva I think this needs to be documented in the known issues. This is my idea of what we should say.

When creating a new mxd in ArcMap the map point tool for coordinate conversion will not work without a user adding a layer to the Table of Contents if a user has previously used the map point tool in the previous ArcMap mxd. Add a layer to the Table of Contents and the map point tool will work.

[2017-05-04 19:05] topowright opened #327 "Disabling the map point tool when a dialog is accessed"
After working thru issue : https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/319

we need to rework how the map point tool behaves. Currently there is an issue when a user creates a new map document after they have interacted with the coordinate conversion tool, which will end with the tool not working. To fix the issue a user just needs to add a layer to the ToC; however, a user i

[2017-05-04 19:08] ACueva commented on #319
@topowright I think it's a bit convoluted.

Let's wait to see in planning whether or not this can/will be fixed before the next release.  Perhaps this is a non issue if we can get it fixed.

[2017-05-04 19:08] topowright opened #328 "Disabling the Map Point tool with a map is not present"
In ArcGIS Pro the map point tool should be disabled until a user inserts a map.

[2017-05-04 21:46] NatalieCampos commented on #209
@lfunkhouser at 2:25 pm, I tried to recheck out the "known issues for CC Addin for ArcGIS Pro" and it still says it is checked out by you.

[2017-05-05 17:46] topowright commented on #209
@dfoll commented on Jan 14th about listing this as a known issue. This never made it into the known issue list; however, this no longer needs to be documented. When invalid coordinates are entered a user is now prompted that the coordinate is invalid.

![image](https://cloud.githubusercontent.com/assets/5488313/25757613/0861c9aa-3180-11e7-905d-a820b05074dd.png)

[2017-05-05 17:56] #209 closed

[2017-05-05 23:39] topowright opened #329 "Remove the Convert Tab"
Going forward the CC tool - add-in does not need to have a tabbed approach. To allow more real estate room for other things remove the convert tab to allow room to be made for the batch functionality.

![image](https://cloud.githubusercontent.com/assets/5488313/25768190/5e4c614c-31b5-11e7-95d1-b9bd12eb7b23.png)

[2017-05-05 23:59] topowright opened #330 "Copy selected/all from list to clipboard"
A user should be able to interact with the batch list in the same way they would an excel table. They should be able to use control and shift to highlight the entries they are interested in. When they right click they should be given the  options to copy all and copy selected. This will allow the users to take these into other applications or text files.

[2017-05-06 00:04] topowright opened #331 "Change “copy all” to “copy last”"
When I want to copy notations from the output list of the tool it should say Copy Last instead of Copy all with the additions of the batch section on this tool.

![image](https://cloud.githubusercontent.com/assets/5488313/25768151/e4c16282-31b4-11e7-8c34-0397ac13538e.png)

[2017-05-08 14:45] topowright commented on #329
Just for clarification, the capability that is on the collect tab will be moved to the coordinate tab.

[2017-05-08 14:47] topowright opened #332 "Add a clear button to clear the list of collected points"
The clear button will be used to clear the listed of imported or collected points. Imported points are collected using the map point tool and the import button brings in locations based on a kml, xls, xlst,txt,  and csv.

When a user hits the clear button they will be asked if they are sure they would like to clear the list.

![image](https://cloud.githubusercontent.com/assets/5488313/25809684/a11

[2017-05-08 14:51] topowright commented on #330
Currently there is a delete and delete all option; however, there is no copy or copy all feature.

[2017-05-08 15:22] topowright opened #333 "Map pointer drops points (graphics) on map."
When a user uses the map point tool and selects a location on the map a graphic of that location will be placed on the map. Also, that location will be populated to the batch list. The batch list will be based on the type of coordinate that has been selected from the output table. The user should be able to collect mutiple points without having to click on the map point tool between selecting loca

[2017-05-08 15:24] topowright opened #334 "Move the list box off of the collect tab"
The list box needs to be placed in the main part of the CC tool:

![image](https://cloud.githubusercontent.com/assets/5488313/25811315/bb887b98-33c7-11e7-841e-7f3369655067.png)
This is what the tool should look like when done.

[2017-05-08 15:34] topowright opened #335 "Save As functionality"
A user needs the ability to Save the batched features to the following file types:

CSV, TXT, XLS, KML, GDB Table, Feature Class, Point shapefile, feature service

[2017-05-08 15:38] topowright opened #336 "Import Supported File Types"
A user needs to be able to import the following file types: CSV, TXT, XLS,XLST, KML, KMZ,  GDB Table, point Feature Class, point shapefile

[2017-05-08 15:50] topowright opened #337 "Allow the user to set the spatial reference."
A user needs to be able to set a spatial reference of the coordinate tool.

[2017-05-08 16:03] topowright opened #338 "When a user uses Save As attributes should be kept"
Attributes and Headers/Fields from the import file type are maintained and included in an export.​

Some things to think about:

- The first file that is imported will drive the schema
- A field mapping dialog will be needed for the following files that are imported and merged into the active list.
- A user can collect new point from the map; however, they will not be able to add attributes to the

[2017-05-09 17:23] NatalieCampos opened #339 "UI Enhancement design"
@lfunkhouser , @nfeuerstein On 5/9/10 the team (PEs and Devs) met to discuss the batch conversion functionality.  We came up with an enhancement to the UI. See the graphic below.  Devs discussed that the moving of buttons would be difficult and a reach for the next release.

![image](https://cloud.githubusercontent.com/assets/5116835/25863581/3f294ae8-34a1-11e7-8331-51a7aa95d587.png)

@topowright

[2017-05-09 22:48] lfunkhouser commented on #159
Closing issue. This works as designed.