[2017-05-09 22:48] #159 closed

[2017-05-10 16:38] dfoll commented on #331
i like this idea, however i would change the verbage to "Copy Outputs" to be explicit about what the user is putting onto the clipboard when they copy, to me "Copy Last" is not the clearest way to convey to the user what they are copying. @topowright , thoughts?

[2017-05-10 16:49] ACueva commented on #331
This may be a non issue if @kgonzago/ @adgiles are able to move the copy icon to the output header row. It should make more sense what you're copying at that point.

[2017-05-10 22:13] ACueva opened #340 "Coordinate Conversion: create output MGRS/USNG/UTM coordinate in polar regions (ArcMap)"
This has been fixed in the WAB widget: https://github.com/Esri/solutions-webappbuilder-widgets/issues/782

From the aforementioned issue:

Outside of 80 degree South and 84 degree North, MGRS is defined in terms of Universal Polar Sterographic (UPS). So for example, if you use the Identify tool in ArcMap at 87.7520N 169.6139E, it will switch to using UPS and return the MGRS and USNG value ZAK45000

[2017-05-10 22:44] ACueva opened #341 "Edit New issue Coordinate Conversion: create output MGRS/USNG/UTM coordinate in polar regions (ArcGIS Pro)"
This has been fixed in the WAB widget: https://github.com/Esri/solutions-webappbuilder-widgets/issues/782

From the aforementioned issue:

Outside of 80 degree South and 84 degree North, MGRS is defined in terms of Universal Polar Sterographic (UPS). So for example, if you use the Identify tool in ArcMap at 87.7520N 169.6139E, it will switch to using UPS and return the MGRS and USNG value ZAK45000

[2017-05-11 22:39] lfunkhouser opened #342 "BUG-000102904 The Coordinate Conversion tool of Military Tools for ArcGIS crashes ArcMap when changing the display coordinates after using the Map Point Tool."
<div><div>
<span><b>Salesforce ID:</b> BUG-000102904</span><br/>
<span><b>Salesforce Submitter:</b> Kory Kramer</span><br/>
<span><b>Salesforce Submit Date:</b> 2/14/2017 5:20 AM</span><br/>
<span><b>Salesforce Bug Type:</b> Crash</span><br/>
<span><b>Salesforce Severity:</b> Medium</span><br/>
<span><b>Repro Data:</b> \\esri.com\sf_filestore\PRD\Attachments\Defects\BUG-000102904</span><br/>
<span

[2017-05-11 22:42] lfunkhouser commented on #342
Duplicate of #319

[2017-05-12 11:34] kgonzago commented on #342
Closing since it's a duplicate.

[2017-05-12 11:34] #342 closed

[2017-05-12 20:31] kgonzago commented on #335
csv is partially implemented and can be completed by our end of May release.

[2017-05-12 20:33] kgonzago commented on #337
@topowright Spatial reference of a map can be set in the data frame or layer group in the TOC. Can you elaborate more about this requirement?

[2017-05-15 19:38] kgonzago commented on #331
FYI: Based on #343, the buttons have been moved to the output header row.

[2017-05-15 20:10] kgonzago commented on #319
@ACueva @topowright can this be closed?

[2017-05-15 20:19] kgonzago commented on #339
@nfeuerstein moving buttons from input to output data grid was already tackled in #343 in is part of the larger effort related to #334.

[2017-05-15 20:45] ACueva commented on #319
@kgonzago I'll update the documentation and close this.

[2017-05-16 12:59] kgonzago commented on #319
@ACueva Thank you.

[2017-05-16 17:59] ACueva commented on #319
@kgonzago Build 1474, this is happening:
![2017-05-16_10-58-19](https://cloud.githubusercontent.com/assets/3093940/26120757/aed3205a-3a26-11e7-88a4-431a68be4a13.png)

[2017-05-16 18:00] kgonzago commented on #319
@ACueva Can you provide detailed steps to repro? Thanks.

[2017-05-16 18:03] ACueva commented on #319
@kgonzago I used the steps listed in the initial bug.

[2017-05-16 19:45] kgonzago commented on #319
@ACueva This issue will be fixed with PR #344

[2017-05-16 20:16] dfoll commented on #331
closing this. verified that @kgonzago moved the copy button and add format button to the output header, no need to change the verbage of the button, since it is now in the output header, i feel it is obvious what it is copying

[2017-05-16 20:16] #331 closed

[2017-05-16 20:32] ACueva commented on #319
Looks like the PR was merged.  Kicking off a new build and re-testing.

[2017-05-16 21:13] ACueva commented on #319
@kgonzago Changes look good.  I get the warning message if a basemap/layer isn't present(as expected).

I tried the previous workflow @topowright mentioned.  I can consistently get an error message whenever a basemap/layer isn't present.  I tried removing the layer/basemap after successfully running the map point tool.  Still throws the error (good).

At this point I don't believe there is a need

[2017-05-16 22:03] dfoll commented on #329
moved out of verify because the convert tab is still in arcmap

![image](https://cloud.githubusercontent.com/assets/5322669/26130288/cda7b24e-3a48-11e7-9762-7d6627cd4e2a.png)

[2017-05-16 22:04] dfoll commented on #329
added affects documentation because we may need to remove references to the convert tab

[2017-05-16 23:24] dfoll commented on #339
@kgonzago  i realize this is not moved to verify yet, so i'm just sorta sticking my nose where it doesn't belong, but is work still pending on getting rid of the convert tab  in ArcMap, was playing with some stuff today, and noticed with build 1476, it's gone from Pro already, but not ArcMap

[2017-05-17 13:18] kgonzago commented on #329
@dfoll The tab is no longer there at component level of the CC add-in but still persists at the MT level as part of the toolbar. I will need to update that repo.

[2017-05-17 14:00] kgonzago commented on #222
@joebayles @topowright @Dbarnes1 My comment references #339.

The list off coordinates captured is now implemented in the addin. The flash function as a right-click context menu item is now available to the user. When you "flash" a selected coordinate from the list, the point flashes on the map. The enhancement moving forward is to have the user select a point/coordinate on the map that was create

[2017-05-17 14:02] kgonzago commented on #329
@dfoll the single-addin repo has been updated and should be part of the next build.

[2017-05-17 14:03] kgonzago commented on #330
@topowright This is now available in PR #339

[2017-05-17 14:05] kgonzago commented on #332
@topowright This is now available from PR #344

[2017-05-17 14:08] kgonzago commented on #339
@dfoll You are correct that it wasn't removed from AM since I didn't update the single-addin repo. It's done now and will be reflected in the next build.

[2017-05-17 20:04] kgonzago commented on #333
I discussed this with @ACueva. Currently, if you want to change the notation format of coordinates in the batch list, you will need to click on the `Edit Properties` button in the `Input` section, choose your new notation, then click `OK`. Clicking on a row in the `Output` data grid may not be intuitive to a user. Also, if you click on the far left of a row in the data grid, you will see a brief i

[2017-05-17 21:18] ACueva commented on #333
As a follow up.  The functionality is there, perhaps not in the best location.  However, it works.  Asked @kgonzago to focus on other functionality.

[2017-05-17 23:27] ACueva commented on #319
Moving to "In progress" as I'll be updating our documentation.

[2017-05-18 14:23] kgonzago commented on #338
@topowright @NatalieCampos @ACueva @dfoll

This and #335 are part of the larger enhancement of importing/exporting coordinates. Combined, both issues hint towards a wizard like dialog. A discussion is definitely needed on how the experience will be for our users during the import/export coordinates process.

[2017-05-18 16:37] dfoll commented on #336
need to split this up to each file type being it's own issue

[2017-05-18 20:42] ACueva commented on #339
Initial load (ArcMap):
![2017-05-18_13-38-56](https://cloud.githubusercontent.com/assets/3093940/26222575/63391e10-3bcf-11e7-9fbc-92f8dc585ff2.png)

From strictly a UI perspective.  The look and feel is acceptable. GJ @kgonzago

Assigning to @dfoll for ArcGIS Pro verification.
These UI changes will require updates to documentation.

[2017-05-18 20:49] ACueva opened #345 "Bottom toolbar expands past screen display. (ArcMap)"
Populating the list of coordinates will eventually expand the display so the buttons on the bottom are no longer visible.
![2017-05-18_13-46-14](https://cloud.githubusercontent.com/assets/3093940/26222854/623046e6-3bd0-11e7-8d6d-802a08e69099.png)

[2017-05-18 20:50] ACueva commented on #345
FYI @dfoll

[2017-05-18 20:54] ACueva commented on #329
@kgonzago I'm assuming you moved to Verify for the PE's to test.  Assigning to @dfoll and myself to test ArcGIS Pro, and ArcMap, respectively.

[2017-05-18 21:19] ACueva commented on #334
This UI change has been properly implemented in ArcMap.

[2017-05-18 21:22] ACueva commented on #332
ArcMap behavior has a "Clear All" button.  This does exactly what it says, clears the whole list.
For deleting single items you are able to select the item from the list and delete it with the keyboard delete key, or right clicking and selecting "delete".

[2017-05-18 21:25] dfoll commented on #329
in Pro build 1484 it's gone

[2017-05-18 21:29] dfoll opened #346 "Bottom toolbar expands past screen display. (ArcGIS Pro)"
Populating the list of coordinates will eventually expand the display so the buttons on the bottom are no longer visible.
![image](https://cloud.githubusercontent.com/assets/5322669/26224215/360742d0-3bd6-11e7-9321-4cf25d850d63.png)

[2017-05-18 21:30] dfoll commented on #345
saw the same thing in Pro #346

[2017-05-18 21:30] dfoll commented on #346
same thing happens in ArcMap #345

[2017-05-18 21:39] dfoll commented on #334
in ArcGIS Pro, the collect tab is gone and the "List" now appears on the (only) pane. Looks like @ACueva verified this in  ArcMap.

[2017-05-18 21:42] dfoll commented on #339
UI verified in Pro.

[2017-05-18 21:42] #329 closed

[2017-05-18 21:43] #334 closed

[2017-05-18 21:50] ACueva commented on #330
@kgonzago Going to kick this one back.  Part of the requirements was the ability to "interact with the batch list in the same way they would an excel table."
We are still missing the ability to:

- [ ]  Select multiple items in the list using the control and shift keys.
- [ ]  Right clicking should not include the "delete all" option.(we have a clear all button at the bottom)
- [ ]  Selecting mult

[2017-05-18 21:50] ACueva commented on #330
fyi @dfoll

[2017-05-18 21:56] dfoll opened #347 "Provide ability to format the Input coordinate (ArcGIS Pro)"
Currently you can change the format of the Input, but you can not edit the notation in the way that you can use the Advanced options in the Add New Output Coordinate dialog. This is important, because the style of the Input box also controls the way coordinates in the "List" box are shown. In short I want some control over how coordinates are formatted in the "List" box.
![image](https://cloud.git

[2017-05-18 21:58] dfoll opened #348 "Provide ability to format the Input coordinate (ArcMap)"
Currently you can change the format of the Input, but you can not edit the notation in the way that you can use the Advanced options in the Add New Output Coordinate dialog. This is important, because the style of the Input box also controls the way coordinates in the "List" box are shown. In short. In short I want some control over how coordinates are formatted in the "List" box.
![image](https:/

[2017-05-18 22:00] dfoll commented on #348
requested for ArcGIS Pro as well. #347

[2017-05-18 22:00] dfoll commented on #347
requested for ArcMap as well #348

[2017-05-18 22:33] dfoll commented on #332
Clear button clears all the points from the list in ArcGIS Pro

[2017-05-18 22:34] #332 closed

[2017-05-18 22:42] dfoll opened #349 "Import on Coordinate Conversion pane is not working (ArcGIS Pro)"
Coordinate Conversion build 1484

1. Click Import
2. Point to a .csv
3. If using the cities.csv select the DD field (these are decimal degree values that were created using the coordinate conversion pane).
4. Click OK
     all four points from the table are placed on the map at the exact spot... which does not match any of the
     points that were input.
![image](https://cloud.githubusercontent.c

[2017-05-18 22:53] dfoll opened #350 "Import on Coordinate Conversion pane is not working (ArcMap)"
Coordinate Conversion build 1484

1. Click Import
2. Point to a .csv
3. If using cities.csv select the DD field (these are decimal degree values that were created using the
    coordinate conversion pane).
4. Click OK

Nothing happens
included .zip with three .csv to use
[cities.zip](https://github.com/Esri/coordinate-conversion-addin-dotnet/files/1012624/cities.zip)

[2017-05-18 23:08] ACueva opened #351 "Clicking outside map boundary populates blank coordinate list item."
Steps to reproduce:

1. Add a basemap to your new project.
2. From Coordinate Conversion add-in select map point tool.
3. Click a few points on the map.
4. Now click outside the map boundary. Notice a blank space appears in the list.
5. If you attempt to right click and perform any actions on the blank items in the list, ArcMap will crash.

![2017-05-18_16-07-34](https://cloud.githubusercontent.co

[2017-05-18 23:08] ACueva commented on #351
FYI @dfoll

[2017-05-19 13:48] kgonzago commented on #351
@ACueva good catch. I will add in some checks for empty coordinates.

[2017-05-19 14:09] kgonzago commented on #335
@dfoll This epic needs to be separated out into its own issue. One issue per save-as format.

[2017-05-19 20:02] nfeuerstein opened #353 "BUG-000104918 ArcGIS Pro crashes when opening existing projects if the Military Tools Coordinate Conversion tool pane is docked."
<div><div>
<span><b>Salesforce ID:</b> BUG-000104918</span><br/>
<span><b>Salesforce Submitter:</b> Shondra Grenz</span><br/>
<span><b>Salesforce Submit Date:</b> 5/04/2017 1:25 AM</span><br/>
<span><b>Salesforce Bug Type:</b> Crash</span><br/>
<span><b>Salesforce Severity:</b> Medium</span><br/>
<span><b>Repro Data:</b> \\esri.com\sf_filestore\PRD\Attachments\Defects\BUG-000104918</span><br/>
<sp

[2017-05-19 20:04] nfeuerstein opened #354 "BUG-000098739 The Coordinate Conversion Add-In for ArcGIS Pro 1.0.1 does not display the correct latitudinal zone letters in ArcGIS Pro 1.3."
<div><div>
<span><b>Salesforce ID:</b> BUG-000098739</span><br/>
<span><b>Salesforce Submitter:</b> Md-Afiq Azim Md-Darom</span><br/>
<span><b>Salesforce Submit Date:</b> 8/19/2016 7:57 AM</span><br/>
<span><b>Salesforce Bug Type:</b> Failure/Error</span><br/>
<span><b>Salesforce Severity:</b> Medium</span><br/>
<span><b>Repro Data:</b> \\esri.com\sf_filestore\PRD\Attachments\Defects\BUG-000098739

[2017-05-19 20:04] nfeuerstein opened #355 "BUG-000099009 The Coordinate Conversion ArcMap 1.0.1 add-in fails to populate the DMS, DD, and DDM fields if the region is set to use a comma as the decimal separator."
<div><div>
<span><b>Salesforce ID:</b> BUG-000099009</span><br/>
<span><b>Salesforce Submitter:</b> Ciro Romero</span><br/>
<span><b>Salesforce Submit Date:</b> 8/30/2016 7:03 AM</span><br/>
<span><b>Salesforce Bug Type:</b> Usability</span><br/>
<span><b>Salesforce Severity:</b> Medium</span><br/>
<span><b>Repro Data:</b> (n/a)</span><br/>
<span><b>Work Around:</b> Ensure that the region setting

[2017-05-19 22:17] dfoll opened #356 "User should be able to export all coordinate types form the output area to exported formats"
User should be able to export a feature class of points currently in the List.

- [ ] Whatever coordinate formats are listed in the Output box should be added as fields to the table
- [ ] When fields are added the field should be named as it is in the Output box.
- [ ] When fields for types DD, DDM, and DMS are added, three fields are added. One field containing the entire value named as above, an

[2017-05-19 22:39] dfoll opened #357 "Import dialog should ask "Latitude Field"/"Longitude Field" instead of X/Y ArcMap"
In the dialog to import (latitude) or (longitude) should be appended after the X and Y values when the box is checked to use two fields.

This avoids confusion and is consistent with the way core labels things parameters. In the example below when a single field is selected it is still labeled as X field (longitude) but the Y field is grayed out. When a two-field style is selected, and the paramet

[2017-05-19 22:46] dfoll opened #358 "Import dialog should ask "Latitude Field"/"Longitude Field" instead of X/Y ArcGIS Pro"
In the dialog to import (latitude) or (longitude) should be appended after the X and Y values when the box is checked to use two fields.

This avoids confusion and is consistent with the way core labels things parameters. In the example below when a single field is selected it is still labeled as X field (longitude) but the Y field is grayed out. When a two-field style is selected, and the paramet

[2017-05-19 22:47] dfoll commented on #356
@kgonzago more of these to come for the different output types

[2017-05-19 22:49] dfoll commented on #335
@kgonzago started working on your above request #356 is the first one, more to come on monday, if you get ahead of me, you can follow these same guidelines for each of the types lyle has listed or that you can get to, i don't see any difference in the behavior across output types, just need to list them all out as seperate issues for you. we can discuss any questions in #356 on monday

[2017-05-22 22:48] dfoll opened #359 "User should be able to select a point on the map and have the point highlight in the list (ArcMap)"
After populating multiple points in the map with the Coordinate Conversion pane, the user should then be able to select one of those points on the map and have that coordinate highlighted in the list.

[2017-05-22 22:49] dfoll opened #360 "User should be able to select a point on the map and have the point highlight in the list (ArcGIS Pro)"
After populating multiple points in the map with the Coordinate Conversion pane, the user should then be able to select one of those points on the map and have that coordinate highlighted in the list.

[2017-05-22 22:57] dfoll commented on #222
closing this issue, as the flash functionality exists. created new issues for the ability to select a point on the map and have it highlight in the list #359 #360 and listed on for WAB as well https://github.com/Esri/solutions-webappbuilder-widgets/issues/880

[2017-05-22 22:58] #222 closed

[2017-05-23 15:10] kgonzago commented on #351
@ACueva Empty items in the list are created when a user captures a coordinate that is out of bounds or off the map entirely. The batch conversion list didn't know how to display those coordinates hence the empty items. Added logic to handle that and now it displays a "NA" for those coordinates.

[2017-05-23 15:38] ACueva commented on #351
@kgonzago My initial thoughts are if it's an invalid coordinate it shouldn't appear in the list at all.  Let me talk the workflow through with @dfoll and @NatalieCampos.  We'll let you know.

[2017-05-23 15:56] kgonzago commented on #351
@ACueva When a user selects `Default Map Units` from the `Edit Properties` dialog and capture coordinates off the map, those coordinates are still valid. When you change to `MGRS` for example, that's when those coordinates are invalid and`NA` implemented as the display. When you change it back to `Default Map Units`, then those `NA`'s are changed back accordingly to valid coordinates.

[2017-05-23 15:58] ACueva commented on #351
@kgonzago That makes sense.  My initial thoughts is why are we capturing stuff we don't need.  It sounds like their is a possibility it is valid, just maybe not in the coordinate selected.  I'm good.  I'll test it and let you know.

[2017-05-23 16:54] NatalieCampos commented on #356
example of " Whatever coordinate formats are listed in the Output box should be added as fields to the table"

![image](https://cloud.githubusercontent.com/assets/5116835/26365849/c05c2408-3f9d-11e7-8816-51462bd24174.png)

[2017-05-23 17:12] elinz commented on #356
@kgonzago I'm not sure if you guys have considered this, but it may be a good idea to create all field names as lowercase so you can support all different kinds of RDBMS and also check for any restricted keywords. The chances of someone setting the name of the coordinate as a keyword is extremely low, but a good practice we should implement.

[2017-05-23 20:22] kgonzago commented on #356
@elinz Good idea!

[2017-05-23 20:26] elinz commented on #356
@kgonzago It's been a long time since I've programmed in this area, but I thought there are interfaces/methods/etc for determining if a field name is valid or you can pass in the field name and check if it's a RDBMS restricted keyword.

[2017-05-23 22:48] ACueva commented on #346
@kgonzago Not a deal breaker, just not thrilled the add-in isn't using up all the real estate it has.
![2017-05-23_15-47-12](https://cloud.githubusercontent.com/assets/3093940/26379659/35795b3a-3fcf-11e7-9593-e1231d04897f.png)

[2017-05-23 23:19] ACueva commented on #351
@kgonzago This is the behavior I'm experiencing:
If the Display Coordinate is in DD, DDM, DMS, MGRS, USNG, or UTM.  Basically anything other than the "Default Map Unit"
It will not let me click outside of the boundary area.  No new items are added to the list.

If the Display Coordinate is set to "Default Map Unit", then I'm able to add items to the list even though they are outside the map bounda

[2017-05-24 12:03] kgonzago commented on #346
@ACueva The approach taken is the simplest but the drawback is what you experienced. Having it fill the entire dock window will require more time. I suggest we log it as a version after next issue.

[2017-05-24 12:09] kgonzago commented on #351
@ACueva I tested the add-in using `Default Map Unit` and valid coordinates are added to the list when I clicked off the map. I then switched to `MGRS` and it wouldn't allow me to add coordinates off the map. Then switched back to `Default Map Unit` and it added those coordinates and displays valid coordinates instead of `NA`. Is this the workflow you used to test the add-in?

[2017-05-24 14:31] topowright commented on #319
@ACueva @kgonzago found an issue in which ArcMap is not treating raw elevation data as a item and the tool thinks that there is no data in the ToC:
![image](https://cloud.githubusercontent.com/assets/5488313/26408552/f73a99a4-4052-11e7-89be-9f3943c93e83.png)

[2017-05-24 21:29] NatalieCampos commented on #350
Import seems to be working now.  Closing issue.

[2017-05-24 21:29] #350 closed

[2017-05-24 21:40] NatalieCampos commented on #349
import is currently working. closing issue

[2017-05-24 21:51] NatalieCampos commented on #356
@kgonzago Just a heads up on export from CC on the 1505 build

![image](https://cloud.githubusercontent.com/assets/5116835/26427161/737d12fc-4090-11e7-961c-f9cce9207db2.png)

[2017-05-24 21:54] #349 closed

[2017-05-25 13:03] kgonzago commented on #356
@NatalieCampos This issue is currently still being worked on. Exporting attributes to CSV, KML and FC requires three different types of logic and is somewhat slow going. I'll make a determination whether it is doable to add it to this release before war room.

[2017-05-25 14:37] kgonzago commented on #353
I cannot reproduce this bug on Pro 1.4.1 using MT build 1508 (current). Having another set of eyes for testing is needed.

FYI @topowright @NatalieCampos @dfoll @ACueva

[2017-05-25 15:16] kgonzago commented on #354
I tested using Pro 1.4.1 and MT Builder 1508.

CC add-in converts `33N 509027 2532665` to `33QWF0902632665`. Additionally, the Locate tool in Pro also produces the same behavior. I believe this isn't a bug but need additional eyes for verification.

FYI @NatalieCampos @ACueva @dfoll @topowright

[2017-05-25 15:51] topowright commented on #335
create the other output types, assign them to version after next, then close this out

[2017-05-25 18:33] NatalieCampos commented on #353
@nfeuerstein @lfunkhouser unable to reproduce this on the1508 build. Shall we close it?

[2017-05-25 18:38] nfeuerstein commented on #353
If it can't be reproduced, works for me. Let's close it.

[2017-05-25 20:54] #353 closed

[2017-05-25 21:04] NatalieCampos commented on #319
Closing issue.  @lfunkhouser 's original issue has been fixed.  I also do not see the issue with the raw elevation data as seen by @topowright

[2017-05-25 21:04] #319 closed

[2017-05-25 21:36] NatalieCampos commented on #319
The following was added to the Known Issues for CC in ArcMap documentation

[2017-05-25 21:52] NatalieCampos commented on #358
@dfoll This is the new dialog.
![image](https://cloud.githubusercontent.com/assets/5116835/26472159/cb396a44-4159-11e7-9a29-021c3d62cc20.png)
Closing this issue.

[2017-05-25 21:52] #358 closed

[2017-05-25 21:56] NatalieCampos commented on #357
below is the new dialog.

![image](https://cloud.githubusercontent.com/assets/5116835/26472309/4c9656d8-415a-11e7-8dc2-833cce411009.png)

Closing

[2017-05-25 21:56] #357 closed

[2017-05-25 22:05] NatalieCampos commented on #355
On my windows 8 machine, I am also not able to reproduce the bug.  See the graphic below with the commas highlighted.
![image](https://cloud.githubusercontent.com/assets/5116835/26472548/8742ed72-415b-11e7-9295-e1a040e19c3b.png)

@nfeuerstein since Kevin and I are both unable to reproduce the issue, it will be closed.

[2017-05-25 22:05] #355 closed

[2017-05-25 22:42] NatalieCampos commented on #354
Unable to test on 1.3 as the bug suggests.
![image](https://cloud.githubusercontent.com/assets/5116835/26473515/a6d851a4-4160-11e7-87cf-c6ff53f9681a.png)
I will test on 1.4

[2017-05-25 22:49] NatalieCampos commented on #354
In Pro 1.4 I used these coordinates for New York

These were my results.
![image](https://cloud.githubusercontent.com/assets/5116835/26473670/b2b752da-4161-11e7-8c7f-52f34b296781.png)

Based on this website, I think there is not bug here.

http://www.latlong.net/place/new-york-city-ny-usa-1848.html

Closing issue.

[2017-05-25 22:49] #354 closed

[2017-05-25 22:58] NatalieCampos commented on #345
As of the 1509 build this does not occur in either the Pro or ArcMap version of the add-in

[2017-05-25 23:26] dfoll commented on #346
@kgonzago @nfeuerstein can we discuss this a bit before we decide for certain that it is an enhancement for version after next

[2017-05-25 23:28] dfoll commented on #346
(moving back to backlog just for tracking purposes, will discuss in war room)

[2017-05-26 21:24] dfoll opened #368 "Map Point Tool is always enabled (ArcGIS Pro)"
with build 1513 the map point tool is always enabled in coordinate conversion (didn't seem to be happening in distance and direction). The tool is always enabled, but the button does not highlight as though it is enabled. Even though the tool appears disabled, it is always enabled and you need to select a different tool, such as the explore tool to disable it.

[2017-05-29 18:09] dfoll commented on #339
- [ ] Write import section for ArcMap
- [ ] Tech review/test import section for ArcMap
- [ ] Add Import section to ArcMap pdf map
- [ ] Add Import section to ArcMap solutions page
- [ ] Write export section for ArcMap
- [ ] Tech review/test export section for ArcMap
- [ ] Add Export section to ArcMap pdf
- [ ] Add Export section to ArcMap solutions page
- [ ] Write import section for ArcGIS Pro
-

[2017-05-29 21:42] dfoll opened #369 "Import Select Fields dialog dark theme visibility issues"
For import functionality, after you click import and select your .csv, you get a select fields dialog window.

- [x] X Field (Longitude) drop down displays black text on a very dark gray background, this is extremely hard to read the drop down should be the same as other dark theme drop-downs
![image](https://cloud.githubusercontent.com/assets/5322669/26562753/14ffbb5c-447e-11e7-8cdd-f2df26a7ee94.

[2017-05-29 21:43] dfoll opened #370 "Export Select Output Dialog Dark Theme Visibility Issues"
Part of the functionality of the Coordinate Conversion pane is the ability to export. After you click export, you get the Select Output dialog.

-[ ] Select Output dialog has white text on a white back ground, so you cannot tell which option you have selected with the radio button.
![image](https://cloud.githubusercontent.com/assets/5322669/26562970/3f3a6fe6-4480-11e7-962a-fb39114f8a48.png)
(curre

[2017-05-29 22:03] dfoll commented on #369
While some one is messing with this dialog there is one other issue with this dialog, however i would say it's "time permitting" and you would decide how much time it will take, as (insert issue) is a bigger deal. If taking the time to fix the overall look of the dialog is too risky, it can be added to (insert issue).

- [ ] Select Fields dialog does not match dark theme dialogs from core. Dark th

[2017-05-29 22:10] dfoll commented on #370
While some one is messing with this dialog there is one other issue with this dialog, however i would say it's "time permitting" and you would decide how much time it will take, as #369  is a bigger deal. If taking the time to fix the overall look of the dialog is too risky, it can be added to (insert issue).

- [ ] Select Output dialog does not match dark theme dialogs from core. Dark theme dialo

[2017-05-29 22:12] dfoll opened #371 "Add new Output Coordinate Window does not support dark theme"
#### Tasks to be done June 6th 2018
- [x] Verify CMS issues addressed in CC and MT
-----------------------
**Background**

The Coordinate Conversion add-in needs to support the dark theme when opening the  properties.
Steps to replicate:

1. Open the Coordinate Conversion add-in
2. Click the Add Coordinate button in the output section

**Expectations:**
The blue hover color will match the style se

[2017-05-29 22:21] dfoll commented on #371
issues #369 and #370  were entered as Version-Next, I feel that we should fix those before release. This issue I think can be pushed to Version-After Next, given our current timeline.

[2017-05-30 02:58] ACueva commented on #351
@kgonzago The workflow you mentioned is correct.  I'm wondering if there is ever a valid case for a point to be added outside of the map boundary.  If so, I'd expect all the coordinates to be able to be added.  True, they may show up as "N/A", this would mimic the behavior of the `Default Map Unit`.

I'm okay with it either way, or perhaps this becomes an enhancement.  Thoughts?

[2017-05-30 13:51] kgonzago commented on #351
@ACueva If a basemap is added to ArcMap, the data frame takes on coordinate system of that basemap which is generally web mercator auxillary sphere if it's from AGO. The recently added basemap will also affect the display units which is set to `meters`. If you move your mouse outside of the extent of the basemap, ArcMap will still display coordinates which can be seen as valid coordinates. `Defaul

[2017-05-30 16:26] dfoll commented on #368
![image](https://cloud.githubusercontent.com/assets/5322669/26593721/07a99c9c-451a-11e7-9fb5-d9bfb63d5cca.png)

[2017-05-30 16:39] csmoore commented on #369
Addressed #372 - here is how it looks now in dark mode

![image](https://cloud.githubusercontent.com/assets/3090809/26594004/0e28d80c-4534-11e7-944f-effc9019267a.png)

Note: this is just a short term fix until we can rewrite the shared arcmap/pro library to better support themes - see: https://github.com/Esri/military-tools-desktop-addins/issues/2#issuecomment-304034371

[2017-05-30 17:23] kgonzago commented on #368
Spoke with @dfoll and issue will be looked at immediately.

[2017-05-30 18:20] csmoore commented on #370
Also addressed in #372 - should look like this after merge:

![image](https://cloud.githubusercontent.com/assets/3090809/26598386/0ee8aa24-4543-11e7-8c72-94e723697177.png)

[2017-05-30 18:25] NatalieCampos commented on #351
closing issue. This is the current behavior:

1. If the Display Coordinates are set to Default Map Units.... then coordinates will be collected even if they are outside of the map (ie basemap).

2. If the Display Coordinates are NOT set to Default Map Units (ie anything other than Default Map Units)... then no coordinates are collected and nothing is added to the coordinate list.

[2017-05-30 18:25] #351 closed

[2017-05-30 19:32] csmoore commented on #368
Ready to verify, this should be tested with the combined/toolbar & single add-in - to make sure both work as expected

[2017-05-30 19:48] topowright commented on #339
I am doing the tech review of the import functionality for coordinate conversion.

[2017-05-30 19:53] topowright opened #374 "CC is asking for format of coordinate after it has been converted"
When you import coordinates from a spreadsheet the tool asks the format of the coordinate after it has already been added to the list.

![image](https://cloud.githubusercontent.com/assets/5488313/26601941/aeebef98-4536-11e7-8594-18e5fc750393.png)

Reproduce this by :
1. import a list of coordinates
2. right click on the list and select flash

The problem is the tool should not be asking where the

[2017-05-30 20:07] topowright opened #375 "ArcGIS Pro crashes when changing the coordinate type after importing a list"
Ways to reproduce:

1. Import a table to CC
2. Flash some of the coordinates
3. Hit the change coordinate button

Hitting this button will crash ArcGIS Pro
![image](https://cloud.githubusercontent.com/assets/5488313/26602623/ec6fdb48-4538-11e7-8297-87be52c1ebc2.png)

Also, clicking around while the tool is trying to load the data will also make it fail.

[2017-05-30 20:09] topowright opened #376 "Prompting a user for location after import has already happened."
After a user has imported their data the tool will ask the user what the format is if they want to change the notation.

[2017-05-30 20:11] topowright commented on #339
@dfoll finding major issues with stability when using the batch tool.

[2017-05-30 20:25] NatalieCampos commented on #370
@csmoore that is exactly how the dialog looks.... however I am unable to export the points due to the error below... i am gonna continue testing to try to get the reproduction steps and I will make another issue...

![image](https://cloud.githubusercontent.com/assets/5116835/26603370/7b643fa4-453b-11e7-9fa0-2978ec6425a1.png)

[2017-05-30 20:25] #370 closed

[2017-05-30 20:54] NatalieCampos opened #377 "Unable to export"
To reproduce:
1.  collect pts
2. attempt to export point as either FC, SHP, KMZ

All will fail.  The error thrown is below.

![image](https://cloud.githubusercontent.com/assets/5116835/26604469/5f3b6c68-453f-11e7-8328-2d5db2ffc66c.png)

[2017-05-30 21:31] dfoll commented on #368
looks like it works as expected now with build 1526. i click the map point tool and it shows as blue/enabled and i can click points. When i click it again, it goes back to gray/disabled, and no longer makes points.

[2017-05-30 21:31] NatalieCampos opened #378 "Ambiguous Coordinates warning given when trying to add a new output format"
The Ambiguous Coordinates warning is thrown when attempting to add a new coordinate format output. To reproduce:
1. collect some coordinates
2. Click the add coordinate output button
3. You will recieve the Ambguous Coordiantes warning
![image](https://cloud.githubusercontent.com/assets/5116835/26605846/777fb914-4544-11e7-8555-22fa5eec54d5.png)

4. You must click ok 3 times to add a coordiante for

[2017-05-30 21:32] topowright opened #379 "Coordinate Conversion list needs to support dark theme"
I have placed two core tools beside the CC tool to show the difference.
![image](https://cloud.githubusercontent.com/assets/5488313/26605960/de1b2f5a-4544-11e7-874a-656e68c79a1a.png)

[2017-05-30 21:35] topowright commented on #369
@csmoore I do not think this is usable:

![image](https://cloud.githubusercontent.com/assets/5488313/26606035/301ba1a4-4545-11e7-97dc-ba6ca26953b5.png)

[2017-05-30 21:36] NatalieCampos opened #380 "Title missing from Add New Output Coordinate dialog box"
The title is missing from the Add New Output Coordinate dialog.

![image](https://cloud.githubusercontent.com/assets/5116835/26606034/30152d2e-4545-11e7-979b-d7021b2c3ab7.png)

[2017-05-30 21:40] topowright commented on #369
I will check with the latest build

[2017-05-30 21:42] NatalieCampos opened #381 "unable to format coordinate notation"
1.  click the new output button
2. on the new output coordinate format dialogue, select the advanced option
3. Try to adjust the notation by adding or removing a character
4.  The ambiguous corrdinates dialog will be thrown.
![image](https://cloud.githubusercontent.com/assets/5116835/26606213/ed842338-4545-11e7-9882-a0083760df9d.png)
5. Click ok on the ambiguous coordinates dialog
6. Finally, chan

[2017-05-30 21:43] dfoll commented on #369
since you assigned yourself, i'll let you stamp off on it, but this is what i'm seeing with 1526.... which is atleast passable for now
![image](https://cloud.githubusercontent.com/assets/5322669/26606198/d8f7fa7a-4545-11e7-89ce-651b5727eff2.png)

[2017-05-30 21:50] topowright commented on #369
This is now fixed for the drop down menus

[2017-05-30 22:00] topowright opened #382 "Last location selected from the map should be on top of the list"
Currently the last location collected is placed at the bottom of the list:

![image](https://cloud.githubusercontent.com/assets/5488313/26606919/c0c7ed0e-4548-11e7-9630-0b140e41a6fb.png)

[2017-05-30 22:01] dfoll opened #383 "Coordinate Conversion is constantly updating the values in the Output window (ArcGIS Pro)"
When using coordinate conversion, the values in the output box are constantly updating when you move the cursor around the map. This is a problem, because if you ever want to use the copy or copy all buttons, the last point that registers in the output window is just the edge of the map.
The output section values should only be updating on click, not on constant mouse movement, Those values should

[2017-05-30 22:03] topowright commented on #382
The bottom coordinate that is highlighted is the last point I selected.

[2017-05-30 22:50] topowright opened #384 "Unable to change the coordinates in the list"
Currently in ArcMap a user cannot change the coordinate type in the list:

![image](https://cloud.githubusercontent.com/assets/5488313/26608273/8b209668-454f-11e7-8d44-dc10e682514e.png)

This works in ArcGIS Pro, but not in ArcMap

[2017-05-30 23:01] csmoore commented on #375
I'll have a look at this one

[2017-05-30 23:23] dfoll commented on #383
Just as a general broad overview of how the three pieces should be fitting together... Input should be updating dynamically, output should be static from map click to map click, and the list should have  values added to it upon click

[2017-05-30 23:27] topowright opened #385 "Map Point Tool needs to roll back to version 1.0 functionality"
To allow the output section to be useful we need the map point tool to function the way that it did for Military Tool for ArcGIS.

**Current Functionality:**
The map point tool allows a user to collect more than one location without depressing the map point tool; however, the output section does not stop updating.

**Needed Functionality**
The map point tool function the same way it did at Militar

[2017-05-30 23:39] ACueva commented on #376
I was able to get it to fail.

![2017-05-30_16-38-29](https://cloud.githubusercontent.com/assets/3093940/26609527/706e38aa-4556-11e7-94b5-eb96007e9da8.png)

[2017-05-30 23:42] ACueva opened #386 "Dark Theme- Ambiguous Coordinates Box not displaying properly"
This is what is currently displaying when in Dark Theme.
![2017-05-30_16-40-25](https://cloud.githubusercontent.com/assets/3093940/26609573/b485e858-4556-11e7-9957-50b90dfaf39b.png)

[2017-05-30 23:51] topowright commented on #381
I have verified that I also can see this bug. @dfoll has also done this.  The dialog box comes up three times before allowing a user to add a new format type.

[2017-05-31 01:00] dfoll commented on #368
reopening, because we realized that this was giving us some unforseen behavior, will close again when we see that appropriate issues have been logged to cover this

[2017-05-31 01:08] csmoore commented on #386
I noticed this also & fixed while working on #375

[2017-05-31 01:55] csmoore commented on #375
This was crashing while trying to get a UI property from the closed AmbiguousCoordsView. Switching this to a non-UI property seems to fix.

Fixed in #387

[2017-05-31 02:11] dfoll commented on #385
@topowright spoke with @kgonzago  looks like he was able to get us what we wanted for this release, instead of having this work around and waiting until version after-next for what we really wanted

[2017-05-31 02:13] dfoll commented on #383
looks like we were able to get the functionality we wanted, sooner than expected thanks to @kgonzago . keep an eye on #385 for more detaisl, but most likely we will be able to be set to verify and closed soon.

[2017-05-31 02:27] kgonzago commented on #368
@dfoll Changes were added to address this issue in #388

[2017-05-31 02:28] kgonzago commented on #383
@dfoll PR #388 has the changes you and other PEs requested.

[2017-05-31 04:58] kgonzago commented on #376
@topowright @ACueva Can you supply repro steps? Thanks.

[2017-05-31 05:08] topowright commented on #377
I have tested this on build 05-30-2017_1529 and I get the following message fro shapefile, featureclass and kml:

![image](https://cloud.githubusercontent.com/assets/5488313/26616579/84db00c4-4584-11e7-99bc-585b751cdbc9.png)

[2017-05-31 11:06] #380 closed

[2017-05-31 14:02] csmoore commented on #376
I am also intermittently seeing this issue: the Ambiguous Coordinate Dialog is being called on the CIM Thread (instead of UI thread) and failing - is there any reason to show this dialog on import? The user already supplied X, Y. Can we just disable it for import?

[2017-05-31 14:03] kgonzago commented on #377
@topowright Can you supply steps when you tested this function? Thanks.

[2017-05-31 15:01] kgonzago commented on #378
@NatalieCampos This issue was addressed in this PR #388

[2017-05-31 15:26] kgonzago commented on #377
@topowright I tested with build 1535 and I didn't get that error. Please test with latest build when you get a chance. Thanks.

[2017-05-31 15:28] kgonzago commented on #374
This issue was fixed in #389

[2017-05-31 15:31] kgonzago commented on #384
Tested with build 1535 and coordinates do change in the batch conversion list. Please verify.

[2017-05-31 16:35] dfoll commented on #382
i have verified that the last coordinate entered is added to the top of the list

[2017-05-31 16:36] topowright commented on #377
@kgonzago I did this before your pull request was merged. I have now verified that this works with today's build 05-31-2017_1535.

[2017-05-31 16:36] #377 closed

[2017-05-31 16:54] topowright commented on #384
I have verified this on build 05-31-2017_1535.
![image](https://cloud.githubusercontent.com/assets/5488313/26643642/d77a57d2-45e6-11e7-9365-13404309bcd6.png)

[2017-05-31 16:54] #384 closed

[2017-05-31 16:54] #382 closed

[2017-05-31 16:55] #385 closed

[2017-05-31 16:59] dfoll commented on #381
with build 1535 i have points in the list. with points in the list, i add a new output format. used the advanced drop-down to edit mgrs, remove the grid zone designator. click ok. new format adds to the output list. no dialog about ambiguous coordinates. closing.

[2017-05-31 17:00] #381 closed

[2017-05-31 17:03] dfoll commented on #378
this is the same as #381 with the exception that the repro steps here do not ask you to customize your coordinate. so i followed the repro steps here, no dialog about ambiguous coordinates. closing

[2017-05-31 17:03] #378 closed

[2017-05-31 17:08] dfoll commented on #374
in arcmap and arcgis pro, i am importing a .csv. the import happens as expected. there is no dialog for ambiguous coordinates. with the points imported to the list, i can flash each point, and it is flashing for a different point for each different coordinate from the list that i click. also the points are being added to the list as expected in that the tool treats the list as the first row in the

[2017-05-31 17:08] #374 closed

[2017-05-31 17:14] ACueva commented on #386
I can read it now.
![2017-05-31_10-13-20](https://cloud.githubusercontent.com/assets/3093940/26644513/d1bdf616-45e9-11e7-90fb-923b3c83c851.png)

[2017-05-31 17:14] #386 closed

[2017-05-31 17:22] dfoll commented on #375
followed these exact repro steps in arcmap and arcgis pro, and did not get a crash anymore. closing

[2017-05-31 17:25] #375 closed

[2017-05-31 17:26] dfoll commented on #376
this sounds like it was closely tied to, if not the same issue as #374

[2017-05-31 17:33] #376 closed

[2017-05-31 20:42] #368 closed

[2017-06-01 21:14] NatalieCampos opened #392 "Pro crashes when saving to .txt and tab file / Export dialog misleading"
Pro 1.4 crashes when saving to .txt file in both the single add-in and the MT. To reproduce:
1.  Collect pts.
2.  Attempt to export the pts as a txt file.

Though exporting to .txt is not supported in the 1.1 release The Select output has the option to save as txt, csv, tab.  See screen grab.  When saving a files as file.txt or file.tab causes Pro to crash.   A fix would be to remove/clean the out

[2017-06-01 23:10] NatalieCampos opened #393 "CC has Export Button whereas other addins have save as"
Coordinate conversion has export instead of save as.  Do we want CC to match the rest of Military Tools?

![image](https://cloud.githubusercontent.com/assets/5116835/26704754/2d3cb0d4-46e6-11e7-8680-a512ad18fd4a.png)

[2017-06-16 22:52] lfunkhouser opened #398 "Clean up branches in the Repo"
Review and delete branches that are no longer being used.

[2017-06-20 02:37] kgonzago commented on #392
@NatalieCampos `TXT, CSV, TAB` filter was removed. Unfortunately, there isn't just a `CSV` filter so now the fix is simply `All Types`. See below.

![image](https://user-images.githubusercontent.com/6391826/27314053-448a235e-553f-11e7-9fc1-a906134665c5.png)

By default, if a user chooses to export to `CSV`, the Save-As dialog will only export to a `CSV` file. It isn't necessary to add a file exten

[2017-06-20 21:39] NatalieCampos commented on #392
@kgonzago I am unable to test this.  When I try to export collected  coordinates as a csv Pro just crashes.  @ACueva @dfoll @topowright can you guys test this as well.  I am working on todays daily build of Pro and the 1pm build of the addin.  To reproduce:

1.  open CC
2. Collect Points
3. export point as csv
4. name file
5. click save.... this is where pro crashes.

[2017-06-20 21:51] ACueva commented on #392
Tested the workflow.  It appears to work for me.
Daily Pro build 8934
Using Addin Build 1592

![2017-06-20_14-48-11](https://user-images.githubusercontent.com/3093940/27357577-8aeed460-55c7-11e7-9ec2-4259bd7b6462.png)

[2017-06-20 22:04] ACueva commented on #392
@kgonzago Not trilled by auto populating the .csv extension.
I'd expect the Menu to list CSV and the name not to have the .csv appended.

It works for now but I think this would be an enhancement for a future release.

[2017-06-20 22:31] NatalieCampos commented on #392
@ACueva ..... idk.  let me uninstall and reinstall.  Because it doesn't work for me.

[2017-06-21 15:16] kgonzago commented on #392
@ACueva The save dialog offered to users is a Pro component. I could use the Windows save dialog that allows a user to specify the CSV file extension. Downfall to that is that a user will be offered different dialogs: the Pro one for KML, Feature classes, and Shapefiles, and a separate one for just CSV. Thoughts?

@NatalieCampos What build of Pro 2.0 are you using?

[2017-06-21 15:38] topowright opened #400 "Edit Properties dialog does not use dark theme"
The Coordinate Conversion add-in needs to support the dark theme when opening the  properties.
Steps to replicate:

1. Open the Coordinate Conversion add-in
2. Click the Edit Properties button

**Expectations:**
The blue hover color will match the style set by ArcGIS Pro
The Properties window will follow the Dark Theme style

**Current state:**
![image](https://user-images.githubusercontent.com/54

[2017-06-21 15:40] topowright opened #401 "Coordinate Conversion does not work :("
Coordinate conversion does not allow any input to come from selecting locations on the map. I am using build:
06-20-2017_1590

@dfoll @ACueva @NatalieCampos  Please see if you are having the same experience.

[2017-06-21 16:37] topowright commented on #401
I have been able to get the tool to work successfully now, but this still happens every now and then. This being that the tool just does not function what so ever.

[2017-06-21 16:38] topowright commented on #400
The output box for our export tool looks okay, but the text seems to be in a different color than what is used by the rest of pro:
![image](https://user-images.githubusercontent.com/5488313/27395653-62e088d0-5665-11e7-85fe-318e6f9c915a.png)

[2017-06-21 16:44] NatalieCampos commented on #392
retired it today with the last MT build and the final pro build.  no crashes.  closing issue.

[2017-06-21 16:44] #392 closed

[2017-06-21 17:07] topowright opened #402 "Input boxes in the input section needs to support dark theme"
Here is an example of how our tool looks different compared to a GP tool:

![image](https://user-images.githubusercontent.com/5488313/27396912-6f98397a-5669-11e7-856f-8d7e195dff84.png)
The buttons used by core do not have any surrounding element until you hover over the button:
![image](https://user-images.githubusercontent.com/5488313/27397019-c65bdcc6-5669-11e7-800a-d36475acae46.png)

The only c

[2017-06-21 17:54] ACueva commented on #392
@kgonzago Let's go with the way it is.  If needed we can log an issue and address the save as workflow at a later release.

[2017-06-21 19:23] kgonzago commented on #401
@topowright Can you provide detailed steps to repro this bug?

[2017-06-22 14:24] dfoll commented on #383
@nfeuerstein this is no longer an issue. I think i just forgot to close it when it was fixed.

[2017-06-22 14:24] #383 closed

[2017-06-22 18:01] topowright commented on #401
@kgonzago This is my mistake. I updated to a newer build and things were fine. I thought i closed this issue. my mistake.

[2017-06-22 18:01] #401 closed

[2017-06-23 19:33] #398 closed

[2017-06-26 08:20] adgiles opened #403 "Ambiguous Coordinates dialog box showing for coordinates that are not ambiguous"
**Background**
As users enter coordinates we want to support those coordinates when they enter the coordinates in either lat long or long lat. Currently this is offered, but the dialog comes up on coordinate types that it should not be present for.

**Current state**
When adding a coordinate to the output list the Ambiguous Coordinates window comes up no matter what type of input coordinate is in

[2017-06-26 08:24] adgiles opened #404 "Manual inputs are not added to the Batch Conversion List"
If you manually enter coordinates through the input field they do not get added to the list. I would expect the list to behave the same way for manual entry as it does for Map Point Tool.

[2017-06-26 08:35] adgiles opened #405 "Edit output coordinate box - Sample Sample"
When you edit the output coordinate the dialog has the words Sample Sample. Should the second sample be replaced with an example of the notation you are setting up?

![capture](https://user-images.githubusercontent.com/3740334/27530893-67aeb866-5a0f-11e7-81e9-33e1d1c4b23f.PNG)

So for example if I was setting up MGRS with a custom notation of Z S X 00000 Y 00000 then the dialog should show, someth

[2017-06-26 09:03] adgiles opened #406 "Column heading error when exporting to .csv"
#### Tasks to be done June 6th 2018
- [x] Verify CMS issues addressed in CC and MT

----------------
If you export the list to a csv file then try to import the same csv file back in the column heading shows up in the tool dialog as sep=,

![capture](https://user-images.githubusercontent.com/3740334/27531828-e7881e94-5a12-11e7-9545-d8ed28669143.PNG)

heading in the csv file when opened in excel:

[2017-06-26 09:10] adgiles opened #407 "Importing an open .csv file causes application to crash"
#### Tasks to be done June 6th 2018
- [x] Verify CMS issues addressed in CC and MT
-----------------------

**Background:**

Users at times need to be able to import and export files such as tables into ArcGIS Pro with the file already opened by another application.

**Current State:**
If you have a csv file open in excel and try to import the same file into ArcMap or ArcGIS Pro the application cr

[2017-06-26 09:35] adgiles opened #408 "Exporting to CSV to KMZ locks that as your file type option until restarting session"
#### Background
If you try and export your list to CSV or KML the first export works correctly. If you then try and export the list again using the other file type (i.e. KML first then CSV or CSV first then KML) the file type filter remains on the first file type.

ArcMap 10.6.1 MT build 48

#### Steps to reproduce:

1. Add points into the output list of the coordinate conversion tool
2. Export th

[2017-06-26 09:49] adgiles opened #409 "Export to KMZ"
- [ ] Change the output type in the UI to reflect KMZ

### Original Message:
The dialog box says export to KML but the resulting file is actually a KMZ (a zipped KML file). Either the tool should be export to KMZ or the file created should be a KML

[2017-06-26 09:57] adgiles opened #410 "UTM using incorrect zone identifier"
If you expand the coordinate parts for a UTM coordinate the Zone is using the UTM Hemisphere Band (N or S) not the UTM Band:

![capture](https://user-images.githubusercontent.com/3740334/27534187-050832da-5a1b-11e7-9da3-d53fe5d828a0.PNG)

![capture](https://user-images.githubusercontent.com/3740334/27534229-20070502-5a1b-11e7-8b35-af609cad3b3c.PNG)

[2017-06-26 10:03] adgiles commented on #345
A limit has been put on the list but the window will still scroll past the bottom of the screen if the outputs are expanded:

![capture](https://user-images.githubusercontent.com/3740334/27534507-0c6cb39c-5a1c-11e7-86d7-256344aa81d1.PNG)

[2017-06-26 17:46] NatalieCampos opened #412 "Flash functionality does not work for imported coordinates"
The flash does not seem to work with coordinates that were imported.  The points highlight but the flashing cross hairs does not occur.  The flash does occur with collected coordinates. To reproduce:

1.  import coordinates from csv
2. select a coordinate from the list
3. right click and flash
4.  the coordinate will highlight green but the flash will not occur

[2017-06-26 21:00] dfoll commented on #405
verified fixed in build 1612

[2017-06-26 21:00] #405 closed

[2017-06-26 21:10] dfoll commented on #406
I am getting a crash when I am getting a crash when I try to verify this.

[2017-06-26 21:17] dfoll opened #413 "Crash upon importing a previously created .csv file - ArcMap"
1. Create some points in the map to populate the batch conversion list.
2. Export to a .csv
3. Clear all graphics
4. Import the .csv created in step 2
*crash*

I'm fairly certain it is not import functionality that is broken, because the cities.csv file in the attached folder still imports ok. I don't know what might be going on behind the scenes though when the .csv is created now, that is causin

[2017-06-26 21:17] dfoll commented on #413
found this while trying to verify #406

[2017-06-26 21:21] lfunkhouser commented on #412
This will need to be logged as a known issue. Adding the `Known Issue` and `Affects Documentation` labels. Assigning to @NatalieCampos and @dfoll to document.

[2017-06-26 22:01] dfoll commented on #413
@lfunkhouser @nfeuerstein @kgonzago my vote is that #406 stays in and there is a known issue that when you want to do an import, your .csv must have two or more fields, and in the future the tools gets enhanced to deal with a .csv that only has one field, or the tool intelligently adds a field to the output in addition to the actual coordinates, that is not intrusive to the user .... of course thi

[2017-06-27 09:37] adgiles commented on #413
Same issue happening in Pro 2.0

[2017-06-27 16:21] NatalieCampos opened #415 "add build number to add in similar to ArcMap"
It would be useful for the add in to have the build number associated with it similar to ArcMap.  This will help ensure we know what build number we are testing or what build we found the issues in.

This is the about ArcGIS Desktop dialog.  It contains the build number 6491.
![image](https://user-images.githubusercontent.com/5116835/27596508-98b06a26-5b14-11e7-8ef3-d69c44eea936.png)
Adding the bu

[2017-06-27 18:05] dfoll commented on #406
verified. extraneous "sep=." column name is no longer showing up

[2017-06-27 18:10] dfoll commented on #413
verified with build 1614 in Pro and ArcMap.

[2017-06-27 18:10] #413 closed

[2017-06-27 20:14] lfunkhouser commented on #412
@NatalieCampos Please update this issue with what has been done.

[2017-06-27 20:19] dfoll opened #416 "Exporting to .kml crashes Pro"
Try exporting to KML and you get a crash, using the repro steps below, you can see that it is specifically exporting to KML that causes the crash

1. Open Coordinate Conversion
2. Collect some points with map point tool, have not noticed that the count actually matters
3. Click Export
4. Use the CSV radio button
5. Name it and click OK
(with the same points still in the batch conversion list)
6. C

[2017-06-27 20:23] NatalieCampos commented on #412
The following statement was added to the CC Known issues for ArcMap.

" Using the Flash option on imported coordinates does not work.  "

[2017-06-27 20:24] dfoll commented on #408
just a small update to add a little more to this.... the only way out of this is to close out your arcmap session. also, it seems that exporting to feature class/shapefile is not affected by this.

[2017-06-27 20:29] dfoll commented on #416
this may be related to #408 but the behavior is different in ArcMap, in arcmap you just get stuck with the file type being stuck on either .kmz or .csv

[2017-06-27 20:57] NatalieCampos commented on #416
unable to reproduce this bug following @dfoll 's steps.

[2017-06-27 21:21] NatalieCampos commented on #408
also seen in 10.4.1

[2017-06-27 22:26] dfoll commented on #416
could not reproduce with build 1615

[2017-06-27 22:27] #416 closed

[2017-07-05 22:12] topowright opened #421 "ArcGIS Pro crashes when inputting information"
ArcGIS Pro crashes when inputting coordinates with text after inputting points on the map with the map point tool:

Ways to replicate:
1. Drop point on the map by using the map point tool
2. paste in the following coordinate:  39.446556, -76.085299

Result: ArcGIS Pro will fail
@lfunkhouser @nfeuerstein

[2017-07-05 22:23] topowright commented on #421
Not all coordinates are created the same. These coordinates work:
36° 40' 37.2"N 116° 35' 27.12"W
11SNA3655659119

[2017-07-06 18:19] dfoll commented on #406
I verified this was fixed when it was first an issue, something has happened that it has been reintroduced

[2017-07-06 18:23] kgonzago commented on #406
@dfoll Which build are you testing with?

[2017-07-24 18:54] topowright opened #422 "User control of symbol"
While speaking to a user at Esri UC 2017 there was a request to allow a user to control the symbol that is placed on the map when a user selects a location from the map.

[2017-08-11 15:17] BobBooth opened #423 "No feedback why coordinate in common format is invalid"
I added a coordinate of Pyonyang, NK (39.0392° N, 125.7625° E) pasted from Google search.
Got "Please Enter Valid Coordinate" error.
This should probably be an expected input format...
![image](https://user-images.githubusercontent.com/3801392/29219399-ea0abc7a-7e85-11e7-99ed-e549c96cb008.png)
No feedback in message about what is wrong with the coordinate.
By trial and error, determined that these

[2017-08-11 15:27] BobBooth opened #424 "Pro crashes when clicking "Add" button on Coordinate Conversion pane after searching for location"
Copy/paste this coordinate into the Coordinate Conversion input box:
39.0392N, 125.7625E
Hit Enter.
I'm zoomed to this location, I see it flash on screen.
Hit Add button.
Pro crashes.
![image](https://user-images.githubusercontent.com/3801392/29220074-feb6d68e-7e87-11e7-84b8-1d75e066066a.png)

ArcGIS Pro 2.0
Military Tools Add-In 2.0 version
(ArcGIS Pro 2.0, add-in downloaded from Solutions page,

[2017-09-07 15:44] NatalieCampos commented on #404
Additionally, if coordinates are pasted into the input field the do not apear in the List.  This was tested in ArcMap 10.3.1

[2017-09-07 16:10] dfoll commented on #404
edited the issue title, for clarification, manual entry could be either typing, or copy/paste

[2017-09-07 16:11] NatalieCampos commented on #421
I am unable to verify this bug. I followed @topowright 's reproduction step and used his coordiantes.  Pro 1.4 does not crash.  Closing issue.

[2017-09-07 16:11] #421 closed

[2017-09-07 16:23] mcalamito commented on #348
@dfoll agree with you completely. It is of huge value to have the Output List reflect the coordinate format and notation set by the user. I would be interested and open to talking through approaches to do so should this become a high priority item for a near future release.

[2017-09-07 16:30] dfoll commented on #94
@lfunkhouser @nfeuerstein I'm closing this. Coordinate Conversion currently maintains focus and allows for the collection of multiple points until the user makes a deliberate decision to enable another tool.

[2017-09-07 16:30] #94 closed

[2017-09-07 17:12] NatalieCampos commented on #406
This is not seen in ArcMap see screen grab below.
![image](https://user-images.githubusercontent.com/5116835/30175824-fe64575a-93b4-11e7-9391-ec0c1dbcd2a2.png)

However is seen in Pro see screen grab below.

![image](https://user-images.githubusercontent.com/5116835/30175855-1831b042-93b5-11e7-9d8a-71dc58d51430.png)

[2017-09-07 17:15] NatalieCampos commented on #403
This was seen in both ArcMap and Pro

[2017-09-07 17:22] NatalieCampos opened #425 "List dialog should extent to full panel"
This issue is based on @ACueva enhancement request that the List extend to the bottom of the pane (without blocking the Clear All/Import/Export buttons).  See screen graphic below.

![image](https://user-images.githubusercontent.com/5116835/30176157-4a77e840-93b6-11e7-9bd8-ff3babc3aa6a.png)

[2017-09-07 17:22] NatalieCampos commented on #346
As seen in @ACueva  comment, the original issue has been fixed.  In regards to @ACueva comment about extening the list dialog, that has been placed in the enhancement request below.

https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/425

Closing issue.

[2017-09-07 17:22] #346 closed

[2017-09-07 17:30] NatalieCampos commented on #262
When @elinz coordinates example are put into ArcMap, no point is dropped and the cursor zooms off the basemap into white space.

When the same coordinates are put into Pro 1.4, the invalid coordinate dialog is given.

[2017-09-07 18:46] NatalieCampos commented on #424
Test this on 9/7/ unable to reproduce this bug.  Closing Issue.

[2017-09-07 18:46] #424 closed

[2017-09-07 19:02] NatalieCampos commented on #423
The coordinates ( 39.0392° N, 125.7625° E) are not valid because there is a space between the fraction of degree mark and the Lat/Long.  Removal of the space makes these valid coordinates.  See the Supported format guide.

http://solutionsdev.arcgis.com/defense/help/coordinate-conversion/arcgis-pro/supported-notation-formats.htm

Closing issue.

[2017-09-07 19:09] NatalieCampos commented on #423
Though upon further testing, the same format (39.0392° N, 125.7625° E) seems to be a valid format for Distance and Direction.

@nfeuerstein @lfunkhouser should both DD and CC accept the same coordinate variation?  As is written for CC this issue is based on user error based on the supported format documentation.  Maybe this is an enhancement request.

[2017-09-07 19:15] NatalieCampos commented on #408
Not seen in ArcGIS Pro

[2017-09-07 19:22] NatalieCampos commented on #255
@elinz unable to reproduce on the most current release of CC single addin.  I pasted (45 300s|100 30.0w) into the Input coordinate box.  And I get the Invalid Coordinate box dialog.  Does getting the Invalid Coordinate dialog solve the original issue of auto correcting invalid coordinates?  If so please close the issue.

[2017-09-07 20:22] dfoll commented on #254
if this is the generally accepted way of dealing with "invalid" coordinates, does this really belong as an issue

[2017-09-07 20:26] elinz commented on #255
@NatalieCampos I would test other invalid coordinate values. The particular value that I used had an invalid minute value. You should test other invalid coordinate components as well. For example, test invalid lat and longitude degree value, lat and longitude minute value, and lat and long seconds value. We need to make sure that there are unit tests created with this invalid values to make sure t

[2017-09-08 15:10] BobBooth commented on #423
It would make sense to accept this format if Google is handing it out by default...
![image](https://user-images.githubusercontent.com/3801392/30218089-1f1e9e3e-9486-11e7-954a-96a2fd1e7cb4.png)

Also, it would be nice if the CC tool could provide feedback on why the coordinate isn't being parsed.

[2017-09-11 17:53] topowright opened #426 "Coordinate Conversion - User should be able to select a point on the map and have the point highlight in the list"
https://github.com/Esri/solutions-webappbuilder-widgets/issues/880
This is an issue that was documented by @dfoll in the widget, but I think it should live in the add-in. This also might not be an issue anymore.

[2017-09-11 18:03] adgiles commented on #426
@topowright there is no coordinate list for batch conversion in the widget

[2017-09-26 16:22] BobBooth commented on #423
![image](https://user-images.githubusercontent.com/3801392/30871519-27e8f4b4-a2b5-11e7-921a-c61c0aa941ac.png)
If we can parse space-delimited DMS, it seems strange not to be able to parse this case.

[2017-09-26 18:31] BobBooth opened #427 "Opening saved MXD with CC stand-alone add-in installed and CC open causes crash"
Install the stand-alone Coordinate Conversion add-in on ArcGIS 10.6 (build 8184).
Open the add-in in ArcMap, so the Coordinate Conversion window is open.
Save the map as a MXD.
Close ArcMap.
Open the MXD by double-clicking it.
ArcMap crashes.
![image](https://user-images.githubusercontent.com/3801392/30877233-1766d1ee-a2c7-11e7-835f-b7c8e4445bc6.png)
Open ArcMap to a new blank map.
ArcMap opens fi

[2017-09-26 18:34] BobBooth commented on #427
Oops. Looks like this is a duplicate of
https://github.com/ArcGIS/solutions-defense/issues/424

[2017-09-27 14:56] csmoore opened #428 "Output List Flash Menu Item does not flash at Pro 2.1"
Testing on Pro 2.1, selecting the Flash pop-up menu command from the Output List does not flash the coordinate marker on the map.

Repro steps:

1. Add some coordinates to the Output List using the Map Point Tool
2. Select a coordinate from the Output List.
3. Right-click and execute the Flash pop-up menu command
4. No map flash

![image](https://user-images.githubusercontent.com/3090809/30920476-

[2017-09-27 15:07] BobBooth commented on #427
Also, for what it is worth, it is the Coordinate Conversion part that seems to be causing the crash. I can open maps with the Distance and Direction stand alone add-in installed and the window open just fine, but the same map, if I open CC will crash next time I open it.

[2017-09-27 15:26] csmoore opened #429 "Renaming Coordinate Name does not update Edit Properties list"
Renaming Coordinate Name does not update the coordinate names shown in the Edit Properties list. So there does not seem to be a way to make the output list follow the renamed/custom format

*Not sure if this is an issue or not, but running through the exact sequence in the certification tests, noticed this issue. Feel free to close if this is by design*

Repro steps:

1. Right-click on an output c

[2017-09-27 15:41] BobBooth commented on #428
This is a Pro-specific problem, works in ArcMap.

[2017-09-27 16:19] BobBooth commented on #429
@csmoore - isn't the list controlled by the Input coordinate format, not the Output format?
It would be nice to be able to make the default Input format match a customized output format.

[2017-09-27 18:52] csmoore commented on #429
@BobBooth - sounds good to me (that the input format has to be in one of those fixed formats) - so probably just a misunderstanding on my part. Closing

[2017-09-27 18:52] #429 closed

[2017-09-29 17:02] BobBooth opened #430 "Export coordinate list to CSV could add comma separator between Lat/Lon values on export, and header"
Currently, when I export a CSV of the list of clicked locations, I get a file with rows for each value in the list.
For example:
sep=,
Coordinates
41.407694N 084.423753W
41.585715N 083.853322W
41.086025N 083.282890W
40.762774N 082.855067W
40.906636N 082.403475W
41.229185N 082.142028W
41.407694N 081.666668W

It might be more helpful to users if we offered the option to export to CSV with the compon

[2017-09-29 17:53] BobBooth opened #431 "Reversed (Lon/Lat) coordinate input not accepted by Distance Direction starting point box"
While checklist testing the coordinate conversion tool, I used this test pair:
20.82S 45.47E and 45.47E 20.82S.
The second of these (45.47E 20.82) is rejected by the input box of the Distance and Direction Line tool.
![image](https://user-images.githubusercontent.com/3801392/31028346-888d8d4e-a51b-11e7-81af-a20749a969e4.png)
Shouldn't the same code from CC work in this input box?

Testing with Arc

[2017-10-03 17:19] lfunkhouser opened #432 "Transfer labels"
_From @lfunkhouser on October 3, 2017 17:1_

_From @lfunkhouser on October 3, 2017 17:0_

_From @lfunkhouser on October 3, 2017 16:48_

_From @lfunkhouser on October 2, 2017 15:24_

This issue is used to transfer issues to another repo

_Copied from original issue: Esri/solutions-grg-widget#119_

_Copied from original issue: Esri/solutions-geoevent-java#79_

_Copied from original issue: Esri/milit

[2017-10-03 17:19] lfunkhouser commented on #432
This issue was moved to ArcGIS/solutions-erg-widget#8

[2017-10-03 17:19] lfunkhouser commented on #432
This issue was moved to Esri/solutions-geoevent-java#78

[2017-10-03 17:20] lfunkhouser commented on #432
This issue was moved to Esri/distance-direction-addin-dotnet#455

[2017-10-03 17:20] #432 closed

[2017-10-05 19:01] #423 closed

[2017-10-05 19:04] #425 closed

[2017-10-05 19:23] jmccausland opened #436 "Static Code Analyzer : Null Dereference"
### Tasks to be done July 16 2018
- [x] verify SCA issues are no longer present when component and MT is built (IN JENKINS) - @acueva @topowright @dfoll
- [x] Verify component and MT works after code changes using the checklist tests that are present
    - [x] ArcMap
        - [x] component 10.6.1 - @acueva
        - [x] component 10.5.1 - @acueva
        - [x] component 10.4.1 - @acueva
        -

[2017-10-05 19:33] jmccausland opened #437 "Static Code Analyzer : Error Handling : Overly Broad Catch"
- update code to only handle known exceptions
- let the rest bubble up, remove catch(Exception ex)

[2017-10-05 19:35] jmccausland opened #438 "Static Code Analyzer : Empty Catch Block"
- remove try/catch or comment if needed but does nothing

[2017-10-05 19:37] jmccausland opened #439 "Static Code Analyzer : Logging Practice with use of system output stream"
- remove outputs or wrap with
```#if DEBUG ```
```#endif```

[2017-10-05 19:39] jmccausland opened #440 "Static Code Analyzer : System Information Leak"
- these are all Console.Writeline calls, should be removed or marked for DEBUG only
```#if DEBUG```
```#endif```

[2017-10-05 19:42] jmccausland opened #441 "Static Code Analyzer : File Separator"
- change "\\" to Path.DirectorySeparatorChar

[2017-10-05 19:46] jmccausland opened #442 "Static Code Analyzer : Dead code"
- remove or ignore

[2017-10-05 19:49] jmccausland opened #443 "Static Code Analyzer : Streams"
- fix with using() statement

```using( var fs = new Stream())```
```{```
```    // do something```
```}```

[2017-10-05 19:51] jmccausland opened #444 "Static Code Analyzer : Missing check against null"
- add null checks

[2017-10-05 19:57] jmccausland opened #445 "Static Code Analyzer : Missing [Serializable] Attribute"
- add class attribute [Serializable] to SerializableDictionary.cs

[2017-10-05 22:19] topowright opened #446 "Build Numbers added to the add-in splash screen"
https://github.com/ArcGIS/defense-solutions-jenkins/issues/70

@jmccausland is it possible for us to do this for each add-in?

Note from orginal issue captured by @NatalieCampos :

It would be useful for the add in to have the build number associated with it similar to ArcMap. This will help ensure we know what build number we are testing or what build we found the issues in.

This is the about Ar

[2017-10-23 19:29] BobBooth opened #448 "Save and load a set of 'favorite' coordinate output formats"
Enable one person to set up a group of coordinate formats used by a specific group of people/for a specific task and save that out (as "favorites" if you will) that other people doing the same job, using the same SOP would be able to load, instead of having to manually set up their machine to have the required formats (and risking having variations from the original).

[2017-10-23 19:36] BobBooth opened #449 "Enhancement - clear custom coordinate formats, reset UI to default"
It might be useful to be able to clear out custom coordinate formats, to reset the UI of the add-in to default (uninstall/reinstall does not seem to do this).
Would need to put the UI for this somewhere a bit out of the way to keep people from accidentally wiping out their coordinate formats.

[2017-10-26 15:02] spatialillusions opened #450 "Automatically detect coordinate format from input"
Was mentioned on twitter that you might be interested in this:
https://twitter.com/joebayles/status/923563796639096834
https://spatialillusions.com/demos/CoordinateParser/index.html

It is contains regular expressions that figures out what kind of coordinates the input is automatically and I have "trained" the patterns on a very large amount of poorly written coordinates. Please let me know if you

[2017-10-26 15:09] joebayles commented on #450
FYI @lfunkhouser @nfeuerstein @dfoll @topowright

[2017-10-26 18:32] BobBooth commented on #406
I'm seeing the  sep=, first line in the CSV file. This also makes the default output tables not work as inputs to the convert coordinates GP tool.

[2017-11-02 23:22] topowright opened #451 "Right Click gives different UTM anwser than add-in pane"
**Background:**
If you right click on a map and use the right click menu context to copy a UTM coordinate it is a different coordinate than what is on the coordinate view pane.

Example:
Coordinate Pane (This is also the coordinate ArcGIS Pro populates with the cursor on the point)
10S 600788 4051011
What is retrieved from the right click
10N 600788 4051026

**Expectation:**

The value in the add-

[2017-11-13 21:24] lfunkhouser commented on #451
@topowright Have you tested this in ArcMap? What version was this tested on in ArcGIS Pro?

[2017-11-13 21:26] lfunkhouser commented on #431
This issue was moved to Esri/distance-direction-addin-dotnet#467

[2017-11-13 21:26] #431 closed

[2017-11-13 21:32] lfunkhouser commented on #427
Closing. Duplicate of #424

[2017-11-14 20:41] csmoore commented on #407
I have not seen this happen with notepad, but definitely with Excel which locks the file - here is one (of many) workaround(s) when this is ready to work on:

[code]

[2017-11-30 15:34] Dbarnes1 opened #455 "Similar Functionality for Right-Click in Core at Pro 2.1"
When you right-click on a coordinate in the map in 2.1, you'll see that Core developed functionality to copy coordinates. In addition, we have our copy coordinate functionality, which further allows you to select which coordinate notation you want, not just the default map units. Is this something we should be concerned with? Did core take our code to do this or did this happen simultaneously? See

[2017-11-30 17:02] joebayles commented on #455
So, can they take this and combine the two? Basically, take the icon, plural, and the ability to click on the Copy Coordinates and get the coordinate for whatever the map's system is from Core, and merge it with the mouse-over menu we developed?

[2017-11-30 18:02] topowright commented on #455
Good catch. I will see if I can get feedback from the core team. I think combining the functionality into one location is easy and key for less confusion. @Dbarnes1 I am not sure if they used our code, but I would think the answer is no.

[2017-11-30 18:42] jmccausland commented on #455
They are just updating the clipboard with the current coordinate readout that appears at the bottom on the map view status bar.

[2017-11-30 23:48] topowright commented on #455
This issue was moved to ArcGIS/solutions-defense#515

[2017-11-30 23:48] #455 closed

[2017-12-01 22:29] topowright opened #457 "Inputting coordinates manually do not populate the list function"
#### Tasks to be done June 6th 2018
- [x] Verify CMS issues addressed in CC and MT
-----------------------
@nfeuerstein found that when a user enters in coordinates via keyboard the location is not populated to the batch list:

![image](https://user-images.githubusercontent.com/5488313/33506250-eb8130fe-d6a3-11e7-8032-c58af4c93e95.png)

The location flashes , but is not added to the list.

[2017-12-05 18:03] csmoore commented on #427
This is still an issue - was requested by @lfunkhouser & @topowright  to re-open and link to https://github.com/Esri/military-tools-desktop-addins/issues/33

[2017-12-05 20:54] csmoore commented on #427
This should be ready to verify from:

`Development\Commercial\DefenseSolutions\12-05-2017_1646\ArcMap\Addins\CoordinateConversion'
`Development`

`Development\Commercial\MilitaryToolsForArcGIS\12-05-2017_1646\ArcMap\Addins`

Note: this is an ArcMap-only issue that seems to occur most often on more recent versions (10.5+)

[2017-12-06 23:59] csmoore commented on #427
Updated version now at: `Development\Commercial\MilitaryToolsForArcGIS\12-06-2017_1649`

[2017-12-07 17:01] BobBooth commented on #427
Tested with 12-06-2017_1649 and ArcMap 10.6 (8319) - not seeing the crash on startup.
@csmoore

[2017-12-11 16:41] topowright opened #459 "Coordinate Conversion Issues"
_From @topowright on December 6, 2017 16:55_

## Context

## Feature ArcMap 10.6

- [ ] The Ambiguous Coordinates Dialog needs a help in the properties dialog not in the pdf or the website help to allow users to understand what this means.
![image](https://user-images.githubusercontent.com/5488313/33673877-d48ca636-da62-11e7-8afa-0c529242a1da.png)

## Possible solution or next step

_Copied from o

[2017-12-11 22:26] topowright commented on #428
@csmoore is there any update on this item? Were you able to get feedback from @jmccausland or was he free to work on this issue with you?

[2017-12-12 00:17] nfeuerstein commented on #457
I don't know what's up but I installed the latest build of 2.1 today (10248), installed the released version of Military Tools 2.0 and now the list is being populated...

![image](https://user-images.githubusercontent.com/4732590/33860640-04cdc7e8-de97-11e7-9a05-ce36fc6b5ed9.png)

[2017-12-12 02:24] topowright commented on #427
Testing this on 8315 and not seeing an issue.

[2017-12-12 02:55] #427 closed

[2017-12-12 13:24] csmoore commented on #428
@topowright - I'll get with @jmccausland today.

The issue is that starting at Pro 2.1 EmbeddableControl's no longer contain a Canvas (this was never public so not sure how we knew it was there to use).

I started a fix at https://github.com/Esri/coordinate-conversion-addin-dotnet/tree/csm/%23428-flash-broke-at-Pro2.1 that just [adds a Canvas to the  control](https://github.com/Esri/coordinate-con

[2017-12-13 16:45] csmoore commented on #428
This is fixed in https://github.com/Esri/coordinate-conversion-addin-dotnet/commit/44c65a4e6375ef102cf6cda3f0deded38104aefb - however this fix only works in Pro 2.1 - because of some possible bugs with EmbeddableControl's and canvases in Pro 2.0 (that seems to be fixed at 2.1) - so we should discuss (at scrum) how to proceed.

If dev branches are moving to Pro 2.1 this won't be an issue, but if yo

[2017-12-14 19:09] csmoore commented on #428
Test pre-built addin added at: https://esri.box.com/s/cqn4no9vlzffj5tve1ad2digwf6knbhn

[2017-12-14 23:50] topowright commented on #450
@spatialillusions this is great. @csmoore could you look at this and see what we would need to do to incorporate this into our offering?

[2017-12-15 00:51] topowright commented on #428
When testing build 10248 i find the following weird behavior. Not sure if this was in previous issues:

Enter in the following location: 36RUU1943417239

When trying to change that coordinate with text input the flash happens in the top corner

[2017-12-15 00:54] topowright commented on #428
Need to find out if this is an issue that was present in ArcGIS Pro 2.0

[2017-12-15 04:22] topowright opened #460 "Unable to "Flash" the last coordinate entered"
Currently we show the last coordinate persisted in the input box; however, if you just wanted to change one or two digits of that coordinate and resubmit to get a new location the flash happens in the top left of the map.

Ways to reproduce:

1. Ensure that the CC Map Point Tool is not enabled (ex. click on Navigate/Explore Tool)
2. Enter in a coordinate (press enter)
3. After that coordinate has

[2017-12-15 04:24] topowright commented on #428
I opened a new issue because I feel like this is a issue that was probably already present. That information is captured in the following issue:
https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/460

[2017-12-15 04:32] topowright opened #461 "Manually inputed text to list does not function properly"
Currently if you enter coordinates manually they do not add to the list. As a user anything that I enter into the input box should add to the list box.

Steps to replicate:
Copy coordinate into the input box- 36RUU1898318280

Nothing will add to the map or the list

[2017-12-15 09:10] topowright opened #462 "Transfer labels"
_From @topowright on December 15, 2017 9:8_

## Context

## Problem, Idea, or Engagement

## Possible solution or next step

_Copied from original issue: ArcGIS/solutions-defense#532_

[2017-12-15 12:13] csmoore commented on #450
@topowright - I am not familiar with this issue or the background conversation - can someone provide more information on the problem/issue perhaps with some examples

Here is the javascript file mentioned above:
[CoordinateParser.js.txt](https://github.com/Esri/coordinate-conversion-addin-dotnet/files/1562608/CoordinateParser.js.txt)

[2017-12-15 16:41] csmoore commented on #461
Is this different from #457 - (except for the bug reported in #460 with the test addin) ?

[2017-12-15 16:46] csmoore commented on #460
This is new at Pro 2.1 with the test addin/fix for #428 - I see what is happening, but not sure how to fix: there is a delay from when the "flash" tool is enabled (overlays have to be associated with active tools) until when the overlay is ready to draw .

Perhaps with the changes for #457 (to make a manually entered coord do the same as a map click coord)- we can just get rid of the "flash" for t

[2017-12-15 17:25] topowright commented on #330
The delete all option needs to come off the right click option.

[2017-12-20 00:36] lfunkhouser commented on #457
Adding steps from @topowright from duplicate issue #461

Currently if you enter coordinates manually they do not add to the list. As a user anything that I enter into the input box should add to the list box.

Steps to replicate:
Copy coordinate into the input box- 36RUU1898318280

Nothing will add to the map or the list

[2017-12-20 00:36] lfunkhouser commented on #461
Closing. Duplicate of #457

[2017-12-20 00:36] #461 closed

[2017-12-20 00:45] lfunkhouser commented on #161
Closing. The collect tab has been removed. Save As is renamed to Export in the Coordinate Conversion tool. The points are added to the Contents, which satisfies the feedback.

Military Tools for ArcGIS 2.0
Pro 2.0

[2017-12-20 00:45] #161 closed

[2017-12-20 00:48] lfunkhouser commented on #239
Closing. Collect tab no longer exists.

[2017-12-20 00:48] #239 closed

[2017-12-20 00:58] lfunkhouser commented on #241
Closing. This functionality exists in Coordinate Conversion List. The Collect tab no longer exists.

Military Tools for ArcGIS 2.0

[2017-12-20 00:58] #241 closed

[2017-12-27 18:13] topowright commented on #400
This issue needs to be looked into further. The dialog box that we are using are being shared across ArcMap and Pro. We need to understand this more.

[2017-12-29 19:35] csmoore commented on #402
Setting overridden styles to use the default resolved a few issues, but most of the larger issues (buttons, window styles) will likely need to be resolved by a redesign:

After changes in branch https://github.com/Esri/coordinate-conversion-addin-dotnet/tree/csm/%23402-pro-dark-theme :

![image](https://user-images.githubusercontent.com/3090809/34445939-54264b3c-eca5-11e7-9df5-07a89630565a.png)

B

[2017-12-29 19:38] csmoore commented on #402
Note: the last comment applies to all of the dark theme issues - https://github.com/Esri/coordinate-conversion-addin-dotnet/issues?q=is%3Aissue+is%3Aopen+label%3A%22F-+Dark+Theme%22

#369, #371, #379 , #400, #402

[2017-12-30 04:22] #462 closed

[2017-12-30 08:00] lfunkhouser commented on #339
This has been implemented. Can this issue be closed @dfoll @ACueva @topowright ?

[2017-12-30 08:26] lfunkhouser commented on #337
@topowright please provide additional information/requirements. What is the expected workflow? What is expected behavior?

[2017-12-31 05:02] topowright commented on #402
Can you merge your code for the input box and the list area @csmoore

[2018-01-02 14:16] csmoore commented on #402
@topowright - PR at https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/463 (note: requires review before can be merged)

[2018-01-02 18:12] topowright commented on #402
changing this issue to only focus on the input box of the input section of the tool

[2018-01-02 18:44] topowright opened #464 "Support dark theme in Output section of Coordinate Conversion Add-in"
**Background:**
The Coordinate Conversion add-in needs to support the dark theme when opening the  properties.

**Steps to replicate:**

1. Open the Coordinate Conversion add-in with Dark Theme in ArcGIS Pro
2. View the output table
3. add a input location in the Coordainte Conversion add-in and expand a output coordinate section

**Current state:**

![image](https://user-images.githubusercontent.

[2018-01-03 01:01] topowright commented on #379
verified:
![image](https://user-images.githubusercontent.com/5488313/34506076-8b4dd968-efde-11e7-94ad-aa3fabd0100d.png)

[2018-01-03 01:01] topowright commented on #369
verified
![image](https://user-images.githubusercontent.com/5488313/34506085-9bfdae28-efde-11e7-9cfd-bcc617aa2ae8.png)

[2018-01-03 01:02] topowright commented on #402
verified :
![image](https://user-images.githubusercontent.com/5488313/34506117-c0b4c800-efde-11e7-8d64-73b79fd7c948.png)

[2018-01-03 17:19] #402 closed

[2018-01-03 17:20] #369 closed

[2018-01-03 17:20] #379 closed

[2018-01-07 20:39] topowright commented on #460
@csmoore Is there something that we can do to fix this using the ArcGIS Pro 2.0 build? Also should we break this into two issues?

[2018-01-08 11:22] csmoore commented on #460
@topowright - not that I know of, the UI/XAML code actually has to be changed for 2.1 since the internal canvas that was used is no longer available. So I don't currently know how to have a solution that works on both pre-2.1, and post-2.1

[2018-01-09 00:14] topowright commented on #464
@lfunkhouser we are not able to finish this item this sprint and we need to re estimate the work being that we do not have a clear path forward.

[2018-01-23 16:54] topowright commented on #348
I do not think that this is needed. If a user is going to need to format the input format type that type can be added to the output list.

[2018-01-23 16:54] topowright commented on #347
I do not think that this is needed. If a user is going to need to format the input format type that type can be added to the output list.

[2018-01-23 18:54] topowright commented on #426
I feel like this issue should be closed. I feel like the ability to flash a coordinate from the list satisfies this requirement, which is what we currently have in the tool.

[2018-01-23 18:55] topowright commented on #412
From my understanding we are going to change the way that we flash a coordinate in ArcGIS Pro 2.2, which means that this issue is no longer valid. @lfunkhouser I feel like this is no longer an issue. @csmoore  do you agree?

[2018-01-23 18:57] topowright commented on #410
This needs to be verified.

[2018-01-23 19:03] csmoore commented on #412
@topowright - changing to highlight(green ring)/pan-to - was mentioned in passing (mainly, so the change would be backward compatible to 2.0) - but I didn't know this was the plan (and I am also about to submit a PR for fix to #428, #460)

[2018-01-23 19:20] csmoore commented on #428
Addressed in #465 - there were a few different problems going on here:

1. The implementation of the Pro SDK tool overlay changed at Pro 2.1 (and we were using an canvas object that was not public to begin with)
2. There were several bugs in how the Map Point tool was being activated generally which were now showing up in the flash since the tool had to be active to show the overlay now (before 2.

[2018-01-23 19:21] csmoore commented on #460
Addressed in #465 - see additional details at: https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/428#issuecomment-359900167

[2018-01-23 19:40] csmoore commented on #412
This seems to be working with changes in #465 to fix #428, #460

[2018-01-23 20:12] topowright commented on #243
I feel like this issue needs to be closed being that we have not heard of a customer not being able to use this format and it is in the documentation. @lfunkhouser  I am moving this to done and tagging it with wont fix.

[2018-01-23 22:06] csmoore opened #466 "Poor performance with large number of collect points in Output List"
If the user adds or imports a large number of points (>200), performance degrades precipitously.

After adding a large number of points, it is also possible to crash if the (1) Map Point Tool is selected, and (2) you click both on the Output List and Map in quick succession.

To repro:

1. Obtain the import csv dataset (with 1000 points) at: https://github.com/Esri/military-tools-geoprocessing-too

[2018-01-24 00:19] #243 closed

[2018-01-24 00:22] #426 closed

[2018-01-25 17:13] topowright commented on #412
Looking into this now

[2018-01-25 17:22] topowright commented on #412
@dfoll and I took a quick look at this. It looks good to us.

[2018-01-25 17:30] topowright commented on #400
This is an issue that could be addressed if we built the ArcGIS Pro project separate from the ArcMap Project.

[2018-01-25 17:33] topowright commented on #251
Part of this issue has been addressed. the second portion of this issue has been addressed by Now having X Field and Y Filed.

![image](https://user-images.githubusercontent.com/5488313/35402908-cbf3dc16-01b2-11e8-881a-12a3757ac9db.png)

[2018-01-25 17:34] topowright commented on #251
The first portion of this issue should be addressed in its own issue. Going to log a new issue once I verify that the issue has not already been logged.

[2018-01-25 17:41] topowright commented on #466
I see the same behavior.

[2018-01-25 17:44] topowright commented on #339
Closing this issue.

[2018-01-25 17:44] #339 closed

[2018-01-25 17:46] topowright commented on #345
This has been verified :
![image](https://user-images.githubusercontent.com/5488313/35403442-938ec87a-01b4-11e8-8b2b-8e31efe404d6.png)

[2018-01-25 17:47] topowright commented on #348
@dfoll  based on my last comment do you think this still needs to be done?

[2018-01-25 17:52] topowright commented on #333
This issue is no longer valid as we have designed the tool and shipped it multiple times with the current configuration.

[2018-01-25 17:54] topowright commented on #409
I spoke to the sales engineers on this and they stated that supporting a KMZ is the right way to go. We just need to change the UI for this.

[2018-01-25 18:04] topowright opened #467 "Removing references to the collect tab"
Currently we have moved away from having two tabs in the Coordinate Conversion add in; however, we still have references to that tab in our code:

Here is an example of some things I have found:
![image](https://user-images.githubusercontent.com/5488313/35404193-f1f26910-01b6-11e8-9e4b-fa6b6e75d00b.png)

We should remove this code that is not needed. If we are still relying on parts of the code fo

[2018-01-25 18:09] topowright commented on #359
I think having the user do the opposite is good enough for now. especially since they have the ability to right click the button and use the context menu to understand the point.

[2018-01-25 18:11] topowright commented on #446
I feel like this has been done; however, what we did was different than what we did for Military Tools. This should be down to the patch level, which it currently is not. This should be a small fix.

[2018-01-25 18:12] topowright commented on #459
This is something that we have decided not to do. Instead for all the add-ins help will be in the pdf.

[2018-01-25 18:13] topowright commented on #459
This can be closed.

[2018-01-25 18:13] #459 closed

[2018-01-25 18:16] topowright commented on #318
A user can currently use the map point tool and with snapping on it will collect that feature. I am almost certain this was a issue that was addressed with allowing the constant collection of points with the map point tool.

![image](https://user-images.githubusercontent.com/5488313/35404729-d6ee0604-01b8-11e8-837e-3809e311ffe0.png)

[2018-01-25 18:17] #318 closed

[2018-01-25 18:18] topowright commented on #393
I think this is just a bit of a different workflow than the other add-ins. I think this should be closed with as designed.

[2018-01-25 18:19] adgiles commented on #345
@topowight have you checked this with all the outputs expanded?

[2018-01-25 18:24] topowright commented on #253
Looking at this issue in ArcGIS Pro 2.1 there does not still seem to be the issue. using the coordinates from issue #158 I do not see the presence of the rounding issue. I feel like this can be closed. @dfoll @ACueva  can either of you verify this as well?

[2018-01-25 23:58] lfunkhouser commented on #412
@topowright has the documentation been updated to remove this known issue from the release notes?

[2018-01-25 23:58] topowright commented on #410
@kgonzago @jmccausland   I do not see anything showing the user to pick utm zone  band or hemi based on output. Can someone help me with this?

[2018-01-26 07:12] topowright opened #468 "Support for custom DMS format of DD-MM-SS.SS"
Support FAA format by creating a custom configuration
#### Background
Supporting this format thru the use of our configuration options of a DMS coordinate will allow this addin to support the FAA format.

https://community.esri.com/thread/207791-faa-oeaaa-latitudelongitude-coordinates

#### Current State
**Input**
![image](https://user-images.githubusercontent.com/5488313/44541927-54b6d500-a6c0-11

[2018-01-30 05:45] topowright commented on #400
Removing the estimate since it was done based on the last approach.

[2018-01-31 17:00] topowright commented on #252
I am not sure this is still an issue.

[2018-01-31 18:53] topowright commented on #345
To test this correctly you need to expand the output sections and then see if the list expands past the buttons for export and save as.

[2018-01-31 22:35] topowright commented on #345
Looking at this further I feel like it works as desined and we should not change the way the add-in pane is laid out. Here is my screen capture that will help explain my thoughts:
![image](https://user-images.githubusercontent.com/5488313/35651217-c1713726-0693-11e8-8189-acdb9a528a92.png)
Currently I would not expect a user to have all of the coordinate types expanded and want to export points fro

[2018-02-01 17:26] #345 closed

[2018-02-02 17:04] topowright commented on #356
We are going to have a feature that exports to csv fc shapefile and kml with all the coords that are in the output table of the add-in.

[2018-02-02 17:47] #393 closed

[2018-02-02 18:28] kgonzago opened #470 "RegExs from DD Widget applied to all Military Tools add-ins"
- [x] Review RegEx used in ~~Coordinate Conversion~~ Distance and Direction Widget
- Reconfigure each notation's regular expression in the add-in to mirror what's in the widget
  - [x] DD
  - [x] DMS
  - [x] DDM
  - [x] GARS
  - [x] MGRS
  - [x] USNG
  - [x] UTM
- Use test json files from the widget in unit tests in add-in
  - [x] DD
  - [x] DMS
  - [x] DDM
  - [x] GARS
  - [x] MGRS
  - [x] USNG

[2018-02-03 05:30] topowright commented on #412
I have removed the known issues from Coordinate Conversion and Military tools. I have also added the statement to issues addressed for the next release of Coordinate Conversion. @dfoll I am not aware of where this is for Military Tools so I have not updated the issues addressed, but I have removed this from known issues.

[2018-02-03 05:31] topowright commented on #412
@dfoll please help in finishing how to close this issue.

[2018-02-04 15:30] tpcolson opened #471 "Add in certificate expires soon"
The digital signature for the Pro 2.0 version of this add in shows it expires on 10/2018, which means this add in will not be allowed on many corporate installations after that date.

[2018-02-05 15:12] topowright commented on #356
@kgonzago where are we on this task? Can you give an update being that this has been in progress for a couple of days with no comments.

[2018-02-05 15:14] topowright commented on #470
@kgonzago can you give an update on where we are with this task?

[2018-02-05 17:03] kgonzago commented on #470
@topowright combining regex's now. somewhat tedious process.

[2018-02-05 18:09] BobBooth commented on #356
@kgonzago  - not sure what you were thinking about on the export logic, but might simplify things to create an in-memory feature class, then use the feature class to feature class tool, table to table tool (for CSV, or other tabular data formats), and the Layer to KML tool (yeah, you'd have to make a layer first).

[2018-02-06 14:15] kgonzago commented on #356
@BobBooth Thanks for the suggestion. There is pre-existing logic for creating a table with fields. I'll have to simply enhance it to take into account a notation format per field situation.

[2018-02-06 18:52] topowright commented on #333
closing this as invalid.

[2018-02-06 18:52] #333 closed

[2018-02-06 20:03] dfoll commented on #412
documentation changes have been made by @topowright in cms.  This issue can be closed. As part of the release of Military Tools and Coordinate Conversion, all documentation will need to be republished.

[2018-02-06 22:35] #428 closed

[2018-02-06 22:35] #460 closed

[2018-02-06 22:37] #412 closed

[2018-02-07 02:15] kgonzago commented on #470
The use of regex group names in the add-in is tightly coupled with the the logic of parsing coordinates for each notation. This is the same situation for the widget utilizing indexes instead. I recommend we leave them as is for now and work towards a common .net and JS libraries for regexs.

@topowright @lfunkhouser @dfoll @ACueva Whare are your thoughts?

[2018-02-07 21:20] kgonzago commented on #470
After talking with @csmoore, the approach going forward is to compile the CC library dll as a nuget package. The CC nuget package will then be uploaded to the MS nuget repository. Any subsequent changes will be reflected in a newly created CC nuget that will be available in the MS nuget repository. Any developer that wants to enhance any of our add-ins will be required to download via nuget the CC

[2018-02-07 21:58] topowright commented on #470
@kgonzago I am interested in understanding in how we will track this work. Are we able to use this issue as the issue to track the workings on getting the library into Nuget?
 If so does this link identify that process:
https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package-using-visual-studio

If that is the process to get our library into Nuget do we need to do anything e

[2018-02-08 14:41] kgonzago commented on #470
Yes that link you provided is the process for packaging the CC dll. Here are the high-level steps whenever a change is made to CC:
1. Create nuget package in VS
2. Upload to nuget repository (this can be tied into a build event)
3. Internal and externals devs will need to download the latest package using nuget package manager in VS

As for our build process, we can use the nuget api to download,

[2018-02-08 17:06] topowright commented on #470
- [ ] Add coordinate conversion  library as a referance

[2018-02-08 17:09] kgonzago commented on #470
After talking with @csmoore, nuget approach would not work in a classified environment. Pivoted to the approach of adding CC as a project reference. This approach is used for [Military Tools add-ins](https://github.com/Esri/military-tools-desktop-addins).

[2018-02-08 17:10] kgonzago commented on #470
Add CC project reference to there add-ins:
- [ ] MSE
- [ ] D&D
- [ ] VIz

[2018-02-08 21:31] topowright commented on #470
Starting to build MSE with Jenkins

[2018-02-09 16:41] topowright commented on #470
We found an issue with the Jenkins build that calls for a change in the CC library which @kgonzago has figured out and is working on. This took some time, but we now are moving forward.

[2018-02-12 16:23] lfunkhouser commented on #451
Similar to #410

[2018-02-12 16:25] topowright commented on #409
Currently we export to a KMZ, the dialog needs to be changed from KML to KMZ

[2018-02-12 17:01] kgonzago commented on #470
MSE Pro add-in, Viz Pro and ArcMap add-in are complete. Tackling D&D Pro and ArcMap add-in now.

[2018-02-13 00:48] kgonzago commented on #470
Add-ins (Pro and ArcMap) for MSE, Viz, and D&D have been updated to use the Coordinate Conversion library.

[2018-02-13 00:50] kgonzago commented on #470
@topowright I removed the list for Jenkins build since that can be moved into a separate issue.

[2018-02-13 00:51] kgonzago commented on #470
@ACueva @dfoll testing can commence once the build is updated.

[2018-02-13 00:57] kgonzago commented on #470
FYI @topowright

**Update Jenkins Build to pull CC Library for these Add-ins**
- [ ] Distance and Direction
- [ ] Visibility
- [ ] Military Symbol Editor (in progress)

[2018-02-13 16:01] topowright commented on #470
Currently finishing up MSE

[2018-02-13 18:14] topowright commented on #470
Finished working on MSE and moving on to Distance and Direction. @ACueva is working on Visibility.

[2018-02-13 18:15] topowright commented on #470
@BobBooth @ACueva @dfoll MSE can now be tested from the build location on the server.

[2018-02-13 19:50] topowright commented on #470
Distance and Direction has been finished and can be tested for Dark Theme and Reg Ex expressions

[2018-02-13 20:33] topowright commented on #464
We need to make our hover for the Map Point Tool match the rest of ArcGIS Pro:

![image](https://user-images.githubusercontent.com/5488313/36172229-0fe3ac6a-10ba-11e8-90d9-b2dd7bfea39f.png)

[2018-02-13 20:59] topowright commented on #415
I am working on this, but I have started this, but my last build failed.

[2018-02-13 22:06] topowright commented on #415
- [ ] Adding Build Number to the project file
- [ ] Adding the delete staging to the pipeline
- [ ] Add the solution files to the Solutions Defense Repo

[2018-02-14 01:24] lfunkhouser commented on #464
@csmoore Changing course with this issue. I'm going to have CyberTech focus on all Coordinate Conversion to keep it clean. Unassigning you based on no open PRs for updates or comments.

[2018-02-14 01:43] lfunkhouser commented on #470
Updating title of issue.The DD widget RegExs were used because they were more up to date than CC widget RegExs. JSON files were used from the widget to test  CC library.

[2018-02-14 01:52] lfunkhouser commented on #470
This issue was moved to Esri/military-tools-desktop-addins#43

[2018-02-14 01:52] #470 closed

[2018-02-14 11:05] topowright commented on #415
![image](https://user-images.githubusercontent.com/5488313/36201155-ebbeb738-1133-11e8-8f08-43c977c7b6b7.png)

This is completed

[2018-02-14 12:05] topowright commented on #252
This is still an issue:
![image](https://user-images.githubusercontent.com/5488313/36203401-5203eca4-113c-11e8-9646-ed72fb5912a2.png)

[2018-02-14 12:41] csmoore commented on #464
OK - I just opened PR https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/476 with where I got to yesterday. The custom datagrid and child windows remain issues.

Here is how this now looks with this PR:

![image](https://user-images.githubusercontent.com/3090809/36204637-0667cbbc-115a-11e8-8c82-7b63264f23c2.png)

[2018-02-14 14:06] lfunkhouser commented on #464
Great! Thanks @csmoore this gives them a good starting point. @kgonzago, please review and merge if everything looks good.

[2018-02-14 14:10] lfunkhouser commented on #468
@karlterrey Can you follow up with this user on GeoNet if possible to gather any requirements for this format?

[2018-02-14 15:06] karlterrey commented on #468
Will do

[2018-02-14 18:35] kgonzago opened #477 "Default Map Units isn't being parsed appropriately"
`Default Map Units` is currently not an option for parsing. This affects Visibility, Military Symbol Editor and Distance and Direction add-ins. Issues tied to these are:
1. [265](https://github.com/Esri/visibility-addin-dotnet/issues/265)

[2018-02-16 00:15] lfunkhouser commented on #471
Certificates for code signing need to be used (code needs to be signed) while they are valid/before they expire. The expiration date just limits when the certificate is valid for signing, not how long the code will run.

[2018-02-16 07:16] topowright opened #479 "Update target version"
We need to update the target version to be 2.1 based on the version that we are targeting for this release:
![image](https://user-images.githubusercontent.com/5488313/36297211-502d9e5a-12a6-11e8-892d-bc933630f48d.png)

[2018-02-16 15:50] topowright commented on #446
This has been done for ArcGIS Pro

[2018-02-16 15:52] topowright commented on #430
@lfunkhouser can we give this to CyberTech?

[2018-02-16 17:31] #446 closed

[2018-02-21 22:14] #415 closed

[2018-02-23 20:55] karlterrey commented on #468
Customer feedback from Hannah Shepherd at Apex Clean Energy, in VA. hannah.shepherd@apexcleanenergy.com

The FAA has a mandated protocol for locations that are electronically filed with them.
Hannah’s organization is a wind developer and files locations of facilities with the FAA using the FAA’s OEAAA E-Filing system. Specifically they have issues with the DMS format needing to be in DD-MM-SS.SS f

[2018-02-28 23:21] ACueva opened #482 "Update Pro Add-in Installation description"
Current wording looks like this:

![2018-02-28_15-15-32](https://user-images.githubusercontent.com/3093940/36818519-3bc1b23c-1c9a-11e8-9e8d-0d4f61ad3527.png)

Recommended way forward.
Add an "s" to coordinates, or re-word the sentence.

[2018-03-01 00:29] csmoore commented on #482
Updated in PR #482 with Issue #479

[2018-03-01 00:29] csmoore commented on #479
Updated in PR #482 with Issue #482

[2018-03-01 06:43] topowright commented on #400
The first comment in this issue has been updated to reflect the work that we need to be done on this issue. How this work is done is based on the best approach by the developer. @dfoll @ACueva @lfunkhouser please add anything you think needs to be added that I may have missed.

[2018-03-01 06:47] topowright commented on #371
Changing the title of this issue from:
Dark Theme support for issues related to non ArcGIS Pro WPF controls
To :
Add new Output Coordinate Window does not support dark theme

[2018-03-01 06:49] topowright commented on #371
Being that this is a duplicate issue of #464 I am changing this issue to just focus on the window for new output coordinate.

[2018-03-01 06:55] topowright commented on #371
@dfoll @ACueva @lfunkhouser wanted to make sure everyone sees this change.

[2018-03-01 07:01] topowright commented on #464
Changed the name of this from:
Support dark theme in Coordinate Conversion Add-in
To:
Support dark theme in Output section of Coordinate Conversion Add-in

Also, changed the issue to just focus on the Output table of the add-in

[2018-03-01 23:12] ACueva opened #484 "Entering a coordinate in the input box with no map in the project causes a crash"
Environment tested:
Windows 10
ArcGIS Pro 2.2 Build 11658

Steps to reproduce:
1. Open ArcGIS Pro (Do not add a map to the project)
2. Open Coordinate Conversion addin
3. Paste or type the following coordinate in the input box: 39.774975N 105.037314W
4. Observe ArcGIS Pro crash.

#### Expected behavior
Users should be promoted with a statement saying would you like to add a map to allow the tool t

[2018-03-02 17:39] topowright commented on #479
![image](https://user-images.githubusercontent.com/5488313/36913075-963c9a2e-1dfd-11e8-909b-18d2b460d5c0.png)
This has been fixed.

[2018-03-02 20:37] topowright commented on #403
I have updated the first comment of this issue with more informaiton. @adgiles if I have missed something please add to this issue.

[2018-03-02 20:50] topowright commented on #409
switched the estimate on this issue to a one based on the fact that it is us changing a dialog prompt.

[2018-03-08 04:08] topowright commented on #406
Talking to @CTLocalGovTeam they cannot reproduce this.

[2018-03-08 16:00] BobBooth commented on #406
I can repro this Pro 2.1.0, Coordinate Conversion Add-in 4.0.0.14 (3/6/2018).
![image](https://user-images.githubusercontent.com/3801392/37161132-e0d3f296-22bf-11e8-8beb-d11a51152112.png)
@topowright

[2018-03-08 23:18] topowright commented on #406
@BobBooth can you give step by step instructions?

@dfoll and @ACueva I cannot replicate this with the latest build of CC using ArcGIS Pro 2.1. @llsjr2 could you also take a look at this issue?

[2018-03-09 15:24] BobBooth commented on #406
Install the Pro 2.1.0, Coordinate Conversion Add-in 4.0.0.14 (3/6/2018).
Launch Pro.
Start a new project.
Add a map.
Open the add in.
Interactively add some points by clicking on the map.
Optionally, add some output formats.
The points on the list in my case were in Web Mercator.
Export the list to CSV.
Open the CSV file in Notepad++.
view "sep=," first line of file.

[2018-03-09 17:12] dfoll commented on #406
confirmed @BobBooth  repo steps are good. To confirm my comments from above this was at one point tested and I verified, but it found it's way back in somehow

[2018-03-12 16:23] topowright commented on #451
We need to give more clarity on this issue and issue #410

[2018-03-12 16:24] topowright commented on #410
We need to provide clarity on this issue.

[2018-03-21 19:41] dfoll opened #485 "Paste multiple coordinates at one time"
**Background:**
Users have many ways that they receive coordinates. Some come in through chat messages or emails just to list two examples.

**Requested enhancement:**
A user needs to be able to copy coordinates from the clipboard to the list. This list will then be added to the map the same what it happens when a user imports coordinates from a spreadsheet.

**Steps to create workflow:**
Have a l

[2018-03-21 19:42] dfoll commented on #485
@topowright

[2018-03-28 05:01] lfunkhouser commented on #471
@tpcolson thank you for reaching out. I hope our answer helped. Closing this issue.

[2018-03-28 05:01] #471 closed

[2018-03-28 06:32] #479 closed

[2018-03-28 14:40] topowright commented on #181
@lfunkhouser since we have released this add-in I have not heard of anyone using GEOREF. I feel like this issue should be closed.

[2018-03-28 14:40] topowright commented on #180
@lfunkhouser since we have released this add-in I have not heard of anyone using GEOREF. I feel like this issue should be closed.

[2018-03-28 14:47] topowright commented on #168
This issue can be closed as wont fix

[2018-03-28 15:01] CTLocalGovTeam commented on #406
@topowright @BobBooth We see a "sep=," in the CSV, when we export from the tool.

However, when we try to import the same CSV back to the tool, it does show the field name correctly as _Coordinates_ instead of _sep=,_. Please let us know whether you see the same behavior.

We could change code to export CSV without "sep=," if that is the only issue needs to be fixed. Please confirm.

We are seeing

[2018-04-03 19:01] topowright commented on #410
Tested this on build 4 ArcGIS Pro 2.1 and it is no longer an issue.

[2018-04-03 19:04] topowright commented on #451
I can no longer reproduce this issue. Moving this to done to allow it to be shown in the next review.

[2018-04-03 19:05] topowright commented on #400
Verified on ArcGIS Pro 2.1 build 4

[2018-04-03 19:18] topowright commented on #407
Verifed this has now been fixed in our version for ArcGIS Pro 2.1

[2018-04-04 04:40] #168 closed

[2018-04-04 04:41] #180 closed

[2018-04-04 04:41] #181 closed

[2018-04-04 04:49] topowright commented on #251
This issue has been fixed in previous releases. Closing this issue being that it is not an issue.

[2018-04-04 04:49] #251 closed

[2018-04-04 04:59] topowright commented on #484
This enhancement was put in here being that this crash happens if there is not a map in place:
https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/328

[2018-04-04 05:06] topowright commented on #477
I feel like this issue can be closed and is not valid. Visibility had this issue, but I am not sure if any of the other components did or still do. @kgonzago can you clarify if this is still an issue?

[2018-04-04 05:09] topowright commented on #408
This is no longer an issue.

[2018-04-04 16:07] kgonzago commented on #477
This can be closed since visibility add-in now references coordinate conversion library for parsing `Default Units`.

[2018-04-04 16:07] #477 closed

[2018-04-05 00:38] joebayles commented on #168
@topowright
So, I just tried this by adding the names to the custom output:

|Custom Output|Actual Output|
|:---|:---|
|**MGRS** ZSX00000Y00000|MGREF 13TEF5269568108|
|**DMS** A0° B0' C0.0#"N X0° Y0' Z0.0#"E|DMN 41° 15' 45.63"N 104° 22' 15.36"W|
|ZSX00000Y00000 **MGRS**|13TEF5269568108 MGREF|
|A0° B0' C0.0#"N X0° Y0' Z0.0#"E **DMS**|41° 15' 45.63"N 104° 22' 15.36"W DMN|

I'm not sure about the dev

[2018-04-05 01:18] lfunkhouser commented on #408
@topowright Please update what version of ArcMap tested that you were able to validate that this is no longer an issue.

[2018-04-06 13:47] CTLocalGovTeam commented on #466
@topowright While working on this issue, when working with hundreds and thousands of points retaining the list box selections(as well as on map) is degrading performance when we upload another CSV. As per our discussion, we cleared the selection when a user clicks on ImportCSV button. Please confirm.

[2018-04-06 15:54] topowright commented on #485
@CTLocalGovTeam could you give a level of effort for this issue?

[2018-04-09 08:00] lfunkhouser commented on #410
This needs to be removed from the known issues, http://solutions.arcgis.com/defense/help/coordinate-conversion/resources/release-notes.htm before the closing label can be applied. Removing the E-verified label until this is addressed in the documentation.

[2018-04-09 09:38] CTLocalGovTeam commented on #485
@topowright Could you also add information about accepted inputs and validations if any required ?

[2018-04-10 13:51] topowright commented on #403
@CTLocalGovTeam I have updated the first comment in this issue to hopefully provide more clarity.

[2018-04-11 06:35] topowright commented on #371
This has been addressed and verified.

[2018-04-11 06:36] topowright commented on #406
This has been verified and pushed to dev

[2018-04-11 06:37] topowright commented on #464
This has been verified.
![image](https://user-images.githubusercontent.com/5488313/38600192-87768e7c-3d20-11e8-96da-c4b6a3b33fe5.png)

[2018-04-11 06:38] topowright commented on #466
This has been verified.

[2018-04-12 04:03] topowright opened #488 "Support Dark Theme for Import and Export Dialogs"
### Background
Import  and export dialogs for importing coordinates into the list still does not fully support dark theme.

###Current State

**Import Dialog:**
![image](https://user-images.githubusercontent.com/5488313/38655710-6fd22624-3dd3-11e8-9c93-d25f62b489c1.png)

**Export Dialog**
![image](https://user-images.githubusercontent.com/5488313/38655767-b6faad28-3dd3-11e8-9808-20bb70f1c8b4.png)

[2018-04-12 05:34] topowright commented on #485
**Best result if possible:**

To have the add-in read the format automatically so the user would not have to any other action other than pasting in the coordinate.

The system should be able to understand that there is a space, comma, or any of the other separators in the coordinate that are supported by the addin.
![image](https://user-images.githubusercontent.com/5488313/38658116-eab8824a-3de0-1

[2018-04-17 22:33] lfunkhouser commented on #407
@topowright This issue still has the task labels on it - This issue still requires a doc update and should not be "Done" http://solutions.arcgis.com/defense/help/coordinate-conversion/resources/release-notes.htm

[2018-04-20 12:36] topowright opened #490 "Support Dark Theme within the Ambigous Coordinate dialog"
### Ambiguous Coordinate dialog
![image](https://user-images.githubusercontent.com/5488313/39051145-6cea8780-446d-11e8-8e52-2d3441019562.png)

### Expected Results
The expected results are full support for dark theme for both the import and export dialogues. They would be similar to this:

![image](https://user-images.githubusercontent.com/5488313/39051166-7f3f46c8-446d-11e8-9990-d1a9d994a34f.png)

[2018-04-20 12:37] topowright commented on #488
removing ambiguous coordinate dialog from this issue being that there is a lot of code change that will need to happen to allow this dialog to support dark theme

[2018-04-21 14:18] topowright opened #491 "Export all coordinate types from the output section to CSV"
#### Goal
The coordinate conversion output list needs to write all outputted coordinates from the list to given file type. In that file type the output coordinate section will drive the information captured in the attribute list. The formatting chosen by the user must be preserved in the output file.

#### Reality - Current State
The output only grabs the coordinates that are in the list not the f

[2018-04-21 14:19] topowright opened #492 "Export all coordinate types from the output section to feature class"
#### Goal
The coordinate conversion output list needs to write all outputted coordinates from the list to given file type. In that file type the output coordinate section will drive the information captured in the attribute list. The formatting chosen by the user must be preserved in the output file.

#### Reality - Current State
The output only grabs the coordinates that are in the list not the f

[2018-04-21 14:20] topowright opened #493 "Export all coordinate types from the output section to Shapefile"
#### Goal
The coordinate conversion output list needs to write all outputted coordinates from the list to given file type. In that file type the output coordinate section will drive the information captured in the attribute list. The formatting chosen by the user must be preserved in the output file.

#### Reality - Current State
The output only grabs the coordinates that are in the list not the f

[2018-04-21 14:34] topowright commented on #356
These issues that have been broken down into smaller issues have been added as a dependency to this issue closing. @lfunkhouser I would like to make this issue a Epic, but I am not sure how to do so.

[2018-04-25 07:26] CTLocalGovTeam commented on #491
@topowright As per our conversation yesterday, all the output formats are exported as single column in the exported CSV. Instead of DD, DDLat, DDLon, the CSV would contain a single column DD (name as mentioned in the output section of the add-in).

[2018-04-30 12:38] CTLocalGovTeam commented on #430
@topowright As per our understanding, this issue is not valid anymore considering the implementation of #356, #491.
So, not adding this to list of tickets for estimation. Please confirm

[2018-05-01 14:27] topowright commented on #430
Agreed. This issue can be closed based on the fixes that have been submitted in #491. The latest PR needs to be reviewed and then this issue can be closed.

[2018-05-01 14:28] topowright commented on #430
@lfunkhouser @dfoll @ACueva

[2018-05-01 14:31] topowright commented on #409
Based on speaking with @ScottCecilio and @jfrygeo they stated that KMZ or KML does not matter. We can keeps this KMZ and just update the UI

[2018-05-01 14:31] topowright opened #495 "Export all coordinate types from the output section to KMZ"
#### Goal
The coordinate conversion output list needs to write all outputted coordinates from the list to given file type. In that file type the output coordinate section will drive the information captured in the attribute list. The formatting chosen by the user must be preserved in the output file.

#### Reality - Current State
The output only grabs the coordinates that are in the list not the f

[2018-05-01 14:33] topowright commented on #356
Adding KMZ to the format list by connecting issue: https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/495

[2018-05-01 15:48] topowright commented on #490
@CTLocalGovTeam the way forward that you shared on this issue has been approved by @lfunkhouser. Can you please provide detailed comments in the code on where we are duplicating the code to support Dark Theme in ArcGIS Pro and ArcMap

[2018-05-07 17:50] lfunkhouser opened #496 "Military Symbol Editor fails to compile after Coordinate Conversion changes"
_From @ACueva on May 3, 2018 22:22_

### Environment:
Dev branches from GitHub
Compiling on Pro 2.1 Final
Visual Studio 2015 Update 3

The changes here:
https://github.com/Esri/coordinate-conversion-addin-dotnet/commit/e44bd192a7892853b547679e42cad678d81ecdd7

have caused our Military Tools and Military Symbol Editor builds to fail as shown here:

[code]

These error messages appeared when running

[2018-05-07 17:50] lfunkhouser commented on #496
Team, why is a change in the Coordinate Conversion add-in only affecting Military Symbol Editor?

[2018-05-07 17:50] lfunkhouser commented on #496
_From @csmoore on May 7, 2018 17:35_

Good question - I suspect the difference is that since the Military Symbol Editor was (1) Pro-only (2) Used Lines/Multipoints and (3) pre-dated this change, it passed around Pro Map Points internally where the others were ArcMap/Pro so used text strings.

The CC code could have been written/changed to not change the public interface and require changes everywh

[2018-05-07 17:50] lfunkhouser commented on #496
Thanks @csmoore. I'm moving this issue to the Coordinate Conversion repo since that is where the update to the code needs to happen.

[2018-05-09 11:04] topowright commented on #496
@csmoore @lfunkhouser Talking with @CTLocalGovTeam today they are going to take your recommendation above and make it optional. Once that change is in hopefully today or tomorrow we can see if that fixes the issues with Military Symbol Editor.

[2018-05-09 14:27] #451 closed

[2018-05-10 16:04] topowright commented on #496
This is no longer an issue based on the commit listed above. This can be closed.

[2018-05-15 17:01] #400 closed

[2018-05-15 17:03] #466 closed

[2018-05-15 17:04] #464 closed

[2018-05-15 17:05] #496 closed

[2018-05-16 01:08] lfunkhouser commented on #457
Issue #404 was closed as a duplicate. The CMS needs to be updated to remove this issue from the Known Issues and add to the Issues Addressed in the release notes.

[2018-05-16 01:08] lfunkhouser commented on #404
Closing. This is a duplicate of #457.

[2018-05-16 01:08] #404 closed

[2018-05-16 01:13] lfunkhouser commented on #356
Converted to Epic. Associated the 4 individual issues to this Epic.

[2018-05-16 01:16] lfunkhouser commented on #430
Closing. This issue is no longer valid based on #491.

[2018-05-16 01:16] #430 closed

[2018-06-06 20:04] BobBooth commented on #406
Added item to table in Military Tools June 2018 topic in CMS.
Removing Doc(CMS) tag.

[2018-06-06 22:49] #488 closed

[2018-06-06 22:51] #409 closed

[2018-06-06 23:00] lfunkhouser commented on #491
The feature enhancement will be added to the doc. It will include exporting to feature class #492, shapefile #493 , and kmz #495 in addition to csv.

[2018-06-06 23:01] lfunkhouser commented on #492
Feature enhancement added to documentation through #491

[2018-06-06 23:01] #492 closed

[2018-06-11 18:43] dfoll commented on #485
- added to Defense What's New page under Coordinate Conversion June 2018 release
- added to Coordinate Conversion June 2018 release page
- added to the Military Tools June 2018 release page

[2018-06-11 21:00] dfoll opened #499 "Pasting a list that has an empty row results in the coordinate prior to the empty row being duplicated."
## Current Behavior
When pasting a list in the the Coordinate Conversion List box, empty "rows" are treated as a valid piece of data and read by the add-in, what the add-in does with that empty row is to duplicate the last valid coordinate it was given.

## Expected Behavior
The add-in completely skips an empty row as if nothing was there.

## Repro Steps
1.  Using the attached text document, sele

[2018-06-11 21:15] dfoll commented on #499
@lfunkhouser @topowright I left labels and other "metadata" off of this intentionally because the CC stuff has been sort of managed away from the team, and I don't want to break whatever system might be in place without me being aware

[2018-06-13 14:21] #491 closed

[2018-06-13 14:21] #457 closed

[2018-06-13 14:21] #371 closed

[2018-06-13 14:21] #407 closed

[2018-06-13 14:21] #406 closed

[2018-06-13 14:21] #485 closed

[2018-06-20 01:47] lfunkhouser commented on #467
@topowright Has this been addressed by @CTLocalGovTeam?

[2018-06-20 16:44] BobBooth commented on #410
NGA has a caution:
"...
CAUTION: IN MANY SYSTEMS, THE LETTER AFTER THE ZONE NUMBER DESIGNATES A LATITUDINAL BAND, NOT A HEMISPHERE.
..."
http://earth-info.nga.mil/GandG/coordsys/grids/utm.html
That indicates to me that NGA has a preference for Hemisphere Zone, not a Latitudinal Band method.

[2018-06-20 18:32] topowright commented on #408
This has been added to the known issues section. This needs to be moved out of this release.

[2018-06-20 18:54] ACueva commented on #482
Adding Dev-Jenkins label as Coordinate Conversion build needs to be updated to pick up updated folder structure and location of files.

[2018-06-20 18:59] topowright commented on #410
At first I was thinking that we should go off of what NGA states, but their documentation shows that they support both, but with a warning from one. Checking how ArcGIS Pro does it I found that they use bands and we are using bands in our addin. I feel like this issue should be closed and we can readdresss this if a customer comes back to share this same issue.

![image](https://user-images.github

[2018-06-20 19:00] topowright commented on #410
There are no documentation tasks that I feel like need to be done on this issue.

[2018-06-20 20:43] dfoll commented on #403
confirmed this is no longer happening in
  - ArcMap
  - ArcGIS Pro
added issue addressed to
  - CC June 2018 release (cms)
  - MT June 2018 release (cms)

[2018-06-20 20:52] dfoll commented on #410
This was list as a [known issue](http://solutions.arcgis.com/defense/help/coordinate-conversion/resources/release-notes.htm) so I added it to the issues addressed for the June 2018 release

[2018-06-20 22:02] ACueva commented on #403
Worked with @dfoll to verify doc changes:
- [ ] Resources tab on both single addin and MT
- [ ] PDF for Coordinate Conversion
- [ ] PDF for Military Tools

[2018-06-20 22:10] #410 closed

[2018-06-20 22:59] ACueva commented on #482
PR in to address build. https://github.com/ArcGIS/solutions-defense/pull/765
FYI @topowright

[2018-06-20 23:38] ACueva commented on #482
Found an issue where the ArcMap addin did not get updated.
Modified the file in the solution to now read:
"Quickly convert coordinates between several formats"
PR https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/503
@topowright merged

[2018-06-20 23:41] ACueva commented on #482
Changes made did not fix the issue.  Moving back for now.  @csmoore @kgonzago.  Still an issue in ArcMap.

[2018-06-24 17:07] dfoll commented on #245
I do not believe this is an issue in Pro any longer

[2018-06-24 17:11] dfoll commented on #246
I do not believe this is an issue in ArcMap any longer with MT 3.0 build 48

[2018-06-24 17:30] dfoll commented on #255
I do not see this as an issue with 10.6.1 MT build 48
also tried
35 180 52.14N 098 47 32.15W
35 180 52.14N 098 47 302.15W
 properly bounced back Invalid Coordinate window

[2018-06-24 17:32] dfoll commented on #254
I do not see this as an issue with 10.6.1 MT build 48
also tried
35 180 52.14N 098 47 32.15W
35 180 52.14N 098 47 302.15W
 properly bounced back Invalid Coordinate window

[2018-06-25 14:17] kgonzago commented on #482
[PR](https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/504/files) submitted to fix this issue.

[2018-06-25 14:29] dfoll commented on #482
![image](https://user-images.githubusercontent.com/5322669/41856224-6809d170-7849-11e8-9917-f4222c2647f6.png)
![image](https://user-images.githubusercontent.com/5322669/41856237-6dad131c-7849-11e8-885f-779a6a435996.png)

[2018-06-26 16:13] csmoore opened #505 "Remove Custom Copy Coordinates Map Pop-Up Context Menu at Pro 2.2+"
Copy Coordinates was added to the Map Pop-Up Context Menu at Pro 2.2 so the custom Copy Coordinates context menu created/added by the Coordinates Conversion should be removed on **Pro 2.2+**

This line should be removed/commented out (will see if there is some conditional way to do this that will also work on earlier versions):
https://github.com/Esri/coordinate-conversion-addin-dotnet/blob/dev/so

[2018-06-26 16:57] csmoore commented on #505
@topowright @dfoll @lfunkhouser - while looking at this I noticed that this menu is also added to the feature selection pop-up (screenshot below) - just let me know if I should I remove this from that menu also.  The new Pro 2.2 "Convert Coordinates" menu item does not seem to be in this menu pop-up so it makes sense to keep it there, but just wanted to check.

The behavior of this feature selecti

[2018-06-26 17:22] csmoore commented on #505
Branch `csm/#505-remove-context-menu-at-pro2.2` created in the following repos that removes this custom context(pop-up) menu from mapping content only (selection context mentioned in previous comment left in):

**coordinate-conversion-addin-dotnet**:
https://github.com/Esri/coordinate-conversion-addin-dotnet/tree/csm/%23505-remove-context-menu-at-pro2.2

**military-tools-desktop-addins**:
https://

[2018-07-02 16:54] #505 closed

[2018-07-02 16:54] #482 closed

[2018-07-02 20:49] #356 closed

[2018-07-02 22:30] #493 closed

[2018-07-02 22:30] #495 closed

[2018-07-02 22:30] #403 closed

[2018-07-03 19:33] ACueva opened #508 "Importing a .csv that uses characters other than commas as delimiters causes ArcGIS Pro to crash"
Environment:
ArcGIS Pro 2.2 Final
Military Tools 3.0 Final

Data:
[EnemyLocationsDD.zip](https://github.com/Esri/coordinate-conversion-addin-dotnet/files/2160695/EnemyLocationsDD.zip)

Steps to reproduce.
Utilize the .csv included above or create a new one with the following values:

[code]

1. From ArcGIS Pro, load the Military Tools/Coordinate Conversion pane.
2. Click on Import
3. Select the .c

[2018-07-12 16:48] csmoore commented on #436
I completed the high-priority issues from the Fortify Report in branch https://github.com/Esri/coordinate-conversion-addin-dotnet/tree/csm/%23436-SCA-Issues

I am just sanity testing and looking at the other SCA-related issues: ( #437 - #445 - Note: these issues were classified as "Low" in the report)

[2018-07-12 21:03] csmoore commented on #436
Addressed in PR #509

[2018-07-12 21:05] csmoore commented on #438
Most of these cases were expected captures of conversion failures so comments added in PR #509

[2018-07-12 21:06] csmoore commented on #437
Addressed in PR #509

[2018-07-12 21:06] csmoore commented on #439
Addressed in PR #509

[2018-07-12 21:07] csmoore commented on #440
2 cases of this found addressed in PR #509

[2018-07-12 21:07] csmoore commented on #441
Addressed in PR #509

[2018-07-12 21:08] csmoore commented on #442
Didn't see any cases of this using VS analyzer, but another tool might be able to find.

[2018-07-12 21:11] csmoore commented on #443
This appears to have already been fixed

[2018-07-12 21:11] csmoore commented on #444
Addressed in PR #509

[2018-07-12 21:11] csmoore commented on #445
Addressed in PR #509

[2018-07-15 22:05] dfoll commented on #348
this still needs to be done

[2018-07-15 22:15] dfoll commented on #330
there is one thing still missing on this issue, pretty minor in my opinion
- [ ] do not need a "Delete all" in the right-click menu, there is a clear all button on the bottom (still need the delete button though

Copy functionality has been implemented, we currently have "Copy all" and "Copy" .... "Copy all" copies all coordinates from the list (this is what we want). "Copy" copies the selected va

[2018-07-16 21:57] ACueva commented on #436
@dfoll and I discovered there are still warnings being thrown in the Jenkins build.  This is occurring both in the single Coordinate Conversion add-in as well as the MT build.  We are investigating. FYI @kgonzago

[2018-07-17 15:41] dfoll commented on #436
- What's new page is ready to review for this work
- Military Tools August release page is ready to review for this work
- Coordinate Conversion August release page is ready to review for this work

[2018-07-17 15:49] dfoll commented on #436
@lfunkhouser will we be doing the work in this release to move to a single 2.1/2.2 add-in for CC and MT ?

[2018-07-17 18:31] csmoore commented on #436
@ACueva @dfoll - those additional warnings you showed me in military tools toolbar build should hopefully be addressed in PR: https://github.com/Esri/military-tools-desktop-addins/pull/61

[2018-07-17 21:10] ACueva commented on #436
@csmoore Found the following warning in the latest MT build:

[code]

ArcMap comes back with:

[code]

[2018-07-18 18:00] topowright commented on #436
Currently my understanding on what we need to do to finish this item is to test the addin and the component. The last bit of testing that needs to be done is ArcGIS Pro 2.2

[2018-07-19 13:36] lfunkhouser commented on #443
@csmoore is there a way to show the verified fix? It looks like when @jmccausland logged this, the fix was proposed but I can't find the PR/commit where it was actually fixed.

[2018-07-19 13:51] csmoore commented on #443
There were 2 methods with this condition mentioned in the report - OnImportCSVFileCommand(), LoadConfiguration() :

For this one I can't seem to link to the commit either - it seems to be a permission problem with where the commit was made (perhaps a private repo?)
https://github.com/Esri/coordinate-conversion-addin-dotnet/blob/dev/source/CoordinateConversion/CoordinateConversionLibrary/ViewModels

[2018-07-19 17:34] #437 closed

[2018-07-19 17:34] #438 closed

[2018-07-19 17:34] #439 closed

[2018-07-19 17:34] #440 closed

[2018-07-19 17:34] #441 closed

[2018-07-19 17:34] #442 closed

[2018-07-19 17:34] #444 closed

[2018-07-19 17:34] #445 closed

[2018-07-19 17:48] #443 closed

[2018-07-26 13:12] #436 closed

[2018-08-06 16:39] dfoll commented on #490
put the high priority label on this issue because @topowright and I noticed behavior that after closing the ambiguous coordinates window  in dark theme, ArcGIS Pro crashes. Related to this comment we noticed that occasionally (but not yet consistently reproducible, the ambiguous coordinates window will pop up behind ArcGIS Pro, appearing at first as though ArcGIS Pro is frozen, because it is waiti

[2018-08-06 16:42] topowright commented on #328
Tracking the work in the following issue: https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/484

[2018-08-06 16:42] #328 closed

[2018-08-06 16:52] topowright commented on #468
This should be able to be done by configuring the DDM output.

[2018-08-06 17:00] topowright commented on #449
This currently does not make sense to do now. Assigning this to icebox for that reason.

[2018-08-06 17:05] topowright commented on #450
Currently we are looking at how we would implement this feature. If we detect a new coordinate type each time we have a new input format it could get quite nerve racking prompting the user if they wanted to change the input type going forward. Currently the tool places the coordinate on the map no matter the format.

@spatialillusions do you have thoughts on how the tool would interact when a new

[2018-08-06 17:45] #323 closed

[2018-08-06 17:51] topowright opened #512 "Copying a coordinate manually causes ArcGIS Pro to crash"
#### Background

#### Repo steps
Have a open map
click a point on the map
copy the new point out of the list
clear the list
paste that coordinate into the input box

The coordinate will show up on the map; however, ArcGIS Pro will crash

[2018-08-06 18:31] csmoore commented on #512
I can reproduce this issue - for some reason in this scenario the list modification was happening from the CIM thread instead of Main/UI thread, change thread affinity in PR: #513

[2018-08-06 18:40] topowright commented on #316
This can be closed. We only have one tab.

[2018-08-06 18:40] #316 closed

[2018-08-06 18:43] topowright commented on #330
Closing this issue as designed.

[2018-08-06 18:43] #330 closed

[2018-08-06 18:48] topowright commented on #254
I have validated this as well with the released version of MT 3.1:
![image](https://user-images.githubusercontent.com/5488313/43735038-6f812b88-996e-11e8-90ab-f3f2b193d9f0.png)

[2018-08-06 18:48] #254 closed

[2018-08-06 18:49] topowright commented on #255
This has been addressed in previous release MT 3.0

[2018-08-06 18:49] #255 closed

[2018-08-14 22:50] lfunkhouser opened #515 "Issue used to copy CT labels"

[2018-08-14 22:50] lfunkhouser commented on #515
This issue was moved to Esri/distance-direction-addin-dotnet#622

[2018-08-14 22:50] #515 closed

[2018-08-16 05:25] topowright commented on #422
@dfoll  I would like to dig into this issue deeper to understand where we want to place this capability.

[2018-08-22 16:02] topowright commented on #422
We would like to have the symbology dialog as part of the properties dialog that allows the input coordiante to be changed. The user should be able to change the symbol and the color of the point (graphic) placed on the map.

[2018-08-22 16:08] topowright commented on #422
Based on the conversation with @CTLocalGovTeam they are going to check to see the feasibility of implementing another tab inside the Edit Properties dialog.

[2018-08-23 17:37] topowright commented on #468
@saip please let me know if the updated content in the issue description clarifies the requirments.

[2018-08-27 18:53] saip commented on #422
Based on the conversation with @topowright, we are implementing user control of symbol only for ArcGIS Pro

[2018-08-28 18:11] topowright commented on #347
@saip please place the proper label on this issue so that we understand where in the development process this issue is.

[2018-08-28 18:13] topowright commented on #360
@saip please place the proper label on this issue so that we understand where in the development process this issue is.

[2018-09-04 16:11] topowright commented on #467
This will not be captured in the release notes. Just code updates.

[2018-09-04 19:36] topowright commented on #512
This was addressed in the August release.

[2018-09-04 19:38] #512 closed

[2018-09-06 05:28] topowright commented on #348
After speaking with @saip tonight the input coordinate box will allow a user to format coordinates the same way that they are allowed to format coordinates in the output list. The only difference is input coordinate box has a selection called default map units, which is set by the map. The default map coordinates will not be able to be formatted. @dfoll @lfunkhouser

[2018-09-06 14:52] dfoll commented on #348
If it's only the default map units that cannot be formatted, I think that is acceptable

[2018-09-06 14:55] dfoll commented on #360
I think this is acceptable, I question if it is even useful to be able to do this with multiple points. The whole point of the issue is to select one point you have placed and be able to pick it out from the list. If this functionality works on multiple points, we are back to the same problem this issue intended to fix of "which graphic belongs to which coordinate in the list?"

[2018-09-10 18:31] #490 closed

[2018-09-10 18:32] #484 closed

[2018-09-10 18:35] #408 closed

[2018-09-10 18:38] #467 closed

[2018-09-10 18:57] #499 closed

[2018-09-10 19:07] lfunkhouser commented on #508
Assigning to @BobBooth to create a test for this added functionality.

[2018-09-14 19:03] BobBooth commented on #508
@lfunkhouser - I have added a bit to test this case to the Coordinate-Conversion_ArcGIS-Pro.md
in this PR:
https://github.com/ArcGIS/solutions-defense-test-catalog/pull/166

[2018-09-14 19:07] elinz commented on #508
I believe the the approach Pro and ArcMap use when the delimiter is not the default is that you have to create an schema.ini file in the folder that this file resides and specify the new delimiter character. For example, see the first usage bullet for this tool http://pro.arcgis.com/en/pro-app/tool-reference/data-management/xy-table-to-point.htm

[2018-09-14 19:08] elinz commented on #508
To add to my previous comment, see https://docs.microsoft.com/en-us/sql/odbc/microsoft/schema-ini-file-text-file-driver?view=sql-server-2017

[2018-09-14 19:11] BobBooth commented on #508
@elinz - I tested with the sample data file (called EnemyLocationsDD.csv, which I've also added to the test data in \MilitaryToolsTesting\InputData\CSV) and it worked without any additional steps.

[2018-09-17 23:27] #508 closed

[2018-09-25 21:27] nfeuerstein opened #521 "Convert Coordinates script output is Text Data Type; therefore, not able to be used to 'Display XY Data'"
Steps to reproduce:

1. Bring in table with MGRS field
2. Use Convert Coordinates script to convert MGRS coordinates to other coordinate formats
3. Attempt to use 'Display XY Data' to add data to map.

You will be unable to use the 'Display XY Data' with the fields that were the output of the Convert Coordinates script because they're in Text format.

@lfunkhouser

[2018-10-04 16:28] dfoll opened #522 "Retrieve/copy different formats for coordinates already in the List"
### Background
Coordinate Conversion can be set to display multiple formats in the list for an individual point as it is collected. After it is collected, there is no elegant way to access all the coordinate formats again for an individual point from the list. Coordinate Conversion should have a simple and quick way to convert an exact point that was collected to other formats.

### Enhancement
On

[2018-10-06 14:38] dfoll commented on #522
@lfunkhouser for prioritization

[2018-10-10 10:57] lfunkhouser opened #523 "Coordinate Conversion 6.3 (V3 Sprint 2) Project/Release plan January"

[2018-10-10 10:58] lfunkhouser opened #524 "Coordinate Conversion 6.3/September Release"
List of issues planned to be delivered/released in September 2018 release for CC and Military Tools for ArcGIS 3.2

[2018-10-10 11:53] lfunkhouser commented on #524
Implemented and released in September 2018 release for Coordinate Conversion and Military Tools for ArcGIS 3.2

[2018-10-10 11:53] #524 closed

[2018-10-10 14:27] lfunkhouser commented on #468
added CT-fixed label since it was developed/delivered in #518.
added working labels for testing and doc

[2018-10-15 13:00] topowright commented on #522
This capability can be done by right highlighting the point in the list and right clicking that point on the map. You cannot copy all coordinates with this workflow, but you would be able to copy at least the highlighted coordinate.

[2018-10-15 13:02] topowright commented on #521
@lfunkhouser this should be moved to the gp repo.

[2018-10-15 13:04] topowright commented on #449
@lfunkhouser I do not think this is something that needs to be implemented and should be closed as no fix.

[2018-10-15 13:10] topowright commented on #275
This has now been implemented.
![image](https://user-images.githubusercontent.com/5488313/46952810-d41db080-d040-11e8-81fc-a364106b17d5.png)

This can be closed because it has not been listed as a known issue and does not require any documentation. @lfunkhouser

[2018-10-15 13:13] topowright commented on #336
Being that this was logged on May 8, 2017 I feel like we should close this issue. We have not heard anything from customers needing more import capability. @lfunkhouser

[2018-10-15 13:39] dfoll commented on #522
The capability currently offered in the add-in does not support the requirement of this issue. What @topowright described is bullet C in the current behavior. This issue should either be worked on, or closed as won't fix, saying we have this capability is misleading.

[2018-10-22 20:29] #275 closed

[2018-10-30 14:05] dfoll commented on #347
Recently rebuilt CC build 19 and MT build 122 to test

[2018-10-30 14:05] dfoll commented on #348
Recently rebuilt CC build 19 and MT build 122 to test

[2018-10-30 14:06] dfoll commented on #359
Recently rebuilt CC build 19 and MT build 122 to test

[2018-10-30 14:07] dfoll commented on #360
Recently rebuilt CC build 19 and MT build 122 to test

[2018-10-30 14:07] dfoll commented on #422
Recently rebuilt CC build 19 and MT build 122 to test

[2018-10-30 14:07] dfoll commented on #468
Recently rebuilt CC build 19 and MT build 122 to test

[2018-10-30 15:09] dfoll commented on #422
@topowright can you provide information for future reference about why this was only for ArcGIS Pro?

[2018-10-30 20:09] BobBooth opened #525 "CC crashes when entering 45,45 (ambiguous) coordinate values in text box at Pro 2.3"
With the latest (10/30/18) build of CC, on ArcGIS Pro 2.3 (2.3.0-beta.1+build 14448), when I enter coordinate values in the input box and hit enter, ArcGIS Pro crashes sometimes.
To repro, in the Input box, type 0,0 and press the Enter key.
Pro crashes.
45,128 worked, but then when I tried 45,45 it crashed Pro again.
The Ambiguous coordinate dialog was not displayed.

The same build of the add-in

[2018-10-30 20:09] BobBooth commented on #525
@dfoll

[2018-10-30 20:34] BobBooth opened #526 "CC crashes when searching for symbol if Search Box Empty"
With the latest  build of CC (10/30/18) and Pro 2.2.0 (released), I can add a point location to the map, then open the Properties pane for the input points and click the Symbology tab.
When I interact with this tab, Pro becomes unstable.
On several occasions, when I click the "Search" button to search for a symbol (and no text has been entered in the search box), I get an an error message that "Ob

[2018-10-30 20:34] BobBooth commented on #526
@dfoll

[2018-10-31 15:36] BobBooth commented on #360
With ArcGIS Pro  2.2.0 and the rebuilt CC add-in, I can highlight points on the map by clicking in the list. When I click a new item in the list, it becomes "selected" in the list and the corresponding point on the map is highlighted. The previously selected item on the list becomes unselected, and the previous point loses highlight. This is good.
![image.png](https://images.zenhubusercontent.com/

[2018-10-31 18:59] BobBooth opened #527 "Coordinate Conversion input coordinate -- formatting lost in Northern Hemisphere"
I added -- as a separator between the Lat Long values in a DD output. This output displayed in the List when I clicked in the Southern Hemisphere, but no dashes were returned when I clicked in the Northern Hemisphere.
![image](https://user-images.githubusercontent.com/3801392/47811974-7ca86180-dd1d-11e8-881a-3fa672853ce6.png)

The problem affects + and - symbols used as separators, as they also ha

[2018-10-31 19:45] BobBooth opened #528 "Coordinate Conversion custom input format crashes Pro"
With Pro 2.3 and the latest CC build, if I collect a series of locations, then customize the input format, set it to MGRS and add a couple of dashes for formatting, Pro gives invalid coordinate message and crashes.
1. Collect some locations
![image](https://user-images.githubusercontent.com/3801392/47813994-f131cf00-dd22-11e8-8175-8b012684ef05.png)
2.  Customize Input coordinates.
3. Set the Displ

[2018-10-31 20:30] BobBooth commented on #360
@dfoll - see comment above. Does this seem like the expected behavior?

[2018-11-01 12:46] dfoll commented on #360
@BobBooth it should be go backwards of that, you should be able to select a point on the map and get it to highlight in the list. I have not started on this... i can start back helping with this today

[2018-11-01 15:30] BobBooth opened #529 "Coordinate Conversion selection of added coordinate points on maps needs bigger tolerance"
With the latest build of Coordinate Conversion, I can add coordinates, see them on the map, and interact with the list and the points on the map to highlight individual locations. This is good.  When I attempt to click on locations on the map to select the coordinate point, the target zone for clicks seems to be a single pixel on the point (usually the markers are larger than a single pixel).  I f

[2018-11-01 16:08] BobBooth opened #530 "Coordinate Conversion click-selection of coordinate locations on map should match list click behavior"
With ArcGIS Pro  2.2.0 and the rebuilt CC add-in, I can highlight points on the map by clicking in the list. When I click a new item in the list, it becomes "selected" in the list and the corresponding point on the map is highlighted. The previously selected item on the list becomes unselected, and the previous point loses highlight. This is the expected behavior for the list.
![image.png](https:/

[2018-11-01 16:09] BobBooth commented on #360
@dfoll  - I have logged this issue: https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/530

[2018-11-01 17:19] BobBooth commented on #468
MGRS and USNG are not supporting dashes, or other special characters in Pro 2.3.
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/b53e3e7e-744d-45a1-8e36-b1fa6676098c)

[2018-11-01 17:52] BobBooth opened #531 "Coordinate Conversion changing symbol for locations loses selection and location highlight"
### Current Behavior:
The Coordinate Conversion add-in allows you to add coordinate locations to a map, select the coordinates that have been added from the list (or the map) and change symbology of those locations on the map.
If you have some coordinates added to the map and you select one or more of them, they are highlighted with a green halo.
![image](https://user-images.githubusercontent.com/

[2018-11-01 17:53] BobBooth commented on #422
I'm seeing an issue where the selected locations are lost if the symbol for locations is changed.  Have added: https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/531

[2018-11-01 18:14] BobBooth commented on #422
I'm seeing an issue where Pro becomes unstable and crashes with sustained interaction with the symbology of locations.  Edit Properties windows are being created and then not destroyed when closed.
https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/526

[2018-11-02 17:16] BobBooth opened #532 "Coordinate Conversion ArcMap custom formatting not applied to MGRS, partially applied DDM"
The latest build of Coordinate Conversion supports customization of the format of Input Coordinates (and their display in the List view) if the coordinates are DMS notation.
![image](https://user-images.githubusercontent.com/3801392/47930091-50b5e900-dea1-11e8-9f0b-aaf2525031b9.png)

For other notations the support is inconsistent.
For example, some coordinates in DDM are displayed with the added

[2018-11-02 17:18] BobBooth commented on #348
I found that the custom formatted input coordinates are inconsistently applied in ArcMap 10.6 with the latest CC build.
DMS seems to work correctly.
DDM sometimes works.
MGRS never works.
https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/532

[2018-11-02 17:54] BobBooth opened #533 "Coordinate Conversion highlight difficult to see in ArcMap"
Using ArcMap 10.6.0
When you select a CC location on the map (or in the List) the point is highlighted with a faint green outline.
![image](https://user-images.githubusercontent.com/3801392/47931778-37636b80-dea6-11e8-8ea9-727fe1d83307.png)

The highlight halo needs to be larger in order to make it more visible, as it is in ArcGIS Pro.
![image](https://user-images.githubusercontent.com/3801392/479

[2018-11-05 19:44] BobBooth commented on #422
I've added to the checklist test for CC in this [PR](https://github.com/ArcGIS/solutions-defense-test-catalog/pull/174) to cover the new functionality.

[2018-11-05 21:52] kgonzago commented on #359
Will test this issue with MT build 126.

[2018-11-06 13:11] kgonzago commented on #359
Pro:
![image](https://user-images.githubusercontent.com/6391826/48066354-565e4800-e19b-11e8-94f7-e7de7e6e624e.png)

[2018-11-06 13:16] kgonzago commented on #359
ArcMap:
![image](https://user-images.githubusercontent.com/6391826/48066677-3e3af880-e19c-11e8-8f2e-4d54d6d26219.png)

[2018-11-06 14:47] dfoll commented on #359
@CTLocalGovTeam In ArcMap (testing with 10.3.1) this needs some revision:  When you select points in the map, it adds to the highlighted list in the map, instead of highlighting that single coordinate.
1. Create three points in the map
2. Use the `Select Point`  tool to select a point in the map
_the point highlights, this is correct_
3. Use the `Select Point' tool to select a different point
_the

[2018-11-06 14:51] dfoll commented on #360
@CTLocalGovTeam In ArcGIS Pro (testing with 2,1) this needs some revision:  When you select points in the map, it adds to the highlighted list in the map, instead of highlighting that single coordinate.
1. Create three points in the map
2. Use the `Select Point`  tool to select a point in the map
_the point highlights, this is correct_
3. Use the `Select Point' tool to select a different point
_th

[2018-11-06 14:57] kgonzago commented on #359
@dfoll When I tested it, I just assumed the select tool just adds newly selected points to the collection of selected points. I thought the tool was designed like that. Your [comment](https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/359#issuecomment-436277868) makes sense.

Also, since it's a select tool, should it have the ability to click and drag to create a bounding box for se

[2018-11-06 16:18] BobBooth commented on #359
I agree with @dfoll - click one point should make that the selected point. CTRL-Click can add additional points to the selection. @kgonzago - I think we should add an issue to make a bounding box selection. Seems like a good enhancement, once we get the basic function working right.

[2018-11-06 16:29] dfoll commented on #359
agreed ... bounding box is an enhancement as a new issue. fixing this behavior i think we need to have a discussion about.... i proposed yesterday that we close these issues that brought in new functionality, and log new issues for the specifics about them that don't work .... don't know if the team 100% agreed with that proposal or not

[2018-11-06 18:03] kgonzago commented on #347
I verified the original [issue](https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/347#issue-229816192) is fixed. I also verified @BobBooth's findings of custom format from the `Edit Properties` dialog does crash or hangs Pro.

[2018-11-06 18:22] dfoll opened #534 "Map selection behavior should match list selection behavior"

[2018-11-06 18:36] BobBooth opened #535 "Coordinate Conversion Export should respect selections"
Coordinate Conversion allows you to add a set of coordinates to the list and make selections on that list by clicking values on the list or coordinate locations on the map. It also allows you to export coordinates, but the export tool does not respect selections.

#### Current Behavior
Add several coordinates using the add-in, so they appear in the list. Select one or more of the locations, either

[2018-11-06 18:40] kgonzago commented on #468
Using MT build 126, I confirmed FAA format for custom DMS notation is supported.

I also confirmed, as [reported](https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/468#issuecomment-435115865) by @BobBooth, the add-in does not support dashes for MGRS and USNG notations.

[2018-11-06 20:02] dfoll opened #536 "Map selection behavior should match list selection behavior (ArcMap)"
### Current behavior
When you select points in the map, it adds to the highlighted list, instead of highlighting that single coordinate.

#### Repro steps
1. Create three points in the map
2. Use the `Select Point`  tool to select a point in the map
_the point highlights, this is correct_
3. Use the `Select Point' tool to select a different point
_there are now two points highlighted in the list.

[2018-11-06 20:32] BobBooth opened #537 "Coordinate Conversion selection of locations on the map should include click and drag to select a set of locations"
#### Current behavior
Coordinate Conversion allow you to click individual points on the map to select them.
You must click precisely on the points to select them.

#### Expected behavior
It should also support click and drag with the same pointer tool to select one or more locations that fall within the selection rectangle. (HT @kgonzago )

[2018-11-07 15:40] kgonzago commented on #348
Using MT build 126, I verified @BobBooth's [comments](https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/348#issuecomment-435449655)

[2018-11-07 19:00] kgonzago commented on #468
Added new [test](https://github.com/ArcGIS/solutions-defense-test-catalog/pull/176) for checklist

[2018-11-07 19:31] BobBooth opened #538 "The coordinate Conversion add-in crashes Pro when importing a CSV file of coordinates"
#### Current behavior:
On Pro 2.3 with the latest CC addin, when I click Import on the CC pane and browse to the CSV file attached file (NewExportTest.zip) I am prompted to choose the field to use. Neither Coordinate nor MGRS works - Pro crashes when I run the import process.

[NewExportTest.zip](https://github.com/Esri/coordinate-conversion-addin-dotnet/files/2558877/NewExportTest.zip)

#### Expe

[2018-11-07 21:04] BobBooth commented on #538
@dfoll & @lfunkhouser - this seems to be one to take to the core folks.

[2018-11-08 00:36] lfunkhouser commented on #538
@BobBooth can you confirm or check how this works on the following:
- [ ] Released version (Sept 2018) of CC on Pro 2.2
- [ ] Released version (Sept 2018) of CC on Pro 2.3
- [ ] Latest build of CC on Pro 2.2
- [ ] Latest build of CC on Pro 2.3

I want to make sure everything has been covered before @dfoll follows up with the core team tomorrow.

[2018-11-08 17:24] BobBooth opened #539 "Coordinate Conversion addin gives "please enter a valid coordinate" for table of valid coordinates"
Using the Released version (Sept 2018) as well as the latest build of CC on Pro 2.2, I'm seeing an issue on import of a particular CSV table not working. When I browse to the table and specify the "Coordinate" field (contains values like "36.662872 -121.609567") and run the import process results in "please enter a valid coordinate" message,
[NewExportTest.zip](https://github.com/Esri/coordinate-c

[2018-11-08 17:35] dfoll commented on #359
Issue #536 has been logged for extra work against this issue. Documentation for the original work done by @CTLocalGovTeam has been done.
http://solutionsdev.arcgis.com/defense/help/coordinate-conversion/workflows/selecting-coordinates.htm
http://solutionsdev.arcgis.com/defense/help/coordinate-conversion/resources/january-2019-coordinate-conversion.htm

[2018-11-08 17:38] dfoll commented on #360
Issue #534 has been logged for more work against the work @CTLocalGovTeam did.
Documentation for this functionality has been done
http://solutionsdev.arcgis.com/defense/help/coordinate-conversion/resources/january-2019-coordinate-conversion.htm
http://solutionsdev.arcgis.com/defense/help/coordinate-conversion/workflows/selecting-coordinates.htm

[2018-11-08 17:41] BobBooth commented on #538
With today's daily, Pro 2.3.0-beta.1+build.14508 I am no longer seeing the crash. I think I had a bad build of Pro 2.3 for CSV files.  Export to CSV is also working.
I am still getting the "please enter a valid coordinate" message when I try to import the contents of the "coordinate" column of that table (issue https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/539), and no results,

[2018-11-08 17:43] BobBooth commented on #538
@lfunkhouser @dfoll - this is non-repro with today's daily. I've removed the other tags and added non-repro tag.

[2018-11-08 20:28] kgonzago opened #540 "Select tool does not select points that were imported from a CSV file"
### Requirements
As a user, after importing points from a CSV file, I want to select points using the `Select Tool` and have them highlighted on the map

### Current Behavior
After importing points from a CSV file, the `Select Tool` does not select any of those points on the map. The tool only works if you interactively create a point using the `Map Tool`.

On ArcMap 10.3.1 you get a "please add a

[2018-11-08 20:38] kgonzago commented on #347
I misread the issue. I confirmed @dfoll's findings of the `Input` textbox does not update if a custom DMS notation is entered. The list of points do update but not the coordinate in the `Input` textbox.

[2018-11-08 20:45] BobBooth commented on #538
@dfoll & @lfunkhouser - actually, I just reproduced it again with the daily Pro 2.3 build.

[2018-11-09 16:33] BobBooth opened #541 "Coordinate Conversion MGRS, UTM, USNG columns written by addin to CSV only import if you set input format to match"
#### Current behavior
When you export to CSV, the addin writes out the coordinates in the list view, with a column for each format that you've added for your output. So, if you add DD, DDM, MGRS, UTM outputs, you get a column in your csv file with values for each. This is good.
When you import that table again, the DDD,DDM,DMS coordinates seem to import well.
The MGRS, USNG, UTM coordinate columns

[2018-11-09 17:19] csmoore commented on #538
I tested on Pro.2.3.14508 and could not repro a crash. I do notice that performance seems to have gotten slower using the latest version of the addin, so not sure if that might be related to the problems @BobBooth is seeing on just his machine.

[2018-11-09 17:40] dfoll commented on #347
This issue needs to be sent back to @CTLocalGovTeam. Described functionality is not working. The buttons are in place to do this but the functionality does not exist.

### Additional repro steps
1. On the Coordinate Conversion pane click the `Edit Properties` button next to the input text box.
2. Highlight `MGRS` and `Custom`
3. Expand `Advanced` if it is not already expanded
4. Format the MGRS co

[2018-11-09 17:45] dfoll commented on #347
@lfunkhouser this looks like an issue that was not delivered

[2018-11-09 17:47] BobBooth commented on #528
To repro:
Add about 15 locations to the list by clicking on the map.
Change the Input format.
Choose MGRS for the display format.
Choose Custom.
Format the MGRS string with -- as separators.
![image](https://user-images.githubusercontent.com/3801392/48279076-7a30c080-e41d-11e8-9b2d-b541de99f06b.png)

Click OK.
Get a series of invalid coordinate messages.
![image](https://user-images.githubusercont

[2018-11-09 17:50] dfoll commented on #348
This issue needs to be sent back to @CTLocalGovTeam. Described functionality is not working. The buttons are in place to do this but the functionality does not exist.

### Additional repro steps
1. On the Coordinate Conversion pane click the `Edit Properties` button next to the input text box.
2. Highlight `MGRS` and `Custom`
3. Expand `Advanced` if it is not already expanded
4. Format the MGRS co

[2018-11-09 17:53] dfoll commented on #348
@lfunkhouser this looks like an issue that was not delivered

[2018-11-09 17:56] dfoll commented on #347
#528 was logged which is a byproduct of this needing to be completed. When this is completed #528 should be resolved.

[2018-11-09 18:13] dfoll commented on #468
This issue represents a subset of cases for #347 and #348. This is is satisfied given the initial issue. A new issue needs to be logged as a response to this, as this issue does not account for Northern/Southern or Eastern/Western hemisphere coordinates.
![image](https://user-images.githubusercontent.com/5322669/48280338-4b1c4e00-e421-11e8-833e-bcdc7629d92a.png)

[2018-11-09 18:17] dfoll opened #542 "FAA formatting for Northern/Southern and Eastern/Western hemisphere designations"
An issue was logged to support [FAA formatting](https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/468) for DMS. This issue is being opened to fully support FAA formatting.

Functionality was delivered by @CTLocalGovTeam to satisfy #468 however in that issue there is no explanation of how Northern/Southern and Eastern/Western hemispheres are supported.

[2018-11-09 18:37] dfoll commented on #542
At the time of writing this issue, this is the research that was taken from #468 .

[2018-11-09 18:38] dfoll commented on #468
#542 was opened to clarify the proper formatting for FAA coordinates.

[2018-11-09 19:07] BobBooth commented on #525
@csmoore - this seems to be a Pro 2.3 vs Pro 2.2 difference that could be taken to the core folks. Can you look at what is going on?  Repro case: in CC on 2.3, enter 45,45  or 0,0 in the input text box.

[2018-11-09 19:10] dfoll commented on #525
agree with @BobBooth it seems that anything ambiguous is crashing Pro.

[2018-11-09 19:12] csmoore commented on #525
@BobBooth - thanks for the repro case - this one looks like a crash in CC when the ambiguous coord form is loaded (so probably not a Pro issue) - looking into cause now

[2018-11-09 19:14] BobBooth commented on #525
@csmoore - Thanks.  The form loads in Pro 2.2, FYI.

[2018-11-10 16:06] #360 closed

[2018-11-10 16:06] #359 closed

[2018-11-12 15:42] lfunkhouser commented on #348
@dfoll have you discussed this with @saip to provide guidance?

[2018-11-12 16:04] BobBooth commented on #525
@csmoore - I wonder if the crash when clicking "Search" button when no search term is entered (on the Edit Properties >> Symbology tab) is has a similar cause? (calling a Form from the CIM Thread instead of the UI Thread)
https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/526

[2018-11-12 16:07] lfunkhouser commented on #468
@dfoll if the coordinates are not in the proper location, this issue has not been delivered. Reassigning to @CTLocalGovTeam . @saip please work with @dfoll for the guidance.

[2018-11-12 16:22] dfoll commented on #468
@lfunkhouser we need to find time to understand this format better, or have connected with someone who already does before any meaningful work can be done

[2018-11-12 17:17] saip commented on #535
@BobBooth We understand that the export functionality should respect selections. We have a question regarding no selections.

If user tries to export to Feature class, Shapefile, KMZ or CSV with no selection, then all the coordinates in list are exported. Please confirm.

[2018-11-12 17:19] saip commented on #534
@dfoll Do we need deselection of points from map(click highlighted point from map) too ?

[2018-11-12 18:07] BobBooth commented on #535
@saip - yes, that is what I would expect. No selection = all rows exported.

[2018-11-12 19:02] csmoore commented on #526
Addressed in PR #543

[2018-11-12 19:06] csmoore commented on #525
@BobBooth - I checked #526 and it was just a plain old null string bug vs. threading bug - https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/526#issuecomment-437993272

[2018-11-13 14:54] dfoll commented on #534
@saip yes. when a point is highlighted on the map, clicking that point should remove the map selection and the list selection for the same point

[2018-11-13 19:46] BobBooth commented on #422
Adding to the January 2019 CC and MT What's New:
"Supports control the symbol that is placed on the map."

[2018-11-13 20:10] BobBooth commented on #422
Removed Doc CMS tag after addding to the What's new for defense page, and CC and MT January 2019 what's new sections.

[2018-11-15 23:19] lfunkhouser opened #544 "Update the input window to include the import function"
This feedback/enhancement request came from a business partner trying to use the coordinate conversion add-in. The user suggested moving the import button to the Input area of the add-in. The reasoning given was that it made more sense as a workflow to work top-down in the add-in.

[2018-11-19 14:54] dfoll commented on #526
MT build 159 can be used to test this

[2018-11-19 15:06] dfoll commented on #422
Adding `G-Doc (CMS)` back so that we can create a topic about changing the appearance of the symbol. This topic should appear in the Workflows tab for CC, Workflows tab for MT, CC pdf, and MT pdf

[2018-11-19 19:13] dfoll commented on #422
Verified functionality works.
@BobBooth could you review/verify documentation?
All documentation for this issue is done. MT build 160 and CC build 20 should have updated doc to review.
DEV should have online doc to review.

[2018-11-19 21:45] csmoore commented on #525
@dfoll @saip - adding crash line: https://github.com/Esri/coordinate-conversion-addin-dotnet/blame/dev/source/CoordinateConversion/ProAppCoordConversionModule/ViewModels/ProTabBaseViewModel.cs#L806

And Call Stack - UI is now being created on CIM Thread (source of crash):

![image](https://user-images.githubusercontent.com/3090809/48736822-5db13700-ec1a-11e8-9b1c-f0230a000804.png)

[2018-11-20 16:42] BobBooth commented on #422
Text looks good.

[2018-11-26 15:03] lfunkhouser commented on #525
@saip please take a look at this one. This is seen in Pro 2.3 from the code changes. It is not a core issue.

[2018-11-29 17:46] lfunkhouser commented on #348
From #532, MGRS not working for ArcMap. Coordinate Conversion ArcMap custom formatting not applied to MGRS, partially applied DDM

The latest build of Coordinate Conversion supports customization of the format of Input Coordinates (and their display in the List view) if the coordinates are DMS notation.
![image](https://user-images.githubusercontent.com/3801392/47930091-50b5e900-dea1-11e8-9f0b-aaf

[2018-11-29 17:47] lfunkhouser commented on #532
Expected functionality of #348 Closing as duplicate

[2018-11-29 17:52] dfoll commented on #347
Delivery of this issue introduced #528

[2018-11-29 18:45] lfunkhouser commented on #468
Support for custom FAA format by using the map point tool was delivered. Issue #542 will need to be addressed in a future release to support the input/importing of FAA coordinates.

[2018-11-29 18:52] lfunkhouser commented on #531
@CTLocalGovTeam This issue was logged as a result of UAT on delivered functionality on #422

[2018-11-29 19:34] dfoll commented on #532
To add to what @lfunkhouser stated the PR that had this delivery was https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/518

[2018-11-29 19:34] dfoll commented on #531
To add to what @lfunkhouser stated the PR that had this delivery was https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/518

[2018-11-29 19:34] dfoll commented on #528
To add to what @lfunkhouser stated the PR that had this delivery was https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/518

[2018-11-29 19:34] dfoll commented on #525
To add to what @lfunkhouser stated the PR that had this delivery was https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/518

[2018-12-04 21:11] dfoll opened #545 "Coordinate Conversion mismatch between location output value and location input value"
### Background
- This is an accuracy issue. We can only place back on the map as accurate as what we originally collected and displayed to the user. This is easiest to understand in the context of working with MGRS coordinates. MGRS measures down to a 1-meter grid square. When we collect a point, only the coordinates of that 1-meter grid square are given to the user. When we go to then place those

[2018-12-04 23:44] dfoll opened #546 "When UTM or MGRS coordinates are collected directly from a grid corner they are rounded down when used again"

[2018-12-05 00:10] BobBooth commented on #546
Here is a zip of a project package that show the issue.  Upper right point is original location.  Point to sw of that is the result of CC rounding to nearest 1m units in MGRS. Subsequent points generated by collecting the last points (snapping to feature) getting that MGRS coordinate value, and feeding it back into the CC input box.
[cc_issue.zip](https://github.com/Esri/coordinate-conversion-addi

[2018-12-05 00:16] BobBooth commented on #546
Image based on the Pro project above.
![image](https://user-images.githubusercontent.com/3801392/49481471-f2ea2900-f7df-11e8-88a5-45bb0c153355.png)

[2018-12-12 18:13] BobBooth opened #547 "Visibility and Coordinate Conversion crashing when invalid coordinates pasted"
Testing the latest build of the Visibility and Coordinate Conversion stand alone add-ins, on Pro (2.3.0_15735) and ArcMap (10.3.1) I have found a crash when certain values are pasted into the input box (the addins work fine for adding points by clicking on the map).

If I set the coordinate system for the map  by adding the "ElevationUTM_Zone10" from solutions test catalog data, in MilitaryToolsTe

[2018-12-13 17:09] BobBooth commented on #547
Further testing shows that this issue seems confined to **Visibility** and **Coordinate Conversion**.
I tested various builds of Distance and Direction and Military Symbol Editor. The crash **did not** occur in them.
I tested the _released_ version of Military Tools for ArcGIS (combined addins) and found that the crash occurs in the **Visibility** and **Coordinate Conversion** panes, but not in th

[2018-12-17 17:05] lfunkhouser commented on #547
@CTLocalGovTeam @saip
Please take a look at this issue. This bug will be need to be addressed before the 2.3 release.

[2018-12-18 19:44] #526 closed

[2018-12-19 14:54] dfoll commented on #547
@BobBooth can you take another look at this @CTLocalGovTeam and myself are not able to reproduce the crash inside of Coordinate Conversion

[2018-12-19 17:45] BobBooth commented on #547
@dfoll - with the 12/19 build of Military Tools an Pro 2.3.0 from 12/18, I am not able to repro in Coordinate Conversion, but I can in Visibility pane of the add-in, in both Pro and ArcMap (10.3.1).
@CTLocalGovTeam

[2018-12-19 22:02] nfeuerstein commented on #547
Just found this issue while testing ICAP - looks like it could be related/the same: https://github.com/ArcGIS/icap/issues/1192

[2018-12-26 19:11] dfoll commented on #531
@saip this does not look to be fixed. I have added explicit repro steps to highlight the behavior that shows the problem.

[2018-12-26 19:16] csmoore commented on #525
PR #549 created to address the issue.

[2018-12-26 19:20] dfoll commented on #528
Using the testing build in ...\Solutions\DefenseSolutions\CoordinateConversion\Testing\CTLocalGovTeam-dev\39 this looks to be fixed.

### Cases tried
- Z--SX00000Y00000 [MGRS]
- Z*S*X00000*Y00000 [MGRS]
- A0°/B0'/C0.0#"N X0° Y0' Z0.0#"E [DMS]

[2018-12-26 19:36] dfoll commented on #532
This issue sounds like it is closely related to issue #528, but is logged for ArcMap. I tried these cases
- Z--SX00000Y00000 [MGRS]
- Z*S*X00000*Y00000 [MGRS]
- A0°/B0'/C0.0#"N X0° Y0' Z0.0#"E [DMS]
- Y0.0#####N??X0.0#####E [DD]
- A0° B0.0###'=?=X0° Y0.0###' [DDM]
-  X0° Y0.0###'E @ A0° B0.0###'N [DDM]
- Z-S-X00000-Y00000
in ArcMap with no issues, the List and Input boxes honored what was entered

[2018-12-26 19:40] BobBooth commented on #528
I tried it too, did not get the crash.

[2018-12-26 20:19] BobBooth commented on #532
Using a dash/hyphen in a DDM custom input, some outputs not displaying correctly.
![image](https://user-images.githubusercontent.com/3801392/50456327-98954180-0921-11e9-9dd7-e6b76f4d4ea8.png)

[2018-12-26 20:22] BobBooth commented on #532
Also, dashes don't seem to be showing up in MGRS strings
![image](https://user-images.githubusercontent.com/3801392/50456378-fde93280-0921-11e9-831d-e6f9a64f6743.png)

[2018-12-26 20:35] BobBooth commented on #532
@dfoll - ignore previous comments. I reinstalled and am seeing the correct behavior.

[2018-12-26 20:48] dfoll commented on #532
@BobBooth I have done documentation for this. Can you please review?

[2018-12-26 21:15] dfoll commented on #525
Solutions\DefenseSolutions\CoordinateConversion\Testing\csm-525-crash-at-2-3-if-ambig\40 was built to test this

[2018-12-26 21:16] BobBooth commented on #532
The https://solutionsdev.arcgis.com/defense/help/coordinate-conversion/workflows/change-the-display-of-input-coordinates.htm topic looks good to me.

[2018-12-27 15:05] dfoll commented on #525
Tested on Pro 2.3.0.15723 CC testing build 41 (see [comment](https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/525#issuecomment-450027314)).

### Cases tested
- 0 0
- 0 0 [DMS]
- 45 45 [DDM]
- 78 22 [DD]
- confirmed ambig coord dialog does display if `Show Ambiguous Coordinates Dialog` is checked

![image](https://user-images.githubusercontent.com/5322669/50484517-deecae00-09be-11e

[2018-12-27 15:13] dfoll commented on #525
...\Solutions\DefenseSolutions\CoordinateConversion\January2019\Dev\41 was built post-merge to test this

[2018-12-27 15:42] dfoll commented on #525
Looks good from ..\Dev\41. I did not test on ArcMap as this problem was listed only for Pro. @BobBooth can you also take a look and move to Done and add verified label if it looks good to you.

[2018-12-27 15:48] dfoll opened #550 "Ambiguous Coordinates dialog does not honor Lat/Lon vs Lon/Lat radio buttons"
### Background
Found while verifying #525 .

### Current Behavior
If you enter `10 78` in the Coordinate Conversion pane it is treated as 10N 78E regardless of what option you select in the Ambiguous Coordinates dialog box

### Expected behavior
If you enter `10 78`  in the Coordinate Conversion pane the Ambiguous Coordinates dialog box opens. If you select the `Lat/Lon` radio button, it is treate

[2018-12-28 13:14] dfoll commented on #550
@lfunkhouser for priority

[2018-12-28 17:18] BobBooth commented on #525
I tested from \Dev\41 and I'm seeing the ambiguous coordinate panel pop up when needed, no crashing.

[2019-01-02 16:08] dfoll commented on #547
@lfunkhouser I want to close this issue. The problem is with the Vis add-in, not the CC add-in. Entering an invalid coordinate and pressing Enter in CC displays and "Invalid Coordinate" message.
![image](https://user-images.githubusercontent.com/5322669/50600262-8f0a5d00-0e7e-11e9-9866-b8e874dec31e.png)
An [issue](https://github.com/Esri/visibility-addin-dotnet/issues/309) was logged to track the

[2019-01-02 16:50] dfoll commented on #547
After rebuilding MT (176)  with recent fixes I could not reproduce this within the CC pane either

[2019-01-02 17:10] dfoll opened #551 "Changing the input display coordinate type causes the add-in to register coordinates as invalid"
## Background
Changing the Display Coordinates to something other than MGRS is causing Coordinate Conversion to think that MGRS coordinates are invalid.

ArcGIS Pro 2.3.0.15723 MT 176
Was not able to reproduce with ArcMap 10.3.1 MT 176

## Repro steps
1. In the Coordinate Conversion pane paste in `42S XD 45583 55343`
2. Press Enter
_coordinates are located_
3. Click the `Edit Properties` button
4.

[2019-01-02 17:57] dfoll commented on #551
@lfunkhouser

[2019-01-04 20:45] dfoll commented on #550
create checklist tag added to update tests to do this check

[2019-01-07 11:58] dfoll commented on #531
This looks to be fixed in #548 following repo steps listed in issue, when you change the symbol while you already have a coordinate selected, that selection persists in ArcGIS Pro.

[2019-01-07 12:03] dfoll commented on #531
will test from dev build in CC and MT and move to Done

[2019-01-07 12:12] dfoll commented on #531
\Solutions\DefenseSolutions\CoordinateConversion\January2019\Dev\42
_and_
\Solutions\DefenseSolutions\MilitaryToolsForArcGIS\January2019\Dev\177

can be use to test this to move it to Done

[2019-01-07 23:03] csmoore commented on #545
In the UTM/MGRS case, the location you are collecting is only accurate to the nearest meter, so the coordinate you are pasting back in is on a 1 meter boundary not necessarily the exact coordinate collected with the map point tool.

[2019-01-09 15:56] dfoll commented on #538
Pro 2.3.0.15723
CC 42

I am experiencing a crash when I try to import a .csv

[Airports.zip](https://github.com/Esri/coordinate-conversion-addin-dotnet/files/2741565/Airports.zip)

Will try to get a newer build of Pro and post results here

[2019-01-09 18:53] kgonzago commented on #550
Issue fixed and in this [PR](https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/552)

[2019-01-09 20:57] dfoll commented on #538
installed Pro 2.3.0 (build 15768) (build number is no longer showing on About page)

This is still happening with Airports.csv (DMS) and MontereyPointsOfInterest.csv (MGRS)

[2019-01-10 16:18] dfoll commented on #550
- ArcGIS Pro 2.3 CC Commercial\Solutions\DefenseSolutions\CoordinateConversion\January2019\Dev\44
   - looks good
- ArcGIS Pro 2.3 MT
   -
- ArcMap 10.3.1 CC Commercial\Solutions\DefenseSolutions\CoordinateConversion\January2019\Dev\44
   - looks good
- ArcMap 10.3.1 MT
   -

[2019-01-10 17:20] kgonzago commented on #538
I am able to consistently repro this issue in Pro 2.3 using the CSV file @dfoll attached in his [comment](https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/538#issuecomment-452747781). I narrowed it down to how the ambiguous dialog is instantiated during the import of coordinates from a CSV file. This [line](https://github.com/Esri/coordinate-conversion-addin-dotnet/blob/dev/source

[2019-01-14 14:51] lfunkhouser commented on #538
@saip please provide an update on this issue. This is critical for the January release.

[2019-01-14 16:21] #528 closed

[2019-01-14 16:21] #532 closed

[2019-01-14 16:43] lfunkhouser commented on #525
Need to test on Pro 2.2 to verify this is fixed

[2019-01-14 19:34] kgonzago commented on #551
After more testing, this issue happens with all MGRS and USNG coordinates. And it also happens to not only in DD but DMS, DDM, and UTM. A bit more of a larger issue than expected. The logic leading up to this [line](https://github.com/Esri/coordinate-conversion-addin-dotnet/blob/dev/source/CoordinateConversion/CoordinateConversionLibrary/Models/CoordinateMGRS.cs#L227) will need to be refactored a

[2019-01-14 20:10] csmoore commented on #525
Testing these repro steps from latest dev branch (Built at `Commercial\Solutions\DefenseSolutions\CoordinateConversion\January2019\Dev\44`), on **Pro 2.2.0**.  I am unable to reproduce this issue.

NOTE: branch `CTLocalGovTeam-dev` for #138 was also tested, and I could not see the issue.

@lfunkhouser @dfoll @saip @kgonzago Can we verify that this is not a configuration issue or there are not addi

[2019-01-14 20:43] BobBooth commented on #539
Using Pro 2.3.0.15769 (1/10/19) and the Coordinate Conversion add-in built today, at \DefenseSolutions\CoordinateConversion\January2019\Dev\44 this issue seems to be resolved.
I can import both the MGRS column and the Coordinate column, without error messages and with expected point results.

[2019-01-15 14:06] kgonzago commented on #551
Fix for this issue is in this [PR](https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/554)

[2019-01-15 15:19] csmoore commented on #538
Dev build created for QC at: `Solutions\DefenseSolutions\CoordinateConversion\January2019\Dev\46`

[2019-01-15 15:20] csmoore commented on #551
Dev build created for QC at: `Solutions\DefenseSolutions\CoordinateConversion\January2019\Dev\46`

[2019-01-15 17:37] kgonzago commented on #531
Verified fix using:
1. \Solutions\DefenseSolutions\CoordinateConversion\January2019\Dev\42
2. \Solutions\DefenseSolutions\MilitaryToolsForArcGIS\January2019\Dev\177

[2019-01-15 17:50] kgonzago commented on #531
Checklist updated: [PR](https://github.com/ArcGIS/solutions-defense-test-catalog/pull/197)

[2019-01-15 18:11] #545 closed

[2019-01-16 13:55] dfoll commented on #538
Tested using CC 46 on Pro 2.3, the file @BobBooth provided and the files I provided are all working now for importing.

Tested using MT 183 on Pro 2.3, the file @BobBooth provided and the files I provided are all working now for importing.
[Testpoints.zip](https://github.com/Esri/coordinate-conversion-addin-dotnet/files/2764395/Testpoints.zip)

[2019-01-16 18:30] lfunkhouser commented on #531
@BobBooth @dfoll @kgonzago is the `V - Pro 2.3` label accurate? Was it an issue at Pro 2.1 too or just at Pro 2.3? Was this a fix done on Pro 2.1 but only affected the Pro 2.3 functionality? Just confirming if we need two versions of the add-in (Pro 2.1-2.2 and a Pro 2.3) or still just the one.

[2019-01-16 18:53] BobBooth commented on #531
@lfunkhouser - this was a fix for an issue with new functionality (changing the symbology of the points) that was not available earlier. It showed up when we were testing on Pro 2.3.  I will test on Pro 2.1 just to make sure, but I believe that the new add-in should work in 2.1/2.2 as well.

[2019-01-16 21:01] BobBooth commented on #347
Rebuilt Dev branch of CC and MT to verify that the PDFs have picked up the change. They have:
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/8ab8e352-7754-4031-b5c3-0a811491abc5)
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/6ebfb5fc-d606-4a19-a73f-32d37848b57a)

[2019-01-16 21:04] BobBooth commented on #348
Doc updates complete, see 347.

[2019-01-18 20:05] BobBooth commented on #551
@lfunkhouser  - This was a newly-discovered issue on relatively new functionality. It is not listed as a Known Issue, so I'm not sure if it needs to be mentioned in Issues Addressed.  I think we can remove the doc tags and close.

[2019-01-18 20:57] #538 closed

[2019-01-18 21:00] #525 closed

[2019-01-18 21:11] #531 closed

[2019-01-18 21:32] #347 closed

[2019-01-18 21:33] #348 closed

[2019-01-18 21:35] #551 closed

[2019-01-22 16:17] dfoll opened #555 "Exporting to feature class when using a custom Display Coordinate causes Pro to become unresponsive"
Exporting to feature class when using a custom Display Coordinate (Input and List) causes the app to become unresponsive.

### Repro steps
1. In Coordinate Conversion pane, set the Display Coordinate to DD
2. Use the Map Point Tool to collect a few points from the map
3. Click Export
4. Use the Feature class radio button.
5. Click OK
6. Name fc.
7. FC is added to TOC
8. Change the Display Coordina

[2019-01-22 16:39] BobBooth commented on #555
I can repro using DD and the /\ chars together as a separator.

[2019-01-22 17:02] lfunkhouser commented on #555
Check build from Jan 7 to see if it was introduced with fix from #551

[2019-01-22 17:03] BobBooth commented on #555
It seems to write out the feature classes correctly, even when it freezes.
![image](https://user-images.githubusercontent.com/3801392/51552005-b335da00-1e3d-11e9-954a-6be928f0fe98.png)
MGRS with spaces, MGRS with /\ separator, etc...

[2019-01-22 18:41] kgonzago commented on #555
Here are the builds I tested with:
1. Build 42 (CTLocalGovTeam-dev branch) from current pre-release
2. Build 20 from December 2018 release
3. Build 28 from August 2018 release
Issue is still there in all three builds. Also, I confirmed @BobBooth's [comment](https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/555#issuecomment-456478715): feature class was still created when Pro was no

[2019-01-22 18:54] kgonzago commented on #555
We can dig more into this but given the tight time frame, I suggest push this issue to the next release.

[2019-01-22 21:51] BobBooth commented on #539
This problem seems be back in the Dev build, built today, on Pro 2.3.

[2019-01-23 15:56] BobBooth commented on #539
OK. I've tried to repro this today, and I can't.  There is some sequence of steps that puts it into this state, but I can't reliably reproduce them.

[2019-01-23 23:07] #523 closed

[2019-01-24 16:40] lfunkhouser opened #556 "Remove right-click ability for Coordinates listed in Output section"
When right-click on a coordinate in the output section, you are given a menu of Copy, Cut or Paste.
You perform any action on these options.
Remove right-click menu.

[2019-01-24 16:43] lfunkhouser opened #557 "Make enter a keyword to search for a symbol optional"
https://solutions.arcgis.com/defense/help/military-tools/workflows/change-the-symbol.htm

Step 3 is not required. I can either enter a keyword to search or scroll and select a symbol.

[2019-01-24 16:49] lfunkhouser opened #558 "Make customization workflow of formats consistent between input and output coordinates"
Behavior for entering a custom format should be consistent for input and output formats

Input Format behavior
The Advanced drop-down becomes active only when you first click "Custom" under Formats in the Edit Output Coordinate dialog.

Output Format behavior
The Advanced drop-down is active. When you start to alter the format in the advanced input box, the selection under Formats automatically ch

[2019-01-24 17:17] lfunkhouser opened #559 "Select Point tool only selects the first of many identical points"
Enter 45 45 in the Input box to add the coordinate located at 45 45 to the map and to the List.
Enter 45 45 3 more times. You will have a total of 4 points in the List.
Use the select tool to select the point(s) at 45 45 on the map.
Only the first 45 45 point entered will be highlighted in the coordinate list.

Expected behavior:
All points at the location selected on the map would be highlighted

[2019-01-24 17:27] lfunkhouser opened #560 "ArcMap: When selecting a coordinate that has identical coordinates in the list, the point is not highlighted on the map"
1. Add several points to the map using the Map Point Tool.
2. Add 4 points by entering in 45 45 4x.
3. Enable the Select Point Tool in the Input section.
4. Click on the map to select one of the points added using the Map Point Tool.
5. Result: a green outline indicating the point is selected and the coordinate is highlighted in the List.
6. Click on the map to select the point(s) at 45 45.

Resul

[2019-01-24 17:34] BobBooth commented on #245
The DDM case of this is still an issue:
![image](https://user-images.githubusercontent.com/3801392/51696764-36893400-1fd4-11e9-8061-7c125e4a526e.png)
These cases work:
45 0.0N 100 0.0W
45 0.0N 100 0W
This one does not work:
45 0.0N 100W

[2019-01-24 17:49] lfunkhouser opened #561 "Update wording in doc for Copying coordinates to include copying a selection of multiple coordinates"
This functionality already has been implemented in https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/330.  The doc should be updated to communicate the ability to select multiple coordinates in the list or on the map.

Current:
Select a coordinate in the List section, then right-click the coordinate and select Copy to copy a single coordinate from the List.

Proposed
Select a coord

[2019-01-24 17:55] lfunkhouser opened #562 "Confirm Removal? dialog box does not support Dark Theme"
Right click at Output format in the Output section
Select Delete

Current: Delete confirmation dialog box does not follow dark theme.
Expected: Delete confirmation dialog box supports dark theme.

MT 3.3.0.195
Pro 2.3

[2019-01-24 18:20] BobBooth commented on #546
May be related to:
https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/252
https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/253

[2019-01-24 18:34] lfunkhouser opened #563 "Export coordinates does not follow doc style of other topics - remove steps that do not apply to Export"
Step 1 and 2: Covered in "Convert a coordinate" topic
Step 3: Covered in "Change the displayed input coordinate format" topic

MT 3.3.0.195
Pro 2.3
ArcMap 10.6.1

[2019-01-24 18:50] lfunkhouser opened #564 "Copy coordinates from List using shortcut Ctrl+C"
Current behavior
Select coordinates in the list can be done by clicking on a single coordinate or selecting multiples using Ctrl or Shift key when you click, or Ctrl+A to select all depending on which entries you want to select.

User can right-click on the selected coordinates in the List > Select Copy to copy the selected coordinates

User can paste the coordinates into another application by ri

[2019-01-24 18:52] lfunkhouser opened #565 "Paste coordinates into the List using keyboard shortcut Ctrl+V"
Current
Copy coordinate from source
Right-click in List section and click Paste

Expected
Add ability to use keyboard shortcut Ctrl+V to paste into the List

MT 3.3.0.195
Pro 2.3
ArcMap 10.6.1

[2019-02-04 13:53] dfoll commented on #336
@lfunkhouser we talked with 3rd topo about .xls/.xlsx specifically, so I am going to log that as a new. Will also be logging the issue to persist fields when they are imported as a separate issue. I believe that one will take a little bit of design work before we ask for work to start on it.

[2019-02-04 13:54] dfoll opened #567 "Support .xls and .xlsx as import types for Coordinate Conversion"
### Current behavior
Coordinate conversion works correctly for importing a .csv.

### Expected behavior
Requesting to add .xls and .xlsx to the list of file types that can be imported into Coordinate Conversion.

- ArcGIS Pro 2.1-2.3
- Arc Map 10.3.1 -10.6.1

[2019-02-04 13:58] dfoll commented on #567
@lfunkhouser depending on when this gets pulled in to work on, we will need to update the supported versions in the original issue.

[2019-02-04 14:03] dfoll opened #568 "When importing files to Coordinate Conversion, persist fields from input"
### Background
This is useful because all fields used from the input are lost once they are imported to CC. Not a big deal for fields that contain simple coordinate formats, as those can be added back in upon export by the CC pane, however those fields that are lost may contain non-coordinate attribute information, or highly customized coordinate notation.

### Current behavior
Coordinate conversi

[2019-02-04 15:52] dfoll opened #569 "Right-click to view values associated with points in the list"
This will be dependent on #568 being implemented first

[2019-02-04 15:53] dfoll opened #570 "Export includes non-coordinate fields that are associated with the List"
This is dependent onf #568 being completed first

[2019-02-05 00:30] rfeuerstein opened #571 "Address Lookup - geocode and reverse geocode"
A DOJ customer has requested to have an Address field within coordinate conversion widget.

- An address could be entered and the appropriate coordinates would be returned.
- A coordinate could be entered and a reverse geocode is calculated to determine nearest address
- User can click on the map to receive coordinates as well as a reverse geocode of the nearest address

[2019-02-05 16:12] csmoore commented on #539
I could not repro this issue release several different combinations of input/output coordinate display settings and map projections. The issue seems similar to #551 but the issue was reopened after that fix was #554 merged.

Recommend closing again until we have a consistent set of repro steps.

Tested on Pro 2.3 (final) and January, 2018 release

[2019-02-06 14:35] csmoore commented on #533
Addressed in #572 - Enlarged Halo and selected symbol small in ArcMap.

Should look like this now:

![image](https://user-images.githubusercontent.com/3090809/52348378-2751af80-29f2-11e9-8a21-b678ff46b40a.png)

[2019-02-06 15:12] dfoll commented on #533
Tested from feature branch.
![image](https://user-images.githubusercontent.com/5322669/52350955-ab5a6600-29f7-11e9-9422-4ea7d3d3d2a1.png)
Will build to Dev and test

[2019-02-06 15:21] dfoll commented on #533
Built
Commercial\Solutions\DefenseSolutions\CoordinateConversion\March2019\Dev\39
and
Commercial\Solutions\DefenseSolutions\MilitaryToolsForArcGIS\March2019\Dev\210

to finish testing

[2019-02-06 15:37] dfoll commented on #533
This is what it looks like testing from Commercial\Solutions\DefenseSolutions\MilitaryToolsForArcGIS\March2019\Dev\210
![image](https://user-images.githubusercontent.com/5322669/52352776-3e48cf80-29fb-11e9-9f58-f03d024cbd40.png)

[2019-02-06 21:21] dfoll commented on #533
doc is ready for review at
- https://solutionsdev.arcgis.com/defense/help/coordinate-conversion/resources/march-2019-coordinate-conversion.htm
- Commercial\Solutions\DefenseSolutions\CoordinateConversion\March2019\Dev\40
- https://solutionsdev.arcgis.com/defense/help/military-tools/resources/march-2019-military-tools-for-arcgis.htm
- Commercial\Solutions\DefenseSolutions\MilitaryToolsForArcGIS\Mar

[2019-02-07 14:54] BobBooth commented on #533
Tab nav works correctly on solutionsDev, March 2019 pages display for CC and MT.

[2019-02-07 23:34] lfunkhouser opened #573 "Buttons do not support dark theme"
Buttons on the Coordinate Conversion pane do not follow Dark theme schema used by ArcGIS Pro.

Input section of the add-in:
- [x] Select Point
- [x] Edit Properties
- [x] Map Point Tool

MT 3.3.1 February 2018 release
Tested in Pro 2.2 and 2.3
********************************************************************************
![image](https://user-images.githubusercontent.com/5322669/53098106-edec6a0

[2019-02-12 22:53] dfoll commented on #571
Pre-dev thoughts ideas

`- An address could be entered and the appropriate coordinates would be returned.
- A coordinate could be entered and a reverse geocode is calculated to determine nearest address
- User can click on the map to receive coordinates as well as a reverse geocode of the nearest address`

1. Missing from ootb functionality, is the ability to have the coordinate returned (address

[2019-02-13 16:05] lfunkhouser commented on #570
After this issue is updated with requirements, #338 will be closed.

[2019-02-13 16:15] lfunkhouser commented on #449
@dfoll going to review, update.

[2019-02-19 18:01] #539 closed

[2019-02-19 18:04] #533 closed

[2019-02-20 23:17] lfunkhouser opened #574 "Create GitHub release of code supporting the MT 3.3.1 release"
Create release from Master after dev merged into Master
Tag release with 4.2.1

[2019-02-21 01:45] csmoore opened #575 "DDM Formatter returning results in incorrect hemisphere"
The Coordinate Conversion Library is returning results in the incorrect hemisphere ( + / - appear reversed)

Tested on Pro 2.3/2.4, Releases: January, 2019, June, 2019, and October 2019 release candidate (4.4.1.169)

To reproduce:

**In Coordinate Conversion Addin**

1.  Add a DDM Output Coordinate Format
2. Configure the Coordinate Format Properties to use the custom format: `A+-0° B0.0###' X+-0°